/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package deadlock_api_client.apis

import deadlock_api_client.models.AnalyticsAbilityOrderStats
import deadlock_api_client.models.AnalyticsHeroStats
import deadlock_api_client.models.BadgeDistribution
import deadlock_api_client.models.BuildItemStats
import deadlock_api_client.models.Entry
import deadlock_api_client.models.HashMapValue
import deadlock_api_client.models.HeroCombStats
import deadlock_api_client.models.HeroCounterStats
import deadlock_api_client.models.HeroSynergyStats
import deadlock_api_client.models.ItemPermutationStats
import deadlock_api_client.models.ItemStats
import deadlock_api_client.models.KillDeathStats

import deadlock_api_client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder
import com.google.gson.Gson
import com.google.gson.GsonBuilder
import java.text.DateFormat

    open class AnalyticsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    jsonBlock: GsonBuilder.() -> Unit = ApiClient.JSON_DEFAULT,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
        jsonBlock,
    ) {

        /**
        * GET /v1/analytics/ability-order-stats
        * Ability Order Stats
        *  Retrieves statistics for the ability order of a hero.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param heroId See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; 
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minAbilityUpgrades Filter players based on their minimum number of ability upgrades over the whole match. (optional)
         * @param maxAbilityUpgrades Filter players based on their maximum number of ability upgrades over the whole match. (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param minMatches The minimum number of matches played for an ability order to be included in the response. (optional, default to 20)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<AnalyticsAbilityOrderStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun abilityOrderStats(heroId: kotlin.Int, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minAbilityUpgrades: kotlin.Long?, maxAbilityUpgrades: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, minMatches: kotlin.Int?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<AnalyticsAbilityOrderStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            heroId?.apply { localVariableQuery["hero_id"] = listOf("$heroId") }
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minAbilityUpgrades?.apply { localVariableQuery["min_ability_upgrades"] = listOf("$minAbilityUpgrades") }
            maxAbilityUpgrades?.apply { localVariableQuery["max_ability_upgrades"] = listOf("$maxAbilityUpgrades") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            minMatches?.apply { localVariableQuery["min_matches"] = listOf("$minMatches") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/ability-order-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/badge-distribution
        * Badge Distribution
        *  This endpoint returns the player badge distribution.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param isHighSkillRangeParties Filter matches based on whether they are in the high skill range. (optional)
         * @param isLowPriPool Filter matches based on whether they are in the low priority pool. (optional)
         * @param isNewPlayerPool Filter matches based on whether they are in the new player pool. (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @return kotlin.collections.List<BadgeDistribution>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun badgeDistribution(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, isHighSkillRangeParties: kotlin.Boolean?, isLowPriPool: kotlin.Boolean?, isNewPlayerPool: kotlin.Boolean?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?): HttpResponse<kotlin.collections.List<BadgeDistribution>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            isHighSkillRangeParties?.apply { localVariableQuery["is_high_skill_range_parties"] = listOf("$isHighSkillRangeParties") }
            isLowPriPool?.apply { localVariableQuery["is_low_pri_pool"] = listOf("$isLowPriPool") }
            isNewPlayerPool?.apply { localVariableQuery["is_new_player_pool"] = listOf("$isNewPlayerPool") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/badge-distribution",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/build-item-stats
        * Build Item Stats
        *  Retrieves item statistics from hero builds.  Results are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param heroId Filter builds based on the hero ID. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param minLastUpdatedUnixTimestamp Filter builds based on their last updated time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxLastUpdatedUnixTimestamp Filter builds based on their last updated time (Unix timestamp). (optional)
         * @return kotlin.collections.List<BuildItemStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun buildItemStats(heroId: kotlin.Int?, minLastUpdatedUnixTimestamp: kotlin.Long?, maxLastUpdatedUnixTimestamp: kotlin.Long?): HttpResponse<kotlin.collections.List<BuildItemStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            heroId?.apply { localVariableQuery["hero_id"] = listOf("$heroId") }
            minLastUpdatedUnixTimestamp?.apply { localVariableQuery["min_last_updated_unix_timestamp"] = listOf("$minLastUpdatedUnixTimestamp") }
            maxLastUpdatedUnixTimestamp?.apply { localVariableQuery["max_last_updated_unix_timestamp"] = listOf("$maxLastUpdatedUnixTimestamp") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/build-item-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/hero-comb-stats
        * Hero Comb Stats
        *  Retrieves overall statistics for each hero combination.  Results are cached for **1 hour**. The cache key is determined by the specific combination of filter parameters used in the query. Subsequent requests using the exact same filters within this timeframe will receive the cached response.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param includeHeroIds Comma separated list of hero ids to include. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param excludeHeroIds Comma separated list of hero ids to exclude. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param minMatches The minimum number of matches played for a hero combination to be included in the response. (optional, default to 20)
         * @param maxMatches The maximum number of matches played for a hero combination to be included in the response. (optional)
         * @param combSize The combination size to return. (optional, default to 6)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<HeroCombStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroCombStats(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, includeHeroIds: kotlin.collections.List<kotlin.Int>?, excludeHeroIds: kotlin.collections.List<kotlin.Int>?, minMatches: kotlin.Int?, maxMatches: kotlin.Int?, combSize: kotlin.Int?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<HeroCombStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            includeHeroIds?.apply { localVariableQuery["include_hero_ids"] = toMultiValue(this, "multi") }
            excludeHeroIds?.apply { localVariableQuery["exclude_hero_ids"] = toMultiValue(this, "multi") }
            minMatches?.apply { localVariableQuery["min_matches"] = listOf("$minMatches") }
            maxMatches?.apply { localVariableQuery["max_matches"] = listOf("$maxMatches") }
            combSize?.apply { localVariableQuery["comb_size"] = listOf("$combSize") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/hero-comb-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/hero-counter-stats
        * Hero Counter Stats
        *  Retrieves hero-versus-hero matchup statistics based on historical match data.  This endpoint analyzes completed matches to calculate how often a specific hero (&#x60;hero_id&#x60;) wins against an enemy hero (&#x60;enemy_hero_id&#x60;) and the total number of times they have faced each other under the specified filter conditions.  Results are cached for **1 hour** based on the combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minEnemyNetworth Filter enemy players based on their net worth. (optional)
         * @param maxEnemyNetworth Filter enemy players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param sameLaneFilter When &#x60;true&#x60;, only considers matchups where both &#x60;hero_id&#x60; and &#x60;enemy_hero_id&#x60; were assigned to the same lane (e.g., both Mid Lane). When &#x60;false&#x60;, considers all matchups regardless of assigned lane. (optional, default to true)
         * @param minMatches The minimum number of matches played for a hero combination to be included in the response. (optional, default to 20L)
         * @param maxMatches The maximum number of matches played for a hero combination to be included in the response. (optional)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<HeroCounterStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroCountersStats(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minEnemyNetworth: kotlin.Long?, maxEnemyNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, sameLaneFilter: kotlin.Boolean?, minMatches: kotlin.Long?, maxMatches: kotlin.Int?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<HeroCounterStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minEnemyNetworth?.apply { localVariableQuery["min_enemy_networth"] = listOf("$minEnemyNetworth") }
            maxEnemyNetworth?.apply { localVariableQuery["max_enemy_networth"] = listOf("$maxEnemyNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            sameLaneFilter?.apply { localVariableQuery["same_lane_filter"] = listOf("$sameLaneFilter") }
            minMatches?.apply { localVariableQuery["min_matches"] = listOf("$minMatches") }
            maxMatches?.apply { localVariableQuery["max_matches"] = listOf("$maxMatches") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/hero-counter-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/scoreboards/heroes
        * Hero Scoreboard
        *  This endpoint returns the hero scoreboard.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param sortBy The field to sort by. 
         * @param sortDirection The direction to sort heroes in. (optional)
         * @param minMatches Filter by min number of matches played. (optional)
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<Entry>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroScoreboard(sortBy: kotlin.String, sortDirection: kotlin.String?, minMatches: kotlin.Int?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<Entry>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            sortBy?.apply { localVariableQuery["sort_by"] = listOf("$sortBy") }
            sortDirection?.apply { localVariableQuery["sort_direction"] = listOf("$sortDirection") }
            minMatches?.apply { localVariableQuery["min_matches"] = listOf("$minMatches") }
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/scoreboards/heroes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/hero-stats
        * Hero Stats
        *  Retrieves performance statistics for each hero based on historical match data.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param bucket Bucket allows you to group the stats by a specific field. (optional)
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param minHeroMatches Filter players based on the number of matches they have played with a specific hero within the filtered time range. (optional)
         * @param maxHeroMatches Filter players based on the number of matches they have played with a specific hero within the filtered time range. (optional)
         * @param minHeroMatchesTotal Filter players based on the number of matches they have played with a specific hero in their entire history. (optional)
         * @param maxHeroMatchesTotal Filter players based on the number of matches they have played with a specific hero in their entire history. (optional)
         * @param includeItemIds Comma separated list of item ids to include (only heroes who have purchased these items). See more: &lt;https://assets.deadlock-api.com/v2/items&gt; (optional)
         * @param excludeItemIds Comma separated list of item ids to exclude (only heroes who have not purchased these items). See more: &lt;https://assets.deadlock-api.com/v2/items&gt; (optional)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<AnalyticsHeroStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroStats(bucket: kotlin.String?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, minHeroMatches: kotlin.Long?, maxHeroMatches: kotlin.Long?, minHeroMatchesTotal: kotlin.Long?, maxHeroMatchesTotal: kotlin.Long?, includeItemIds: kotlin.collections.List<kotlin.Int>?, excludeItemIds: kotlin.collections.List<kotlin.Int>?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<AnalyticsHeroStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            bucket?.apply { localVariableQuery["bucket"] = listOf("$bucket") }
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            minHeroMatches?.apply { localVariableQuery["min_hero_matches"] = listOf("$minHeroMatches") }
            maxHeroMatches?.apply { localVariableQuery["max_hero_matches"] = listOf("$maxHeroMatches") }
            minHeroMatchesTotal?.apply { localVariableQuery["min_hero_matches_total"] = listOf("$minHeroMatchesTotal") }
            maxHeroMatchesTotal?.apply { localVariableQuery["max_hero_matches_total"] = listOf("$maxHeroMatchesTotal") }
            includeItemIds?.apply { localVariableQuery["include_item_ids"] = toMultiValue(this, "multi") }
            excludeItemIds?.apply { localVariableQuery["exclude_item_ids"] = toMultiValue(this, "multi") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/hero-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/hero-synergy-stats
        * Hero Synergy Stats
        *  Retrieves hero pair synergy statistics based on historical match data.  This endpoint analyzes completed matches to calculate how often a specific pair of heroes (&#x60;hero_id1&#x60; and &#x60;hero_id2&#x60;) won when playing *together on the same team*, and the total number of times they have played together under the specified filter conditions.  Results are cached for **1 hour** based on the combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param sameLaneFilter When &#x60;true&#x60;, only considers matchups where both &#x60;hero_id1&#x60; and &#x60;hero_id2&#x60; were assigned to the same lane (e.g., both Mid Lane). When &#x60;false&#x60;, considers all matchups regardless of assigned lane. (optional, default to true)
         * @param samePartyFilter When &#x60;true&#x60;, only considers matchups where both &#x60;hero_id&#x60; and &#x60;hero_id2&#x60; were on the same party. When &#x60;false&#x60;, considers all matchups regardless of party affiliation. (optional, default to true)
         * @param minMatches The minimum number of matches played for a hero combination to be included in the response. (optional, default to 20L)
         * @param maxMatches The maximum number of matches played for a hero combination to be included in the response. (optional)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<HeroSynergyStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroSynergiesStats(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, sameLaneFilter: kotlin.Boolean?, samePartyFilter: kotlin.Boolean?, minMatches: kotlin.Long?, maxMatches: kotlin.Int?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<HeroSynergyStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            sameLaneFilter?.apply { localVariableQuery["same_lane_filter"] = listOf("$sameLaneFilter") }
            samePartyFilter?.apply { localVariableQuery["same_party_filter"] = listOf("$samePartyFilter") }
            minMatches?.apply { localVariableQuery["min_matches"] = listOf("$minMatches") }
            maxMatches?.apply { localVariableQuery["max_matches"] = listOf("$maxMatches") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/hero-synergy-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/item-permutation-stats
        * Item Permutation Stats
        *  Retrieves item permutation statistics based on historical match data.  Results are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param itemIds Comma separated list of item ids. See more: &lt;https://assets.deadlock-api.com/v2/items&gt; (optional)
         * @param combSize The combination size to return. (optional, default to 2)
         * @param heroIds Filter matches based on the hero IDs. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param heroId Filter matches based on the hero ID. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<ItemPermutationStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun itemPermutationStats(itemIds: kotlin.collections.List<kotlin.Int>?, combSize: kotlin.Int?, heroIds: kotlin.String?, heroId: kotlin.Int?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<ItemPermutationStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            itemIds?.apply { localVariableQuery["item_ids"] = toMultiValue(this, "multi") }
            combSize?.apply { localVariableQuery["comb_size"] = listOf("$combSize") }
            heroIds?.apply { localVariableQuery["hero_ids"] = listOf("$heroIds") }
            heroId?.apply { localVariableQuery["hero_id"] = listOf("$heroId") }
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/item-permutation-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/item-stats
        * Item Stats
        *  Retrieves item statistics based on historical match data.  Results are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param bucket Bucket allows you to group the stats by a specific field. (optional)
         * @param heroIds Filter matches based on the hero IDs. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param heroId Filter matches based on the hero ID. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param includeItemIds Comma separated list of item ids to include. See more: &lt;https://assets.deadlock-api.com/v2/items&gt; (optional)
         * @param excludeItemIds Comma separated list of item ids to exclude. See more: &lt;https://assets.deadlock-api.com/v2/items&gt; (optional)
         * @param minMatches The minimum number of matches played for an item to be included in the response. (optional, default to 20)
         * @param maxMatches The maximum number of matches played for a hero combination to be included in the response. (optional)
         * @param accountId Filter for matches with a specific player account ID. (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<ItemStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun itemStats(bucket: kotlin.String?, heroIds: kotlin.String?, heroId: kotlin.Int?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, includeItemIds: kotlin.collections.List<kotlin.Int>?, excludeItemIds: kotlin.collections.List<kotlin.Int>?, minMatches: kotlin.Int?, maxMatches: kotlin.Int?, accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<ItemStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            bucket?.apply { localVariableQuery["bucket"] = listOf("$bucket") }
            heroIds?.apply { localVariableQuery["hero_ids"] = listOf("$heroIds") }
            heroId?.apply { localVariableQuery["hero_id"] = listOf("$heroId") }
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            includeItemIds?.apply { localVariableQuery["include_item_ids"] = toMultiValue(this, "multi") }
            excludeItemIds?.apply { localVariableQuery["exclude_item_ids"] = toMultiValue(this, "multi") }
            minMatches?.apply { localVariableQuery["min_matches"] = listOf("$minMatches") }
            maxMatches?.apply { localVariableQuery["max_matches"] = listOf("$maxMatches") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/item-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/kill-death-stats
        * Kill Death Stats
        *  This endpoint returns the kill-death statistics across a 100x100 pixel raster.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param accountIds Filter matches by account IDs of players that participated in the match. (optional)
         * @param heroIds Filter matches based on the hero IDs. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param isHighSkillRangeParties Filter matches based on whether they are in the high skill range. (optional)
         * @param isLowPriPool Filter matches based on whether they are in the low priority pool. (optional)
         * @param isNewPlayerPool Filter matches based on whether they are in the new player pool. (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minKillsPerRaster Filter Raster cells based on minimum kills. (optional, default to 1)
         * @param maxKillsPerRaster Filter Raster cells based on maximum kills. (optional)
         * @param minDeathsPerRaster Filter Raster cells based on minimum deaths. (optional, default to 1)
         * @param maxDeathsPerRaster Filter Raster cells based on maximum deaths. (optional)
         * @param minGameTimeS Filter kills based on their game time. (optional)
         * @param maxGameTimeS Filter kills based on their game time. (optional)
         * @return kotlin.collections.List<KillDeathStats>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun killDeathStats(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, accountIds: kotlin.collections.List<kotlin.Int>?, heroIds: kotlin.String?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, isHighSkillRangeParties: kotlin.Boolean?, isLowPriPool: kotlin.Boolean?, isNewPlayerPool: kotlin.Boolean?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minKillsPerRaster: kotlin.Int?, maxKillsPerRaster: kotlin.Int?, minDeathsPerRaster: kotlin.Int?, maxDeathsPerRaster: kotlin.Int?, minGameTimeS: kotlin.Int?, maxGameTimeS: kotlin.Int?): HttpResponse<kotlin.collections.List<KillDeathStats>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }
            heroIds?.apply { localVariableQuery["hero_ids"] = listOf("$heroIds") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            isHighSkillRangeParties?.apply { localVariableQuery["is_high_skill_range_parties"] = listOf("$isHighSkillRangeParties") }
            isLowPriPool?.apply { localVariableQuery["is_low_pri_pool"] = listOf("$isLowPriPool") }
            isNewPlayerPool?.apply { localVariableQuery["is_new_player_pool"] = listOf("$isNewPlayerPool") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minKillsPerRaster?.apply { localVariableQuery["min_kills_per_raster"] = listOf("$minKillsPerRaster") }
            maxKillsPerRaster?.apply { localVariableQuery["max_kills_per_raster"] = listOf("$maxKillsPerRaster") }
            minDeathsPerRaster?.apply { localVariableQuery["min_deaths_per_raster"] = listOf("$minDeathsPerRaster") }
            maxDeathsPerRaster?.apply { localVariableQuery["max_deaths_per_raster"] = listOf("$maxDeathsPerRaster") }
            minGameTimeS?.apply { localVariableQuery["min_game_time_s"] = listOf("$minGameTimeS") }
            maxGameTimeS?.apply { localVariableQuery["max_game_time_s"] = listOf("$maxGameTimeS") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/kill-death-stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/scoreboards/players
        * Player Scoreboard
        *  This endpoint returns the player scoreboard.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param sortBy The field to sort by. 
         * @param sortDirection The direction to sort players in. (optional)
         * @param heroId Filter matches based on the hero ID. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param minMatches The minimum number of matches played for a player to be included in the scoreboard. (optional, default to 20)
         * @param maxMatches The maximum number of matches played for a hero combination to be included in the response. (optional)
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param start The offset to start fetching players from. (optional)
         * @param limit The maximum number of players to fetch. (optional, default to 100)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.List<Entry>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun playerScoreboard(sortBy: kotlin.String, sortDirection: kotlin.String?, heroId: kotlin.Int?, minMatches: kotlin.Int?, maxMatches: kotlin.Int?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, start: kotlin.Int?, limit: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.List<Entry>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            sortBy?.apply { localVariableQuery["sort_by"] = listOf("$sortBy") }
            sortDirection?.apply { localVariableQuery["sort_direction"] = listOf("$sortDirection") }
            heroId?.apply { localVariableQuery["hero_id"] = listOf("$heroId") }
            minMatches?.apply { localVariableQuery["min_matches"] = listOf("$minMatches") }
            maxMatches?.apply { localVariableQuery["max_matches"] = listOf("$maxMatches") }
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            start?.apply { localVariableQuery["start"] = listOf("$start") }
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/scoreboards/players",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/analytics/player-stats/metrics
        * Player Stats Metrics
        *  Returns comprehensive statistical analysis of player performance.  Results are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.  &gt; Note: Quantiles are calculated using the [DDSketch](https://www.vldb.org/pvldb/vol12/p2195-masson.pdf) algorithm, so they are not exact but have a maximum relative error of 0.01.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param heroIds Filter matches based on the hero IDs. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param minNetworth Filter players based on their net worth. (optional)
         * @param maxNetworth Filter players based on their net worth. (optional)
         * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://assets.deadlock-api.com/v2/ranks&gt; (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @param maxMatches The maximum number of matches to analyze. (optional)
         * @param includeItemIds Comma separated list of item ids to include (only heroes who have purchased these items). See more: &lt;https://assets.deadlock-api.com/v2/items&gt; (optional)
         * @param excludeItemIds Comma separated list of item ids to exclude (only heroes who have not purchased these items). See more: &lt;https://assets.deadlock-api.com/v2/items&gt; (optional)
         * @param accountIds Comma separated list of account ids to include (optional)
         * @return kotlin.collections.Map<kotlin.String, HashMapValue>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun playerStatsMetrics(heroIds: kotlin.String?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minNetworth: kotlin.Long?, maxNetworth: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, maxMatches: kotlin.Int?, includeItemIds: kotlin.collections.List<kotlin.Int>?, excludeItemIds: kotlin.collections.List<kotlin.Int>?, accountIds: kotlin.collections.List<kotlin.Int>?): HttpResponse<kotlin.collections.Map<kotlin.String, HashMapValue>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            heroIds?.apply { localVariableQuery["hero_ids"] = listOf("$heroIds") }
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            minNetworth?.apply { localVariableQuery["min_networth"] = listOf("$minNetworth") }
            maxNetworth?.apply { localVariableQuery["max_networth"] = listOf("$maxNetworth") }
            minAverageBadge?.apply { localVariableQuery["min_average_badge"] = listOf("$minAverageBadge") }
            maxAverageBadge?.apply { localVariableQuery["max_average_badge"] = listOf("$maxAverageBadge") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }
            maxMatches?.apply { localVariableQuery["max_matches"] = listOf("$maxMatches") }
            includeItemIds?.apply { localVariableQuery["include_item_ids"] = toMultiValue(this, "multi") }
            excludeItemIds?.apply { localVariableQuery["exclude_item_ids"] = toMultiValue(this, "multi") }
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/analytics/player-stats/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
