/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package deadlock_api_client.apis

import deadlock_api_client.models.Build

import deadlock_api_client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder
import com.google.gson.Gson
import com.google.gson.GsonBuilder
import java.text.DateFormat

    open class BuildsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    jsonBlock: GsonBuilder.() -> Unit = ApiClient.JSON_DEFAULT,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
        jsonBlock,
    ) {

        /**
        * GET /v1/builds
        * Search
        *  Search for builds based on various criteria.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @param minUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
         * @param maxUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
         * @param minPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
         * @param maxPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
         * @param sortBy The field to sort the builds by. (optional)
         * @param start The index of the first build to return. (optional)
         * @param limit The maximum number of builds to return. (optional, default to 100)
         * @param sortDirection The direction to sort the builds in. (optional)
         * @param searchName Search for builds with a name containing this string. (optional)
         * @param searchDescription Search for builds with a description containing this string. (optional)
         * @param onlyLatest Only return the latest version of each build. (optional)
         * @param language Filter builds by language. (optional)
         * @param buildId Filter builds by ID. (optional)
         * @param version Filter builds by version. (optional)
         * @param heroId Filter builds by hero ID. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; (optional)
         * @param tag Filter builds by tag. (optional)
         * @param rollupCategory Filter builds by rollup category. (optional)
         * @param authorId The author&#39;s &#x60;SteamID3&#x60; (optional)
         * @return kotlin.collections.List<Build>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun searchBuilds(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minPublishedUnixTimestamp: kotlin.Long?, maxPublishedUnixTimestamp: kotlin.Long?, sortBy: kotlin.String?, start: kotlin.Int?, limit: kotlin.Int?, sortDirection: kotlin.String?, searchName: kotlin.String?, searchDescription: kotlin.String?, onlyLatest: kotlin.Boolean?, language: kotlin.Int?, buildId: kotlin.Int?, version: kotlin.Int?, heroId: kotlin.Int?, tag: kotlin.Int?, rollupCategory: kotlin.Int?, authorId: kotlin.Int?): HttpResponse<kotlin.collections.List<Build>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minPublishedUnixTimestamp?.apply { localVariableQuery["min_published_unix_timestamp"] = listOf("$minPublishedUnixTimestamp") }
            maxPublishedUnixTimestamp?.apply { localVariableQuery["max_published_unix_timestamp"] = listOf("$maxPublishedUnixTimestamp") }
            sortBy?.apply { localVariableQuery["sort_by"] = listOf("$sortBy") }
            start?.apply { localVariableQuery["start"] = listOf("$start") }
            limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
            sortDirection?.apply { localVariableQuery["sort_direction"] = listOf("$sortDirection") }
            searchName?.apply { localVariableQuery["search_name"] = listOf("$searchName") }
            searchDescription?.apply { localVariableQuery["search_description"] = listOf("$searchDescription") }
            onlyLatest?.apply { localVariableQuery["only_latest"] = listOf("$onlyLatest") }
            language?.apply { localVariableQuery["language"] = listOf("$language") }
            buildId?.apply { localVariableQuery["build_id"] = listOf("$buildId") }
            version?.apply { localVariableQuery["version"] = listOf("$version") }
            heroId?.apply { localVariableQuery["hero_id"] = listOf("$heroId") }
            tag?.apply { localVariableQuery["tag"] = listOf("$tag") }
            rollupCategory?.apply { localVariableQuery["rollup_category"] = listOf("$rollupCategory") }
            authorId?.apply { localVariableQuery["author_id"] = listOf("$authorId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/builds",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
