/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package deadlock_api_client.apis

import deadlock_api_client.models.VariableDescription

import deadlock_api_client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder
import com.google.gson.Gson
import com.google.gson.GsonBuilder
import java.text.DateFormat

    open class CommandsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    jsonBlock: GsonBuilder.() -> Unit = ApiClient.JSON_DEFAULT,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
        jsonBlock,
    ) {

        /**
        * GET /v1/commands/variables/available
        * Available Variables
        *  Returns a list of available variables that can be used in the command endpoint.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
         * @return kotlin.collections.List<VariableDescription>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun availableVariables(): HttpResponse<kotlin.collections.List<VariableDescription>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/commands/variables/available",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/commands/resolve
        * Resolve Command
        *      Resolves a command and returns the resolved command.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 60req/60s | | Key | - | | Global | 300req/60s |     
         * @param accountId The players &#x60;SteamID3&#x60; 
         * @param region The players region (optional)
         * @param template The command template to resolve (optional)
         * @param heroName Hero name to check for hero specific stats (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun commandResolve(accountId: kotlin.Int, region: kotlin.String?, template: kotlin.String?, heroName: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            region?.apply { localVariableQuery["region"] = listOf("$region") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            template?.apply { localVariableQuery["template"] = listOf("$template") }
            heroName?.apply { localVariableQuery["hero_name"] = listOf("$heroName") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/commands/resolve",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/commands/variables/resolve
        * Resolve Variables
        *  Resolves variables and returns a map of variable name to resolved value.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 60req/min | | Key | - | | Global | 300req/min |     
         * @param accountId  
         * @param region  (optional)
         * @param variables Variables to resolve, separated by commas. (optional)
         * @param heroName Hero name to check for hero specific stats (optional)
         * @return kotlin.collections.Map<kotlin.String, kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun variablesResolve(accountId: kotlin.Int, region: kotlin.String?, variables: kotlin.String?, heroName: kotlin.String?): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.String>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            region?.apply { localVariableQuery["region"] = listOf("$region") }
            accountId?.apply { localVariableQuery["account_id"] = listOf("$accountId") }
            variables?.apply { localVariableQuery["variables"] = listOf("$variables") }
            heroName?.apply { localVariableQuery["hero_name"] = listOf("$heroName") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/commands/variables/resolve",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/commands/widgets/versions
        * Widget Versions
        *  Returns a map of str-&gt;int of widget versions.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - | 
         * @return kotlin.collections.Map<kotlin.String, kotlin.Int>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun widgetVersions(): HttpResponse<kotlin.collections.Map<kotlin.String, kotlin.Int>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/commands/widgets/versions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
