/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package deadlock_api_client.apis

import deadlock_api_client.models.DistributionEntry
import deadlock_api_client.models.MMRHistory

import deadlock_api_client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder
import com.google.gson.Gson
import com.google.gson.GsonBuilder
import java.text.DateFormat

    open class MMRApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    jsonBlock: GsonBuilder.() -> Unit = ApiClient.JSON_DEFAULT,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
        jsonBlock,
    ) {

        /**
        * GET /v1/players/mmr/{hero_id}
        * Batch Hero MMR
        *  Batch Player Hero MMR 
         * @param heroId The hero ID to fetch the MMR history for. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; 
         * @param accountIds Comma separated list of account ids, Account IDs are in &#x60;SteamID3&#x60; format. 
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @return kotlin.collections.List<MMRHistory>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroMmr(heroId: kotlin.Int, accountIds: kotlin.collections.List<kotlin.Int>, maxMatchId: kotlin.Long?): HttpResponse<kotlin.collections.List<MMRHistory>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/players/mmr/{hero_id}".replace("{" + "hero_id" + "}", "$heroId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/players/mmr/distribution/{hero_id}
        * Hero MMR Distribution
        *  Player Hero MMR Distribution 
         * @param heroId The hero ID to fetch the MMR history for. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; 
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param isHighSkillRangeParties Filter matches based on whether they are in the high skill range. (optional)
         * @param isLowPriPool Filter matches based on whether they are in the low priority pool. (optional)
         * @param isNewPlayerPool Filter matches based on whether they are in the new player pool. (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @return kotlin.collections.List<DistributionEntry>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroMmrDistribution(heroId: kotlin.Int, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, isHighSkillRangeParties: kotlin.Boolean?, isLowPriPool: kotlin.Boolean?, isNewPlayerPool: kotlin.Boolean?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?): HttpResponse<kotlin.collections.List<DistributionEntry>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            isHighSkillRangeParties?.apply { localVariableQuery["is_high_skill_range_parties"] = listOf("$isHighSkillRangeParties") }
            isLowPriPool?.apply { localVariableQuery["is_low_pri_pool"] = listOf("$isLowPriPool") }
            isNewPlayerPool?.apply { localVariableQuery["is_new_player_pool"] = listOf("$isNewPlayerPool") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/players/mmr/distribution/{hero_id}".replace("{" + "hero_id" + "}", "$heroId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/players/{account_id}/mmr-history/{hero_id}
        * Hero MMR History
        * Player Hero MMR History
         * @param accountId The players &#x60;SteamID3&#x60; 
         * @param heroId The hero ID to fetch the MMR history for. See more: &lt;https://assets.deadlock-api.com/v2/heroes&gt; 
         * @return kotlin.collections.List<MMRHistory>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun heroMmrHistory(accountId: kotlin.Int, heroId: kotlin.Int): HttpResponse<kotlin.collections.List<MMRHistory>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/players/{account_id}/mmr-history/{hero_id}".replace("{" + "account_id" + "}", "$accountId").replace("{" + "hero_id" + "}", "$heroId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/players/mmr
        * Batch MMR
        *  Batch Player MMR 
         * @param accountIds Comma separated list of account ids, Account IDs are in &#x60;SteamID3&#x60; format. 
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @return kotlin.collections.List<MMRHistory>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun mmr(accountIds: kotlin.collections.List<kotlin.Int>, maxMatchId: kotlin.Long?): HttpResponse<kotlin.collections.List<MMRHistory>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            accountIds?.apply { localVariableQuery["account_ids"] = toMultiValue(this, "multi") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/players/mmr",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/players/mmr/distribution
        * MMR Distribution
        *  Player MMR Distribution 
         * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. (optional, default to 1761091200L)
         * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
         * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
         * @param isHighSkillRangeParties Filter matches based on whether they are in the high skill range. (optional)
         * @param isLowPriPool Filter matches based on whether they are in the low priority pool. (optional)
         * @param isNewPlayerPool Filter matches based on whether they are in the new player pool. (optional)
         * @param minMatchId Filter matches based on their ID. (optional)
         * @param maxMatchId Filter matches based on their ID. (optional)
         * @return kotlin.collections.List<DistributionEntry>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun mmrDistribution(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, isHighSkillRangeParties: kotlin.Boolean?, isLowPriPool: kotlin.Boolean?, isNewPlayerPool: kotlin.Boolean?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?): HttpResponse<kotlin.collections.List<DistributionEntry>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            minUnixTimestamp?.apply { localVariableQuery["min_unix_timestamp"] = listOf("$minUnixTimestamp") }
            maxUnixTimestamp?.apply { localVariableQuery["max_unix_timestamp"] = listOf("$maxUnixTimestamp") }
            minDurationS?.apply { localVariableQuery["min_duration_s"] = listOf("$minDurationS") }
            maxDurationS?.apply { localVariableQuery["max_duration_s"] = listOf("$maxDurationS") }
            isHighSkillRangeParties?.apply { localVariableQuery["is_high_skill_range_parties"] = listOf("$isHighSkillRangeParties") }
            isLowPriPool?.apply { localVariableQuery["is_low_pri_pool"] = listOf("$isLowPriPool") }
            isNewPlayerPool?.apply { localVariableQuery["is_new_player_pool"] = listOf("$isNewPlayerPool") }
            minMatchId?.apply { localVariableQuery["min_match_id"] = listOf("$minMatchId") }
            maxMatchId?.apply { localVariableQuery["max_match_id"] = listOf("$maxMatchId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/players/mmr/distribution",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /v1/players/{account_id}/mmr-history
        * MMR History
        * Player MMR History
         * @param accountId The players &#x60;SteamID3&#x60; 
         * @return kotlin.collections.List<MMRHistory>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun mmrHistory(accountId: kotlin.Int): HttpResponse<kotlin.collections.List<MMRHistory>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v1/players/{account_id}/mmr-history".replace("{" + "account_id" + "}", "$accountId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
