openapi: 3.1.0
info:
  contact:
    name: Deadlock API - Discord
    url: https://discord.gg/XMF9Xrgfqu
  description: "\n## API Clients\n\nWe have auto generated and updated clients for\
    \ many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)\n\
    \n## Support the Deadlock API\n\nWhether you're building your own database, developing\
    \ data science projects, or enhancing your website with game and player analytics,\
    \ the Deadlock API has the data you need.\n\nYour sponsorship helps keep this\
    \ resource open, free and future-proof for everyone. By supporting the Deadlock\
    \ API, you will enable continued development, new features and reliable access\
    \ for developers, analysts and streamers worldwide.\n\nHelp us continue to provide\
    \ the data you need - sponsor the Deadlock API today!\n\n**-> You can Sponsor\
    \ the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or\
    \ [GitHub](https://github.com/sponsors/raimannma)**\n\n## Disclaimer\n_deadlock-api.com\
    \ is not endorsed by Valve and does not reflect the views or opinions of Valve\
    \ or anyone officially involved in producing or managing Valve properties. Valve\
    \ and all associated properties are trademarks or registered trademarks of Valve\
    \ Corporation_\n        "
  license:
    name: MIT
    url: https://github.com/deadlock-api/deadlock-api/blob/master/LICENSE
  title: Deadlock API
  version: 0.1.0
externalDocs:
  description: Source Code
  url: https://github.com/deadlock-api/deadlock-api
servers:
- url: https://api.deadlock-api.com
tags:
- description: Endpoints that return data about game patches.
  name: Patches
- description: |2

    Comprehensive match data endpoints for retrieving detailed information about games.
    Provides access to active matches, match metadata, replay salts, and more.
  name: Matches
- description: Custom Match related endpoints
  name: Custom Matches
- description: |2

    Query and inspect match demo files: discover the queryable schema and run SQL extractions
    over a demo's entity and event tables.
  name: Demo
- description: Player related endpoints
  name: Players
- description: "\n# DEPRECATED! READ THIS FIRST!\n\nAll MMR endpoints are deprecated\
    \ and will be removed. We no longer estimate a MMR: Valve reports the\nactual\
    \ rank on ranked matches, and these endpoints now serve that rank instead of the\
    \ old exponential\nmoving average over team average badges.\n\nMigrate to:\n\n\
    | Deprecated | Replacement |\n| ---------- | ----------- |\n| `/v1/players/mmr`,\
    \ `/v1/players/mmr/{hero_id}` | `/v1/players/{account_id}/rank` |\n| `/v1/players/mmr/distribution`,\
    \ `/v1/players/mmr/distribution/{hero_id}` | `/v1/analytics/badge-distribution`\
    \ |\n| `/v1/players/{account_id}/mmr-history`, `/v1/players/{account_id}/mmr-history/{hero_id}`\
    \ | `ranked_display_badge` / `ranked_delta` in `/v1/players/{account_id}/match-history`\
    \ |\n\nSince ranks only exist on ranked matches, players without one are missing\
    \ from the responses, and the\nhero-scoped variants no longer differ per hero:\
    \ they report the account-wide rank restricted to\nmatches played on that hero.\n\
    \n### Rate Limits:\n\nThe rank and rank-history endpoints share one bucket:\n\n\
    | Type | Limit |\n| ---- | ----- |\n| IP | 20req/min |\n| Key | 100req/min & 2000req/h\
    \ |\n| Global | 200req/min |\n\nThe distribution endpoints aggregate over every\
    \ ranked match and are far more expensive, so they\nhave their own, tighter bucket:\n\
    \n| Type | Limit |\n| ---- | ----- |\n| IP | 5req/min |\n| Key | 25req/min |\n\
    | Global | 50req/min |\n    "
  name: MMR
- description: Steam related endpoints
  name: Steam
- description: |2

    Endpoints for retrieving global and hero-specific leaderboards.
    Supports filtering by region and provides data in both JSON and protobuf formats.
  name: Leaderboard
- description: |2

    Comprehensive game statistics and analysis endpoints.
    Provides detailed performance metrics for heroes, items, and players, including hero synergies, counters, and combinations.
    Features scoreboards for both heroes and players.
  name: Analytics
- description: |2

    Search and retrieve hero builds with comprehensive filtering options.
  name: Builds
- description: |2

    Integration endpoints for the [Deadlock Streamkit](https://streamkit.deadlock-api.com/).
    Provides functionality to resolve dynamic command templates and variables for streaming overlays and chat commands.
    Includes endpoints to retrieve available variables, resolve specific variables or command templates, and get widget version information.
  name: Commands
- description: |2

    System status and info endpoints.
    Provides health checks for monitoring service availability (Clickhouse, Postgres, Redis) and API statistics including database table sizes, match fetching rates, and missed matches.
  name: Info
- description: |2

    Database exploration endpoints for direct SQL access.
    Provides functionality to execute custom SQL queries with rate limiting protection, list available tables, and inspect table schemas.
  name: SQL
- description: |2

    Game server status and listing endpoints.
    Used by game servers to report their status and by clients to discover available servers.
  name: Servers
- description: Accolade definitions derived from per-version game data files.
  name: Accolades
- description: Build tag definitions derived from per-version localization keys.
  name: Build Tags
- description: Known Deadlock client/game versions with versioned assets available.
  name: Client Versions
- description: Panorama color palette from per-version `citadel_base_styles.css`.
  name: Colors
- description: Game-wide generic configuration derived from per-version `generic_data.vdata`.
  name: Generic Data
- description: Hero metadata derived from per-version game data files.
  name: Heroes
- description: "Item, ability, and weapon definitions parsed from the patch's KV3\
    \ source files."
  name: Items
- description: Loot table definitions derived from per-version game data files.
  name: Loot Tables
- description: "Map metadata: minimap radius, image-layer URLs, objective marker positions\
    \ (from per-version `objectives_map.css`), and the zip-line lane splines."
  name: Map
- description: "Misc entity definitions (powerup spawners, breakable props, neutral\
    \ camps, capture points, …) derived from per-version game data files."
  name: Misc Entities
- description: NPC unit definitions derived from per-version game data files.
  name: NPC Units
- description: "File-tree indexes of static assets (images, icons, sounds, fonts)\
    \ hosted on the CDN, mapping each asset's name to its public URL."
  name: Assets
- description: Ranked season definitions derived from per-version game data files.
  name: Ranked Seasons
- description: "Per-rank metadata (name, tier color, badge image URLs) derived from\
    \ per-version game data files."
  name: Ranks
- description: "Per-version `steam.inf` manifest (client/server version, app IDs,\
    \ build timestamp)."
  name: Steam Info
- description: |2

    GraphQL API for flexible match and player queries.

    Visit [/v1/graphql](/v1/graphql) in a browser for the interactive GraphiQL playground.
  name: GraphQL
paths:
  /v1/analytics/ability-order-stats:
    get:
      description: "\nRetrieves statistics for the ability order of a hero.\n\n###\
        \ Rate Limits:\n> The rate limits below are **shared across all analytics\
        \ endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n\
        | Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: ability_order_stats
      parameters:
      - description: "See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their minimum number of ability upgrades
          over the whole match.
        explode: true
        in: query
        name: min_ability_upgrades
        required: false
        schema:
          format: int64
          maximum: 16
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their maximum number of ability upgrades
          over the whole match.
        explode: true
        in: query
        name: max_ability_upgrades
        required: false
        schema:
          format: int64
          maximum: 16
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches played for an ability order to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of item ids to include (only players who\
          \ have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of item ids to exclude (only players who\
          \ have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsAbilityOrderStats"
                type: array
                default: null
          description: Ability Order Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch ability order stats
      summary: Ability Order Stats
      tags:
      - Analytics
  /v1/analytics/badge-distribution:
    get:
      description: "\nThis endpoint returns the player badge distribution.\n\n`total_matches`\
        \ counts matches by their average badge, while `unique_players` counts players\
        \ by the\nrank Valve reported at the end of their latest ranked match within\
        \ the filtered range. Since only\nranked matches carry a rank, `unique_players`\
        \ ignores the `match_mode` filter and always looks at\nranked matches.\n\n\
        Ranks exist only from the first ranked season on, so `min_unix_timestamp`\
        \ is clamped to its start.\n\n### Rate Limits:\n> The rate limits below are\
        \ **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- |\
        \ ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min\
        \ |\n    "
      operationId: badge_distribution
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: |-
          Filter matches based on their start time (Unix timestamp). Values below the start of the
          first ranked season (1785430800) are clamped to it. **Default:** 30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on whether they are in the high skill range.
        explode: true
        in: query
        name: is_high_skill_range_parties
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the low priority
          pool.
        explode: true
        in: query
        name: is_low_pri_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the new player pool.
        explode: true
        in: query
        name: is_new_player_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BadgeDistribution"
                type: array
                default: null
          description: Badge Distribution
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch badge distribution
      summary: Badge Distribution
      tags:
      - Analytics
  /v1/analytics/build-item-stats:
    get:
      description: "\nRetrieves item statistics from hero builds.\n\nResults are cached\
        \ for **1 hour** based on the unique combination of query parameters provided.\
        \ Subsequent identical requests within this timeframe will receive the cached\
        \ response.\n\n### Rate Limits:\n> The rate limits below are **shared across\
        \ all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP |\
        \ 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: build_item_stats
      parameters:
      - description: "Filter builds based on the hero ID. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter builds based on their last updated time (Unix timestamp).
          **Default:** 30 days ago.
        explode: true
        in: query
        name: min_last_updated_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter builds based on their last updated time (Unix timestamp).
        explode: true
        in: query
        name: max_last_updated_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BuildItemStats"
                type: array
                default: null
          description: Build Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch build item stats
      summary: Build Item Stats
      tags:
      - Analytics
  /v1/analytics/game-stats:
    get:
      description: "\nRetrieves aggregate game-level statistics.\n\n### Rate Limits:\n\
        > The rate limits below are **shared across all analytics endpoints**.\n\n\
        | Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min\
        \ |\n| Global | 2000req/min |\n    "
      operationId: game_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - avg_badge
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          type: string
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: |-
          Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>
          Only works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: |-
          Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>
          Only works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of hero ids to include. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of item ids to include (only players who\
          \ have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of item ids to exclude (only players who\
          \ have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsGameStats"
                type: array
                default: null
          description: Game Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch game stats
      summary: Game Stats
      tags:
      - Analytics
  /v1/analytics/hero-ban-stats:
    get:
      description: "\nRetrieves ban statistics for each hero based on historical match\
        \ data from demo analysis.\n\nOnly matches with successfully extracted ban\
        \ data are included. Matches where ban extraction failed (empty `banned_hero_ids`)\
        \ are excluded entirely.\n\nResults are cached for **1 hour** based on the\
        \ combination of query parameters provided.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: hero_ban_stats
      parameters:
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - avg_badge
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          type: string
        style: form
      - description: "Filter matches based on their start time (Unix timestamp). **Default:**\
          \ 30 days ago. **Minimum:** March 1, 2026."
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroBanStats"
                type: array
                default: null
          description: Hero Ban Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero ban stats
      summary: Hero Ban Stats
      tags:
      - Analytics
  /v1/analytics/hero-build-stats/{hero_id}:
    get:
      description: "\nRetrieves performance statistics for hero builds based on historical\
        \ match data from demo analysis.\n\nOnly includes builds that exist in the\
        \ hero builds database.\n\nThe `hero_build_id` is the first build the player\
        \ had selected when the game started. It does not reflect any build changes\
        \ made during the match.\n\nResults are cached for **1 hour** based on the\
        \ combination of query parameters provided.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: hero_build_stats
      parameters:
      - description: "The hero ID to fetch build stats for. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on their start time (Unix timestamp). **Default:**\
          \ 30 days ago. **Minimum:** March 1, 2026."
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter results for a specific hero build.
        explode: true
        in: query
        name: hero_build_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches played for a build to be included
          in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroBuildStats"
                type: array
                default: null
          description: Hero Build Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero build stats
      summary: Hero Build Stats
      tags:
      - Analytics
  /v1/analytics/hero-comb-stats:
    get:
      description: "\nRetrieves overall statistics for each hero combination.\n\n\
        Results are cached for **1 hour**. The cache key is determined by the specific\
        \ combination of filter parameters used in the query. Subsequent requests\
        \ using the exact same filters within this timeframe will receive the cached\
        \ response.\n\n### Rate Limits:\n> The rate limits below are **shared across\
        \ all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP |\
        \ 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: hero_comb_stats
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of hero ids to include. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: include_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of hero ids to exclude. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: exclude_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of enemy hero ids to include. See more:\
          \ <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: include_enemy_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of enemy hero ids to exclude. See more:\
          \ <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: exclude_enemy_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The combination size to return.
        explode: true
        in: query
        name: comb_size
        required: false
        schema:
          default: 6
          format: int32
          maximum: 6
          minimum: 2
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroCombStats"
                type: array
                default: null
          description: Hero Comb Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero comb stats
      summary: Hero Comb Stats
      tags:
      - Analytics
  /v1/analytics/hero-counter-stats:
    get:
      description: "\nRetrieves hero-versus-hero matchup statistics based on historical\
        \ match data.\n\nThis endpoint analyzes completed matches to calculate how\
        \ often a specific hero (`hero_id`) wins against an enemy hero (`enemy_hero_id`)\
        \ and the total number of times they have faced each other under the specified\
        \ filter conditions.\n\nResults are cached for **1 hour** based on the combination\
        \ of query parameters provided. Subsequent identical requests within this\
        \ timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: hero_counters_stats
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter enemy players based on their net worth.
        explode: true
        in: query
        name: min_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter enemy players based on their net worth.
        explode: true
        in: query
        name: max_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only considers matchups where both `hero_id` and\
          \ `enemy_hero_id` were assigned to the same lane (e.g., both Mid Lane).\
          \ When `false`, considers all matchups regardless of assigned lane."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroCounterStats"
                type: array
                default: null
          description: Hero Counter Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero counter stats
      summary: Hero Counter Stats
      tags:
      - Analytics
  /v1/analytics/hero-stats:
    get:
      description: "\nRetrieves performance statistics for each hero based on historical\
        \ match data.\n\n### Rate Limits:\n> The rate limits below are **shared across\
        \ all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP |\
        \ 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: hero_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - avg_badge
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          type: string
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero within the filtered time range.
        explode: true
        in: query
        name: min_hero_matches
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero within the filtered time range.
        explode: true
        in: query
        name: max_hero_matches
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero in their entire history.
        explode: true
        in: query
        name: min_hero_matches_total
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero in their entire history.
        explode: true
        in: query
        name: max_hero_matches_total
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of item ids to include (only players who\
          \ have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of item ids to exclude (only players who\
          \ have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsHeroStats"
                type: array
                default: null
          description: Hero Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero stats
      summary: Hero Stats
      tags:
      - Analytics
  /v1/analytics/hero-synergy-stats:
    get:
      description: "\nRetrieves hero pair synergy statistics based on historical match\
        \ data.\n\nThis endpoint analyzes completed matches to calculate how often\
        \ a specific pair of heroes (`hero_id1` and `hero_id2`) won when playing *together\
        \ on the same team*, and the total number of times they have played together\
        \ under the specified filter conditions.\n\nResults are cached for **1 hour**\
        \ based on the combination of query parameters provided. Subsequent identical\
        \ requests within this timeframe will receive the cached response.\n\n###\
        \ Rate Limits:\n> The rate limits below are **shared across all analytics\
        \ endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n\
        | Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: hero_synergies_stats
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only considers matchups where both `hero_id1` and\
          \ `hero_id2` were assigned to the same lane (e.g., both Mid Lane). When\
          \ `false`, considers all matchups regardless of assigned lane."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroSynergyStats"
                type: array
                default: null
          description: Hero Synergy Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero synergy stats
      summary: Hero Synergy Stats
      tags:
      - Analytics
  /v1/analytics/item-flow-stats:
    get:
      description: "\nRetrieves item build-flow statistics: per-phase item win/pick\
        \ rates and the transitions between them.\n\nItems are grouped into columns\
        \ by the in-match phase they were bought in (controlled by\n`phase_interval_s`\
        \ and `phase_count`). The response contains `nodes` (items aggregated within\
        \ a phase)\nand `edges` (transitions between an item and items in the next\
        \ phase). A locked build path can be\nsupplied via `locked_item_ids` / `locked_columns`\
        \ to restrict the population to players who bought\nthose items in the given\
        \ stage columns.\n\nEach node also carries `adjusted_win_rate`: the item's\
        \ win rate standardized to the stage's\nnet-worth-at-buy distribution. Because\
        \ players who are already ahead have more souls and buy items\nsooner, raw\
        \ win rate is heavily confounded by wealth; the adjusted figure re-weights\
        \ each item's win\nrate across net-worth buckets to the stage-wide distribution,\
        \ isolating the item's contribution from\nthe buyer's lead. It is still observational,\
        \ not a controlled/causal estimate. `reached_per_column`\ngives the distinct\
        \ baseline games that bought any upgrade in each column, so consumers can\
        \ show how\nsurvivorship-selected (e.g. long-game-only) a late stage is.\n\
        \nResults are cached for **1 hour** based on the unique combination of query\
        \ parameters provided.\n\n### Rate Limits:\n> The rate limits below are **shared\
        \ across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n\
        | IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: item_flow_stats
      parameters:
      - description: |-
          Deprecated/unused. `normal` mode uses fixed phase boundaries (0-9m, 9-20m, 20-30m, 30m+)
          aligned to the stats time-series; `street_brawl` columns are rounds.
        explode: true
        in: query
        name: phase_interval_s
        required: false
        schema:
          default: 600
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: |-
          Number of columns for `street_brawl` (rounds). Ignored for `normal`, which has fixed time
          phases. **Default:** 4.
        explode: true
        in: query
        name: phase_count
        required: false
        schema:
          default: 4
          format: int32
          maximum: 12
          minimum: 2
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches for a node or edge to be included
          in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of item ids to include (only players who\
          \ have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: "Comma separated list of item ids to exclude (only players who\
          \ have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: |-
          Comma separated list of item ids forming a "locked" build path. Pairs positionally with
          `locked_columns`: the i-th item must have been bought in the i-th `locked_columns` stage.
          See more: <https://api.deadlock-api.com/v1/assets/items>
        explode: true
        in: query
        name: locked_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: |-
          Comma separated 0-based stage column indices for each `locked_item_ids` entry (time phase for
          `normal`, round for `street_brawl`). Must have the same length as `locked_item_ids`.
        explode: true
        in: query
        name: locked_columns
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemFlowStats"
          description: Item Flow Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch item flow stats
      summary: Item Flow Stats
      tags:
      - Analytics
  /v1/analytics/item-permutation-stats:
    get:
      description: "\nRetrieves item permutation statistics based on historical match\
        \ data.\n\nResults are cached for **1 hour** based on the unique combination\
        \ of query parameters provided. Subsequent identical requests within this\
        \ timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: item_permutation_stats
      parameters:
      - description: "Comma separated list of item ids. See more: <https://api.deadlock-api.com/v1/assets/items>"
        explode: true
        in: query
        name: item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
          default: null
        style: form
      - description: The combination size to return.
        explode: true
        in: query
        name: comb_size
        required: false
        schema:
          default: 2
          format: int32
          maximum: 12
          minimum: 2
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches for an item combination to be included
          in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches for an item combination to be included
          in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - deprecated: true
        description: "Filter matches based on the hero ID. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
          default: null
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ItemPermutationStats"
                type: array
                default: null
          description: Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch item stats
      summary: Item Permutation Stats
      tags:
      - Analytics
  /v1/analytics/item-stats:
    get:
      description: "\nRetrieves item statistics based on historical match data.\n\n\
        Results are cached for **6 hours** based on the unique combination of query\
        \ parameters provided. Subsequent identical requests within this timeframe\
        \ will receive the cached response.\n\n### Rate Limits:\n> The rate limits\
        \ below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n\
        | ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min\
        \ |\n    "
      operationId: item_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - hero
          - team
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          - game_time_min
          - game_time_normalized_percentage
          - net_worth_by_1000
          - net_worth_by_2000
          - net_worth_by_3000
          - net_worth_by_5000
          - net_worth_by_10000
          type: string
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the match mode. Valid values: `unranked`,\
          \ `private_lobby`, `coop_bot`, `ranked`, `server_test`, `tutorial`, `hero_labs`.\
          \ **Default:** `ranked,unranked`."
        explode: true
        in: query
        name: match_mode
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - deprecated: true
        description: "Filter matches based on the hero ID. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter to matches where one or more of these heroes were on\
          \ the opposing team. Comma separated. When set, returns \"what items beat\
          \ hero(es) X?\" stats. See more: <https://api.deadlock-api.com/v1/assets/heroes>"
        explode: true
        in: query
        name: enemy_hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "When `true`, requires *all* of the specified `enemy_hero_ids`\
          \ to be on the same enemy team. When `false` (default), matches if *any*\
          \ of the specified hero(es) are on the enemy team. Ignored when `enemy_hero_ids`\
          \ is unset."
        explode: true
        in: query
        name: enemy_hero_ids_all_match
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter the specified enemy hero(es) by their final net worth.
          Ignored when `enemy_hero_ids` is unset.
        explode: true
        in: query
        name: min_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter the specified enemy hero(es) by their final net worth.
          Ignored when `enemy_hero_ids` is unset.
        explode: true
        in: query
        name: max_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only counts buyers in the same `assigned_lane`\
          \ as one of the specified enemy heroes. Ignored when `enemy_hero_ids` is\
          \ unset. **Default:** `false`."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1786320000
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>"
        explode: true
        in: query
        name: max_average_badge
[...]
