openapi: 3.1.0
info:
  contact:
    name: Deadlock API - Discord
    url: https://discord.gg/XMF9Xrgfqu
  description: |2

    ## API Clients

    We have auto generated and updated clients for many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)

    ## Support the Deadlock API

    Whether you're building your own database, developing data science projects, or enhancing your website with game and player analytics, the Deadlock API has the data you need.

    Your sponsorship helps keep this resource open, free and future-proof for everyone. By supporting the Deadlock API, you will enable continued development, new features and reliable access for developers, analysts and streamers worldwide.

    Help us continue to provide the data you need - sponsor the Deadlock API today!

    **-> You can Sponsor the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or [GitHub](https://github.com/sponsors/raimannma)**

    ## Disclaimer
    _deadlock-api.com is not endorsed by Valve and does not reflect the views or opinions of Valve or anyone officially involved in producing or managing Valve properties. Valve and all associated properties are trademarks or registered trademarks of Valve Corporation_
  license:
    name: MIT
    url: https://github.com/deadlock-api/deadlock-api-assets/blob/master/LICENSE
  title: Assets - Deadlock API
  version: 0.1.0
servers:
- url: https://assets.deadlock-api.com
paths:
  /v2/heroes:
    get:
      operationId: get_heroes_v2_heroes_get
      parameters:
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      - explode: true
        in: query
        name: only_active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroV2"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Heroes
      tags:
      - Heroes
  /v2/heroes/{id}:
    get:
      operationId: get_hero_v2_heroes__id__get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroV2"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Hero
      tags:
      - Heroes
  /v2/heroes/by-name/{name}:
    get:
      operationId: get_hero_by_name_v2_heroes_by_name__name__get
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          title: Name
          type: string
        style: simple
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroV2"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Hero By Name
      tags:
      - Heroes
  /v2/items:
    get:
      operationId: get_items_v2_items_get
      parameters:
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/get_items_v2_items_get_200_response_inner"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Items
      tags:
      - Items
  /v2/items/{id_or_class_name}:
    get:
      operationId: get_item_v2_items__id_or_class_name__get
      parameters:
      - explode: false
        in: path
        name: id_or_class_name
        required: true
        schema:
          title: Id Or Class Name
          type: string
        style: simple
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response_Get_Item_V2_Items__Id_Or_Class_Name__Get"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Item
      tags:
      - Items
  /v2/items/by-type/{type}:
    get:
      operationId: get_items_by_type_v2_items_by_type__type__get
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          $ref: "#/components/schemas/ItemTypeV2"
        style: simple
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/get_items_v2_items_get_200_response_inner"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Items By Type
      tags:
      - Items
  /v2/items/by-hero-id/{id}:
    get:
      operationId: get_items_by_hero_id_v2_items_by_hero_id__id__get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: integer
        style: simple
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/get_items_v2_items_get_200_response_inner"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Items By Hero Id
      tags:
      - Items
  /v2/items/by-slot-type/{slot_type}:
    get:
      operationId: get_items_by_slot_type_v2_items_by_slot_type__slot_type__get
      parameters:
      - explode: false
        in: path
        name: slot_type
        required: true
        schema:
          $ref: "#/components/schemas/ItemSlotTypeV2"
        style: simple
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/get_items_v2_items_get_200_response_inner"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Items By Slot Type
      tags:
      - Items
  /v2/npc-units:
    get:
      operationId: get_npc_units_v2_npc_units_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/NPCUnitV2"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Npc Units
      tags:
      - NPC Units
  /v2/npc-units/{id_or_class_name}:
    get:
      operationId: get_npc_unit_v2_npc_units__id_or_class_name__get
      parameters:
      - explode: false
        in: path
        name: id_or_class_name
        required: true
        schema:
          title: Id Or Class Name
          type: string
        style: simple
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NPCUnitV2"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Npc Unit
      tags:
      - NPC Units
  /v2/misc-entities:
    get:
      operationId: get_misc_entities_v2_misc_entities_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/MiscV2"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Misc Entities
      tags:
      - Misc Entities
  /v2/misc-entities/{id_or_class_name}:
    get:
      operationId: get_misc_entity_v2_misc_entities__id_or_class_name__get
      parameters:
      - explode: false
        in: path
        name: id_or_class_name
        required: true
        schema:
          title: Id Or Class Name
          type: string
        style: simple
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NPCUnitV2"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Misc Entity
      tags:
      - Misc Entities
  /v2/client-versions:
    get:
      operationId: get_client_versions_v2_client_versions_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: integer
                type: array
          description: Successful Response
      summary: Get Client Versions
  /v2/ranks:
    get:
      operationId: get_ranks_v2_ranks_get
      parameters:
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/RankV2"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Ranks
  /v2/build-tags:
    get:
      operationId: get_build_tags_v2_build_tags_get
      parameters:
      - explode: true
        in: query
        name: language
        required: false
        schema:
          $ref: "#/components/schemas/Language"
        style: form
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BuildTagV2"
                type: array
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Build Tags
  /v2/generic-data:
    get:
      operationId: get_generic_data_v2_generic_data_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericDataV2"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Generic Data
  /v1/map:
    get:
      operationId: get_map_v1_map_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapV1"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Map
  /v1/colors:
    get:
      operationId: get_colors_v1_colors_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/ColorV1"
                title: Response Get Colors V1 Colors Get
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Colors
  /v1/steam-info:
    get:
      operationId: get_steam_info_v1_steam_info_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Steam Info
  /v1/icons:
    get:
      operationId: get_icons_v1_icons_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                title: Response Get Icons V1 Icons Get
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Icons
  /v1/sounds:
    get:
      operationId: get_sounds_v1_sounds_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response Get Sounds V1 Sounds Get
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Sounds
  /raw/heroes:
    get:
      operationId: get_raw_heroes_raw_heroes_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Raw Heroes
      tags:
      - Raw
  /raw/items:
    get:
      operationId: get_raw_items_raw_items_get
      parameters:
      - explode: true
        in: query
        name: client_version
        required: false
        schema:
          $ref: "#/components/schemas/DeadlockAssetsApiRoutesValidClientVersions"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Raw Items
      tags:
      - Raw
components:
  schemas:
    AbilityDescriptionV2:
      example:
        t3_desc: t3_desc
        t1_desc: t1_desc
        active: active
        t2_desc: t2_desc
        passive: passive
        quip: quip
        desc: desc
      properties:
        desc:
          nullable: true
          type: string
        quip:
          nullable: true
          type: string
        t1_desc:
          nullable: true
          type: string
        t2_desc:
          nullable: true
          type: string
        t3_desc:
          nullable: true
          type: string
        active:
          nullable: true
          type: string
        passive:
          nullable: true
          type: string
      title: AbilityDescriptionV2
    AbilityTooltipDetailsInfoSectionPropertyBlockV2:
      example:
        loc_string: loc_string
        properties:
        - important_property_icon: important_property_icon
          show_property_value: true
          status_effect_name: status_effect_name
          requires_ability_upgrade: true
          status_effect_value: status_effect_value
          important_property: important_property
        - important_property_icon: important_property_icon
          show_property_value: true
          status_effect_name: status_effect_name
          requires_ability_upgrade: true
          status_effect_value: status_effect_value
          important_property: important_property
      properties:
        loc_string:
          nullable: true
          type: string
        properties:
          items:
            $ref: "#/components/schemas/AbilityV2TooltipDetailsInfoSectionPropertyBlockProperty"
          nullable: true
          type: array
      title: AbilityTooltipDetailsInfoSectionPropertyBlockV2
    AbilityTooltipDetailsInfoSectionV2:
      example:
        properties_block:
        - loc_string: loc_string
          properties:
          - important_property_icon: important_property_icon
            show_property_value: true
            status_effect_name: status_effect_name
            requires_ability_upgrade: true
            status_effect_value: status_effect_value
            important_property: important_property
          - important_property_icon: important_property_icon
            show_property_value: true
            status_effect_name: status_effect_name
            requires_ability_upgrade: true
            status_effect_value: status_effect_value
            important_property: important_property
        - loc_string: loc_string
          properties:
          - important_property_icon: important_property_icon
            show_property_value: true
            status_effect_name: status_effect_name
            requires_ability_upgrade: true
            status_effect_value: status_effect_value
            important_property: important_property
          - important_property_icon: important_property_icon
            show_property_value: true
            status_effect_name: status_effect_name
            requires_ability_upgrade: true
            status_effect_value: status_effect_value
            important_property: important_property
        loc_string: loc_string
        property_upgrade_required: property_upgrade_required
        basic_properties:
        - basic_properties
        - basic_properties
      properties:
        loc_string:
          nullable: true
          type: string
        property_upgrade_required:
          nullable: true
          type: string
        properties_block:
          items:
            $ref: "#/components/schemas/AbilityTooltipDetailsInfoSectionPropertyBlockV2"
          nullable: true
          type: array
        basic_properties:
          items:
            type: string
          nullable: true
          type: array
      title: AbilityTooltipDetailsInfoSectionV2
    AbilityTooltipDetailsV2:
      example:
        info_sections:
        - properties_block:
          - loc_string: loc_string
            properties:
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
          - loc_string: loc_string
            properties:
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
          loc_string: loc_string
          property_upgrade_required: property_upgrade_required
          basic_properties:
          - basic_properties
          - basic_properties
        - properties_block:
          - loc_string: loc_string
            properties:
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
          - loc_string: loc_string
            properties:
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
            - important_property_icon: important_property_icon
              show_property_value: true
              status_effect_name: status_effect_name
              requires_ability_upgrade: true
              status_effect_value: status_effect_value
              important_property: important_property
          loc_string: loc_string
          property_upgrade_required: property_upgrade_required
          basic_properties:
          - basic_properties
          - basic_properties
        additional_header_properties:
        - additional_header_properties
        - additional_header_properties
      properties:
        info_sections:
          items:
            $ref: "#/components/schemas/AbilityTooltipDetailsInfoSectionV2"
          nullable: true
          type: array
        additional_header_properties:
          items:
            type: string
          nullable: true
          type: array
      title: AbilityTooltipDetailsV2
    AbilityTypeV2:
      enum:
      - innate
      - item
      - signature
      - ultimate
      - weapon
      - melee
      title: AbilityTypeV2
      type: string
    AbilityV2:
      example:
        image: image
        image_webp: image_webp
        start_trained: true
        description:
          t3_desc: t3_desc
          t1_desc: t1_desc
          active: active
          t2_desc: t2_desc
          passive: passive
          quip: quip
          desc: desc
        boss_damage_scale: 7.386281948385884
        hero: 6
        videos:
          mp4: mp4
          webm: webm
        type: ability
        upgrades:
        - property_upgrades:
          - scale_stat_filter: scale_stat_filter
            bonus: Bonus
            name: name
            upgrade_type: upgrade_type
          - scale_stat_filter: scale_stat_filter
            bonus: Bonus
            name: name
            upgrade_type: upgrade_type
        - property_upgrades:
          - scale_stat_filter: scale_stat_filter
            bonus: Bonus
            name: name
            upgrade_type: upgrade_type
          - scale_stat_filter: scale_stat_filter
            bonus: Bonus
            name: name
            upgrade_type: upgrade_type
        update_time: 5
        heroes:
        - 1
        - 1
        tooltip_details:
          info_sections:
          - properties_block:
            - loc_string: loc_string
              properties:
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
            - loc_string: loc_string
              properties:
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
            loc_string: loc_string
            property_upgrade_required: property_upgrade_required
            basic_properties:
            - basic_properties
            - basic_properties
          - properties_block:
            - loc_string: loc_string
              properties:
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
            - loc_string: loc_string
              properties:
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
              - important_property_icon: important_property_icon
                show_property_value: true
                status_effect_name: status_effect_name
                requires_ability_upgrade: true
                status_effect_value: status_effect_value
                important_property: important_property
            loc_string: loc_string
            property_upgrade_required: property_upgrade_required
            basic_properties:
            - basic_properties
            - basic_properties
          additional_header_properties:
          - additional_header_properties
          - additional_header_properties
        name: name
        id: 0
        ability_type: innate
        class_name: class_name
        behaviours:
        - behaviours
        - behaviours
        dependant_abilities:
        - dependant_abilities
        - dependant_abilities
        properties:
          key:
            conditional: conditional
            usage_flags:
            - ConditionallyApplied
            - ConditionallyApplied
            prefix: prefix
            icon: icon
            can_set_token_override: true
            scale_function:
              scaling_stats:
              - scaling_stats
              - scaling_stats
              subclass_name: subclass_name
              stat_scale: 5.637376656633329
              class_name: class_name
              specific_stat_scale_type: specific_stat_scale_type
            label: label
            loc_token_override: loc_token_override
            css_class: css_class
            disable_value: disable_value
            icon_path: icon_path
            provided_property_type: provided_property_type
            negative_attribute: true
            postfix: postfix
            value: Value_1
            postvalue_label: postvalue_label
            display_units: display_units
        weapon_info:
          bullet_speed_curve:
            domain_mins:
            - 4.145608029883936
            - 4.145608029883936
            spline:
            - x: 9.301444243932576
              slope_outgoing: 7.061401241503109
              "y": 3.616076749251911
              slope_incoming: 2.3021358869347655
            - x: 9.301444243932576
              slope_outgoing: 7.061401241503109
              "y": 3.616076749251911
              slope_incoming: 2.3021358869347655
            domain_maxs:
            - 2.027123023002322
            - 2.027123023002322
      properties:
        id:
          title: Id
          type: integer
        class_name:
          title: Class Name
          type: string
        name:
          title: Name
          type: string
        start_trained:
          nullable: true
          type: boolean
        image:
          nullable: true
          type: string
        image_webp:
          nullable: true
          type: string
        hero:
          nullable: true
          type: integer
        heroes:
          items:
            type: integer
          nullable: true
          type: array
        update_time:
          nullable: true
          type: integer
        properties:
          additionalProperties:
            $ref: "#/components/schemas/ItemPropertyV2"
          nullable: true
        weapon_info:
          $ref: "#/components/schemas/RawItemWeaponInfoV2"
        type:
          default: ability
          enum:
          - ability
          title: Type
          type: string
        behaviours:
          items:
            type: string
          nullable: true
          type: array
        description:
          $ref: "#/components/schemas/AbilityDescriptionV2"
        tooltip_details:
          $ref: "#/components/schemas/AbilityTooltipDetailsV2"
        upgrades:
          items:
            $ref: "#/components/schemas/RawAbilityUpgradeV2"
          nullable: true
          type: array
        ability_type:
          $ref: "#/components/schemas/AbilityTypeV2"
        boss_damage_scale:
          nullable: true
          type: number
        dependant_abilities:
          items:
            type: string
          nullable: true
          type: array
        videos:
          $ref: "#/components/schemas/AbilityVideosV2"
      required:
      - class_name
      - description
      - id
      - name
      title: AbilityV2
    AbilityV2TooltipDetailsInfoSectionPropertyBlockProperty:
      example:
        important_property_icon: important_property_icon
        show_property_value: true
        status_effect_name: status_effect_name
        requires_ability_upgrade: true
        status_effect_value: status_effect_value
        important_property: important_property
      properties:
        requires_ability_upgrade:
          nullable: true
          type: boolean
        show_property_value:
          nullable: true
          type: boolean
        important_property:
          nullable: true
          type: string
        status_effect_value:
          nullable: true
          type: string
        status_effect_name:
          nullable: true
          type: string
        important_property_icon:
          nullable: true
          type: string
      title: AbilityV2TooltipDetailsInfoSectionPropertyBlockProperty
    AbilityVideosV2:
      example:
        mp4: mp4
        webm: webm
      properties:
        webm:
          nullable: true
          type: string
        mp4:
          nullable: true
          type: string
      title: AbilityVideosV2
    BuildTagV2:
      example:
        icon: icon
        label: label
        id: 0
        class_name: class_name
      properties:
        class_name:
          title: Class Name
          type: string
        label:
          title: Label
          type: string
        id:
          format: int64
          readOnly: true
          title: Id
          type: integer
        icon:
          readOnly: true
          title: Icon
          type: string
      required:
      - class_name
      - icon
      - id
      - label
      title: BuildTagV2
    BulletResistModifier:
      example:
        bullet_resist_reduction_per_hero: 9
        bullet_resist: 3
      properties:
        bullet_resist:
          nullable: true
          type: integer
        bullet_resist_reduction_per_hero:
          nullable: true
          type: integer
      title: BulletResistModifier
    ColorV1:
      example:
        red: 211
        green: 164
        blue: 105
        alpha: 227
      properties:
        red:
          description: The red value of the color.
          maximum: 255.0
          minimum: 0.0
          title: Red
          type: integer
        green:
          description: The green value of the color.
          maximum: 255.0
          minimum: 0.0
          title: Green
          type: integer
        blue:
          description: The blue value of the color.
          maximum: 255.0
          minimum: 0.0
          title: Blue
          type: integer
        alpha:
          description: The alpha value of the color.
          maximum: 255.0
          minimum: 0.0
          title: Alpha
          type: integer
      required:
      - alpha
      - blue
      - green
      - red
      title: ColorV1
    Curve:
      example:
        per_minute_after_start: 9.369310271410669
        base: 9.965781217890562
      properties:
        base:
          nullable: true
          type: number
        per_minute_after_start:
          nullable: true
          type: number
      title: Curve
    DamageFlashV2:
      example:
        healing_damage:
          duration: 0.8008281904610115
          coverage: 6.027456183070403
          hardness: 1.4658129805029452
          brightness: 5.962133916683182
          color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          brightness_in_light_sensitivity_mode: 5.637376656633329
        tech_damage:
          duration: 0.8008281904610115
          coverage: 6.027456183070403
          hardness: 1.4658129805029452
          brightness: 5.962133916683182
          color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          brightness_in_light_sensitivity_mode: 5.637376656633329
        melee_damage:
          duration: 0.8008281904610115
          coverage: 6.027456183070403
          hardness: 1.4658129805029452
          brightness: 5.962133916683182
          color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          brightness_in_light_sensitivity_mode: 5.637376656633329
        crit_damage:
          duration: 0.8008281904610115
          coverage: 6.027456183070403
          hardness: 1.4658129805029452
          brightness: 5.962133916683182
          color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          brightness_in_light_sensitivity_mode: 5.637376656633329
        bullet_damage:
          duration: 0.8008281904610115
          coverage: 6.027456183070403
          hardness: 1.4658129805029452
          brightness: 5.962133916683182
          color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          brightness_in_light_sensitivity_mode: 5.637376656633329
      properties:
        bullet_damage:
          $ref: "#/components/schemas/FlashDataV2"
        tech_damage:
          $ref: "#/components/schemas/FlashDataV2"
        healing_damage:
          $ref: "#/components/schemas/FlashDataV2"
        crit_damage:
          $ref: "#/components/schemas/FlashDataV2"
        melee_damage:
          $ref: "#/components/schemas/FlashDataV2"
      required:
      - bullet_damage
      - crit_damage
      - healing_damage
      - melee_damage
      - tech_damage
      title: DamageFlashV2
    DeadlockAssetsApiRoutesValidClientVersions:
      enum:
      - 6016
      - 6008
      - 6002
      - 5983
      - 5972
      - 5959
      - 5945
      - 5920
      - 5902
      - 5885
      - 5878
      - 5869
      - 5852
      - 5831
      - 5826
      - 5818
      - 5789
      - 5748
      - 5723
      - 5712
      - 5710
      - 5690
      - 5675
      - 5668
      - 5664
      - 5658
      - 5650
      - 5636
      - 5624
      - 5615
      - 5602
      - 5583
      - 5554
      - 5538
      - 5533
      - 5529
      - 5527
      title: DeadlockAssetsApiRoutesValidClientVersions
      type: integer
    EmpoweredModifierLevel:
      example:
        max_health: 8
        transition_duration: 9.254183946267839
        model_scale: 1.8268702177058116
      properties:
        max_health:
          nullable: true
          type: integer
        transition_duration:
          nullable: true
          type: number
        model_scale:
          nullable: true
          type: number
      title: EmpoweredModifierLevel
    FlashDataV2:
      example:
        duration: 0.8008281904610115
        coverage: 6.027456183070403
        hardness: 1.4658129805029452
        brightness: 5.962133916683182
        color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        brightness_in_light_sensitivity_mode: 5.637376656633329
      properties:
        duration:
          title: Duration
          type: number
        coverage:
          title: Coverage
          type: number
        hardness:
          title: Hardness
          type: number
        brightness:
          title: Brightness
          type: number
        color:
          $ref: "#/components/schemas/ColorV1"
        brightness_in_light_sensitivity_mode:
          nullable: true
          type: number
      required:
      - brightness
      - color
      - coverage
      - duration
      - hardness
      title: FlashDataV2
    GenericDataV2:
      example:
        trooper_kill_gold_share_frac:
        - 3.5571952270680973
        - 3.5571952270680973
        lane_info:
        - css_class: css_class
          objective_color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          minimap_zipline_color_override:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          lane_name: lane_name
        - css_class: css_class
          objective_color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          color:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          minimap_zipline_color_override:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          lane_name: lane_name
        enemy_objectives_and_zipline_color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        hero_kill_gold_share_frac:
        - 6.965117697638846
        - 6.965117697638846
        new_player_metrics:
        - abilities_upgraded: 8
          net_worth: 7
          last_hits: 9
          skill_tier_name: skill_tier_name
          boss_damage: 4
          orbs_denied: 6
          player_damage: 5
          orbs_secured: 9
          damage_taken: 1
          mods_purchased: 9
        - abilities_upgraded: 8
          net_worth: 7
          last_hits: 9
          skill_tier_name: skill_tier_name
          boss_damage: 4
          orbs_denied: 6
          player_damage: 5
          orbs_secured: 9
          damage_taken: 1
          mods_purchased: 9
        targeting_spring_strength:
        - 2.8841621266687802
        - 2.8841621266687802
        rejuv_params:
          rejuvinator_expiration_warning_timing: 8.969578798196912
          rejuvinator_buff_duration: 7.740351818741173
          rejuvinator_rebirth_duration:
          - 3.2588565619047607
          - 3.2588565619047607
          rejuvinator_drop_duration: 3.0576100241049344
          player_respawn_mult:
          - 5.533258397034986
          - 5.533258397034986
          rejuvinator_drop_height: 3.0205796992916243
          trooper_health_mult:
          - 7.04836565559697
          - 7.04836565559697
        glitch_settings:
          uantize_type: 7.061401241503109
          breakup_strength: 6.84685269835264
          strength: 2.3021358869347655
          quantize_scale: 9.301444243932576
          distort_strength: 1.2315135367772556
          scanline_strength: 1.4894159098541704
          quantize_strength: 3.616076749251911
          frame_rate: 2.027123023002322
          speed: 4.145608029883936
          jump_strength: 7.386281948385884
          white_noise_strength: 1.0246457001441578
        enemy_zipline_color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        item_price_per_tier:
        - 6
        - 6
        mini_map_offsets:
        - lane_index: 0
          entity_class: entity_class
          offset_2d:
          - 4.078845849666752
          - 4.078845849666752
        - lane_index: 0
          entity_class: entity_class
          offset_2d:
          - 4.078845849666752
          - 4.078845849666752
        weapon_groups:
        - shop_group: shop_group
          upgrades:
          - upgrades
          - upgrades
        - shop_group: shop_group
          upgrades:
          - upgrades
          - upgrades
        armor_groups:
        - shop_group: shop_group
          upgrades:
          - upgrades
          - upgrades
        - shop_group: shop_group
          upgrades:
          - upgrades
          - upgrades
        minimap_team_combine_color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        objective_params:
          tier1_gold_orbs: 6
          tier2_gold_kill: 3
          patron_phase1_gold_orbs: 4
          shrines_gold_kill: 7
          base_guardians_gold_orbs: 0
          tier1_gold_kill: 5
          tier2_gold_orbs: 3
          patron_phase1_gold_kill: 0
          shrines_gold_orbs: 6
          near_player_split_pct: 6.878052220127876
          gold_per_orb: 6
          base_guardians_gold_kill: 7
        damage_flash:
          healing_damage:
            duration: 0.8008281904610115
            coverage: 6.027456183070403
            hardness: 1.4658129805029452
            brightness: 5.962133916683182
            color:
              red: 211
              green: 164
              blue: 105
              alpha: 227
            brightness_in_light_sensitivity_mode: 5.637376656633329
          tech_damage:
            duration: 0.8008281904610115
            coverage: 6.027456183070403
            hardness: 1.4658129805029452
            brightness: 5.962133916683182
            color:
              red: 211
              green: 164
              blue: 105
              alpha: 227
            brightness_in_light_sensitivity_mode: 5.637376656633329
          melee_damage:
            duration: 0.8008281904610115
            coverage: 6.027456183070403
            hardness: 1.4658129805029452
            brightness: 5.962133916683182
            color:
              red: 211
              green: 164
              blue: 105
              alpha: 227
            brightness_in_light_sensitivity_mode: 5.637376656633329
          crit_damage:
            duration: 0.8008281904610115
            coverage: 6.027456183070403
            hardness: 1.4658129805029452
            brightness: 5.962133916683182
            color:
              red: 211
              green: 164
              blue: 105
              alpha: 227
            brightness_in_light_sensitivity_mode: 5.637376656633329
          bullet_damage:
            duration: 0.8008281904610115
            coverage: 6.027456183070403
            hardness: 1.4658129805029452
            brightness: 5.962133916683182
            color:
              red: 211
              green: 164
              blue: 105
              alpha: 227
            brightness_in_light_sensitivity_mode: 5.637376656633329
        enemy_objectives_color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        aim_spring_strength:
        - 1.284659006116532
        - 1.284659006116532
        minimap_team_rebels_color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        spirit_groups:
        - shop_group: shop_group
          upgrades:
          - upgrades
          - upgrades
        - shop_group: shop_group
          upgrades:
          - upgrades
          - upgrades
      properties:
        damage_flash:
          $ref: "#/components/schemas/DamageFlashV2"
        glitch_settings:
          $ref: "#/components/schemas/GlitchSettingsV2"
        lane_info:
          items:
            $ref: "#/components/schemas/LaneInfoV2"
          type: array
        new_player_metrics:
          items:
            $ref: "#/components/schemas/NewPlayerMetricsV2"
          type: array
        minimap_team_rebels_color:
          $ref: "#/components/schemas/ColorV1"
        minimap_team_combine_color:
          $ref: "#/components/schemas/ColorV1"
        enemy_objectives_and_zipline_color:
          $ref: "#/components/schemas/ColorV1"
        enemy_objectives_color:
          $ref: "#/components/schemas/ColorV1"
        enemy_zipline_color:
          $ref: "#/components/schemas/ColorV1"
        item_price_per_tier:
          items:
            type: integer
          type: array
        trooper_kill_gold_share_frac:
          items:
            type: number
          type: array
        hero_kill_gold_share_frac:
          items:
            type: number
          type: array
        aim_spring_strength:
          items:
            type: number
          type: array
        targeting_spring_strength:
          items:
            type: number
          type: array
        objective_params:
          $ref: "#/components/schemas/ObjectiveParams"
        rejuv_params:
          $ref: "#/components/schemas/RejuvParams"
        mini_map_offsets:
          items:
            $ref: "#/components/schemas/MiniMapOffsets"
          type: array
        weapon_groups:
          items:
            $ref: "#/components/schemas/ItemGroup"
          type: array
        armor_groups:
          items:
            $ref: "#/components/schemas/ItemGroup"
          type: array
        spirit_groups:
          items:
            $ref: "#/components/schemas/ItemGroup"
          type: array
      required:
      - aim_spring_strength
      - armor_groups
      - damage_flash
      - enemy_objectives_and_zipline_color
      - enemy_objectives_color
      - enemy_zipline_color
      - glitch_settings
      - hero_kill_gold_share_frac
      - item_price_per_tier
      - lane_info
      - mini_map_offsets
      - minimap_team_combine_color
      - minimap_team_rebels_color
      - new_player_metrics
      - objective_params
      - rejuv_params
      - spirit_groups
      - targeting_spring_strength
      - trooper_kill_gold_share_frac
      - weapon_groups
      title: GenericDataV2
    GlitchSettingsV2:
      example:
        uantize_type: 7.061401241503109
        breakup_strength: 6.84685269835264
        strength: 2.3021358869347655
        quantize_scale: 9.301444243932576
        distort_strength: 1.2315135367772556
        scanline_strength: 1.4894159098541704
        quantize_strength: 3.616076749251911
        frame_rate: 2.027123023002322
        speed: 4.145608029883936
        jump_strength: 7.386281948385884
        white_noise_strength: 1.0246457001441578
      properties:
        strength:
          title: Strength
          type: number
        uantize_type:
          title: Uantize Type
          type: number
        quantize_scale:
          title: Quantize Scale
          type: number
        quantize_strength:
          title: Quantize Strength
          type: number
        frame_rate:
          title: Frame Rate
          type: number
        speed:
          title: Speed
          type: number
        jump_strength:
          title: Jump Strength
          type: number
        distort_strength:
          title: Distort Strength
          type: number
        white_noise_strength:
          title: White Noise Strength
          type: number
        scanline_strength:
          title: Scanline Strength
          type: number
        breakup_strength:
          title: Breakup Strength
          type: number
      required:
      - breakup_strength
      - distort_strength
      - frame_rate
      - jump_strength
      - quantize_scale
      - quantize_strength
      - scanline_strength
      - speed
      - strength
      - uantize_type
      - white_noise_strength
      title: GlitchSettingsV2
    HTTPValidationError:
      example:
        detail:
        - msg: msg
          loc:
          - ValidationError_loc_inner
          - ValidationError_loc_inner
          type: type
        - msg: msg
          loc:
          - ValidationError_loc_inner
          - ValidationError_loc_inner
          type: type
      properties:
        detail:
          items:
            $ref: "#/components/schemas/ValidationError"
          type: array
      title: HTTPValidationError
    HeroColorsV2:
      example:
        glow_team2:
        - ""
        - ""
        - ""
        glow_team1:
        - ""
        - ""
        - ""
        glow_enemy:
        - ""
        - ""
        - ""
        glow_friendly:
        - ""
        - ""
        - ""
        ui:
        - ""
        - ""
        - ""
      properties:
        glow_enemy:
          items: {}
          maxItems: 3
          minItems: 3
          type: array
        glow_friendly:
          items: {}
          maxItems: 3
          minItems: 3
          type: array
        glow_team1:
          items: {}
          maxItems: 3
          minItems: 3
          type: array
        glow_team2:
          items: {}
          maxItems: 3
          minItems: 3
          type: array
        ui:
          items: {}
          maxItems: 3
          minItems: 3
          type: array
      required:
      - glow_enemy
      - glow_friendly
      - glow_team1
      - glow_team2
      - ui
      title: HeroColorsV2
    HeroDescriptionV2:
      example:
        role: role
        lore: lore
        playstyle: playstyle
      properties:
        lore:
          nullable: true
          type: string
        role:
          nullable: true
          type: string
        playstyle:
          nullable: true
          type: string
      title: HeroDescriptionV2
    HeroImagesV2:
      example:
        weapon_image: weapon_image
        icon_hero_card: icon_hero_card
        top_bar_vertical_image_webp: top_bar_vertical_image_webp
        icon_hero_card_webp: icon_hero_card_webp
        icon_image_small_webp: icon_image_small_webp
        background_image_webp: background_image_webp
        name_image: name_image
        minimap_image: minimap_image
        weapon_image_webp: weapon_image_webp
        background_image: background_image
        top_bar_image: top_bar_image
        selection_image: selection_image
        minimap_image_webp: minimap_image_webp
        icon_image_small: icon_image_small
        top_bar_vertical_image: top_bar_vertical_image
        selection_image_webp: selection_image_webp
        top_bar_image_webp: top_bar_image_webp
      properties:
        icon_hero_card:
          nullable: true
          type: string
        icon_hero_card_webp:
          nullable: true
          type: string
        icon_image_small:
          nullable: true
          type: string
        icon_image_small_webp:
          nullable: true
          type: string
        minimap_image:
          nullable: true
          type: string
        minimap_image_webp:
          nullable: true
          type: string
        selection_image:
          nullable: true
          type: string
        selection_image_webp:
          nullable: true
          type: string
        top_bar_image:
          nullable: true
          type: string
        top_bar_image_webp:
          nullable: true
          type: string
        top_bar_vertical_image:
          nullable: true
          type: string
        top_bar_vertical_image_webp:
          nullable: true
          type: string
        weapon_image:
          nullable: true
          type: string
        weapon_image_webp:
          nullable: true
          type: string
        background_image:
          nullable: true
          type: string
        background_image_webp:
          nullable: true
          type: string
        name_image:
          nullable: true
          type: string
      title: HeroImagesV2
    HeroItemTypeV2:
      enum:
      - weapon_primary
      - weapon_secondary
      - weapon_melee
      - ability_mantle
      - ability_jump
      - ability_slide
      - ability_zip_line
      - ability_zip_line_boost
      - ability_climb_rope
      - ability_innate1
      - ability_innate2
      - ability_innate3
      - signature1
      - signature2
      - signature3
      - signature4
      title: HeroItemTypeV2
      type: string
    HeroLevelInfoV2:
      example:
        use_standard_upgrade: true
        bonus_currencies:
        - bonus_currencies
        - bonus_currencies
        required_gold: 6
      properties:
        use_standard_upgrade:
          nullable: true
          type: boolean
        bonus_currencies:
          items:
            type: string
          nullable: true
          type: array
        required_gold:
          title: Required Gold
          type: integer
      required:
      - required_gold
      title: HeroLevelInfoV2
    HeroPhysicsV2:
      example:
        footstep_sound_travel_distance_meters: 2.027123023002322
        step_height: 3.616076749251911
        collision_height: 2.3021358869347655
        collision_radius: 7.061401241503109
        stealth_speed_meters_per_second: 9.301444243932576
        step_sound_time: 4.145608029883936
        step_sound_time_sprinting: 7.386281948385884
      properties:
        collision_height:
          title: Collision Height
          type: number
        collision_radius:
          title: Collision Radius
          type: number
        stealth_speed_meters_per_second:
          title: Stealth Speed Meters Per Second
          type: number
        step_height:
          title: Step Height
          type: number
        footstep_sound_travel_distance_meters:
          nullable: true
          type: number
        step_sound_time:
          nullable: true
          type: number
        step_sound_time_sprinting:
          nullable: true
          type: number
      required:
      - collision_height
      - collision_radius
      - stealth_speed_meters_per_second
      - step_height
      title: HeroPhysicsV2
    HeroShopStatDisplayV2:
      example:
        vitality_stats_display:
          display_stats:
          - display_stats
          - display_stats
          other_display_stats:
          - other_display_stats
          - other_display_stats
        weapon_stats_display:
          weapon_image_webp: weapon_image_webp
          display_stats:
          - display_stats
          - display_stats
          weapon_image: weapon_image
          weapon_attributes:
          - weapon_attributes
          - weapon_attributes
          other_display_stats:
          - other_display_stats
          - other_display_stats
        spirit_stats_display:
          display_stats:
          - display_stats
          - display_stats
      properties:
        spirit_stats_display:
          $ref: "#/components/schemas/RawHeroShopSpiritStatsDisplayV2"
        vitality_stats_display:
          $ref: "#/components/schemas/RawHeroShopVitalityStatsDisplayV2"
        weapon_stats_display:
          $ref: "#/components/schemas/HeroShopWeaponStatsDisplayV2"
      required:
      - spirit_stats_display
      - vitality_stats_display
      - weapon_stats_display
      title: HeroShopStatDisplayV2
    HeroShopWeaponStatsDisplayV2:
      example:
        weapon_image_webp: weapon_image_webp
        display_stats:
        - display_stats
        - display_stats
        weapon_image: weapon_image
        weapon_attributes:
        - weapon_attributes
        - weapon_attributes
        other_display_stats:
        - other_display_stats
        - other_display_stats
      properties:
        display_stats:
          items:
            type: string
          type: array
        other_display_stats:
          items:
            type: string
          type: array
        weapon_attributes:
          items:
            type: string
          nullable: true
          type: array
        weapon_image:
          nullable: true
          type: string
        weapon_image_webp:
          nullable: true
          type: string
      required:
      - display_stats
      - other_display_stats
      title: HeroShopWeaponStatsDisplayV2
    HeroStartingStatV2:
      example:
        display_stat_name: display_stat_name
        value: 5
      properties:
        value:
          $ref: "#/components/schemas/Value"
        display_stat_name:
          title: Display Stat Name
          type: string
      required:
      - display_stat_name
      - value
      title: HeroStartingStatV2
    HeroStartingStatsV2:
      example:
        heavy_melee_damage:
          display_stat_name: display_stat_name
          value: 5
        tech_range:
          display_stat_name: display_stat_name
          value: 5
        weapon_power_scale:
          display_stat_name: display_stat_name
          value: 5
        crit_damage_received_scale:
          display_stat_name: display_stat_name
          value: 5
        reload_speed:
          display_stat_name: display_stat_name
          value: 5
        stamina:
          display_stat_name: display_stat_name
          value: 5
        move_acceleration:
          display_stat_name: display_stat_name
          value: 5
        crouch_speed:
          display_stat_name: display_stat_name
          value: 5
        stamina_regen_per_second:
          display_stat_name: display_stat_name
          value: 5
        max_health:
          display_stat_name: display_stat_name
          value: 5
        ability_resource_max:
          display_stat_name: display_stat_name
          value: 5
        bullet_armor_damage_reduction:
          display_stat_name: display_stat_name
          value: 5
        tech_armor_damage_reduction:
          display_stat_name: display_stat_name
          value: 5
        sprint_speed:
          display_stat_name: display_stat_name
          value: 5
        proc_build_up_rate_scale:
          display_stat_name: display_stat_name
          value: 5
        tech_duration:
          display_stat_name: display_stat_name
          value: 5
        ability_resource_regen_per_second:
          display_stat_name: display_stat_name
          value: 5
        max_move_speed:
          display_stat_name: display_stat_name
          value: 5
        light_melee_damage:
          display_stat_name: display_stat_name
          value: 5
        weapon_power:
          display_stat_name: display_stat_name
          value: 5
        base_health_regen:
          display_stat_name: display_stat_name
          value: 5
      properties:
        max_move_speed:
          $ref: "#/components/schemas/HeroStartingStatV2"
        sprint_speed:
          $ref: "#/components/schemas/HeroStartingStatV2"
        crouch_speed:
          $ref: "#/components/schemas/HeroStartingStatV2"
        move_acceleration:
          $ref: "#/components/schemas/HeroStartingStatV2"
        light_melee_damage:
          $ref: "#/components/schemas/HeroStartingStatV2"
        heavy_melee_damage:
          $ref: "#/components/schemas/HeroStartingStatV2"
        max_health:
          $ref: "#/components/schemas/HeroStartingStatV2"
        weapon_power:
          $ref: "#/components/schemas/HeroStartingStatV2"
        reload_speed:
          $ref: "#/components/schemas/HeroStartingStatV2"
        weapon_power_scale:
          $ref: "#/components/schemas/HeroStartingStatV2"
        proc_build_up_rate_scale:
          $ref: "#/components/schemas/HeroStartingStatV2"
        stamina:
          $ref: "#/components/schemas/HeroStartingStatV2"
        base_health_regen:
          $ref: "#/components/schemas/HeroStartingStatV2"
        stamina_regen_per_second:
          $ref: "#/components/schemas/HeroStartingStatV2"
        ability_resource_max:
          $ref: "#/components/schemas/HeroStartingStatV2"
        ability_resource_regen_per_second:
          $ref: "#/components/schemas/HeroStartingStatV2"
        crit_damage_received_scale:
          $ref: "#/components/schemas/HeroStartingStatV2"
        tech_duration:
          $ref: "#/components/schemas/HeroStartingStatV2"
        tech_armor_damage_reduction:
          $ref: "#/components/schemas/HeroStartingStatV2"
        tech_range:
          $ref: "#/components/schemas/HeroStartingStatV2"
        bullet_armor_damage_reduction:
          $ref: "#/components/schemas/HeroStartingStatV2"
      required:
      - ability_resource_max
      - ability_resource_regen_per_second
      - base_health_regen
      - crit_damage_received_scale
      - crouch_speed
      - heavy_melee_damage
      - light_melee_damage
      - max_health
      - max_move_speed
      - move_acceleration
      - proc_build_up_rate_scale
      - reload_speed
      - sprint_speed
      - stamina
      - stamina_regen_per_second
      - tech_duration
      - tech_range
      - weapon_power
      - weapon_power_scale
      title: HeroStartingStatsV2
    HeroTypeV2:
      enum:
      - assassin
      - brawler
      - marksman
      - mystic
      title: HeroTypeV2
      type: string
    HeroV2:
      example:
        complexity: 6
        recommended_upgrades:
        - recommended_upgrades
        - recommended_upgrades
        skin: 1
        description:
          role: role
          lore: lore
          playstyle: playstyle
        prerelease_only: true
        colors:
          glow_team2:
          - ""
          - ""
          - ""
          glow_team1:
          - ""
          - ""
          - ""
          glow_enemy:
          - ""
          - ""
          - ""
          glow_friendly:
          - ""
          - ""
          - ""
          ui:
          - ""
          - ""
          - ""
        shop_stat_display:
          vitality_stats_display:
            display_stats:
            - display_stats
            - display_stats
            other_display_stats:
            - other_display_stats
            - other_display_stats
          weapon_stats_display:
            weapon_image_webp: weapon_image_webp
            display_stats:
            - display_stats
            - display_stats
            weapon_image: weapon_image
            weapon_attributes:
            - weapon_attributes
            - weapon_attributes
            other_display_stats:
            - other_display_stats
            - other_display_stats
          spirit_stats_display:
            display_stats:
            - display_stats
            - display_stats
        physics:
          footstep_sound_travel_distance_meters: 2.027123023002322
          step_height: 3.616076749251911
          collision_height: 2.3021358869347655
          collision_radius: 7.061401241503109
          stealth_speed_meters_per_second: 9.301444243932576
          step_sound_time: 4.145608029883936
          step_sound_time_sprinting: 7.386281948385884
        gun_tag: gun_tag
        disabled: true
        hero_type: assassin
        level_info:
          key:
            use_standard_upgrade: true
            bonus_currencies:
            - bonus_currencies
            - bonus_currencies
            required_gold: 6
        id: 0
        class_name: class_name
        stats_display:
          health_stats:
          - health_stats
          - health_stats
          magic_stats:
          - magic_stats
          - magic_stats
          weapon_stats:
          - weapon_stats
          - weapon_stats
          weapon_header_stats:
          - weapon_header_stats
          - weapon_header_stats
          magic_header_stats:
          - magic_header_stats
          - magic_header_stats
          health_header_stats:
          - health_header_stats
          - health_header_stats
        item_slot_info:
          key:
            max_purchases_for_tier:
            - 5
            - 5
        assigned_players_only: true
        limited_testing: true
        images:
          weapon_image: weapon_image
          icon_hero_card: icon_hero_card
          top_bar_vertical_image_webp: top_bar_vertical_image_webp
          icon_hero_card_webp: icon_hero_card_webp
          icon_image_small_webp: icon_image_small_webp
          background_image_webp: background_image_webp
          name_image: name_image
          minimap_image: minimap_image
          weapon_image_webp: weapon_image_webp
          background_image: background_image
          top_bar_image: top_bar_image
          selection_image: selection_image
          minimap_image_webp: minimap_image_webp
          icon_image_small: icon_image_small
          top_bar_vertical_image: top_bar_vertical_image
          selection_image_webp: selection_image_webp
          top_bar_image_webp: top_bar_image_webp
        cost_bonuses:
          key:
          - bonus: 1.0246457001441578
            gold_threshold: 1
            percent_on_graph: 1.4894159098541704
          - bonus: 1.0246457001441578
            gold_threshold: 1
            percent_on_graph: 1.4894159098541704
        hero_stats_ui:
          display_stats:
          - stat_type: stat_type
            category: category
          - stat_type: stat_type
            category: category
          weapon_stat_display: weapon_stat_display
        scaling_stats:
          key:
            scaling_stat: scaling_stat
            scale: 7.457744773683766
        starting_stats:
          heavy_melee_damage:
            display_stat_name: display_stat_name
            value: 5
          tech_range:
            display_stat_name: display_stat_name
            value: 5
          weapon_power_scale:
            display_stat_name: display_stat_name
            value: 5
          crit_damage_received_scale:
            display_stat_name: display_stat_name
            value: 5
          reload_speed:
            display_stat_name: display_stat_name
            value: 5
          stamina:
            display_stat_name: display_stat_name
            value: 5
          move_acceleration:
            display_stat_name: display_stat_name
            value: 5
          crouch_speed:
            display_stat_name: display_stat_name
            value: 5
          stamina_regen_per_second:
            display_stat_name: display_stat_name
            value: 5
          max_health:
            display_stat_name: display_stat_name
            value: 5
          ability_resource_max:
            display_stat_name: display_stat_name
            value: 5
          bullet_armor_damage_reduction:
            display_stat_name: display_stat_name
            value: 5
          tech_armor_damage_reduction:
            display_stat_name: display_stat_name
            value: 5
          sprint_speed:
            display_stat_name: display_stat_name
            value: 5
          proc_build_up_rate_scale:
            display_stat_name: display_stat_name
            value: 5
          tech_duration:
            display_stat_name: display_stat_name
            value: 5
          ability_resource_regen_per_second:
            display_stat_name: display_stat_name
            value: 5
          max_move_speed:
            display_stat_name: display_stat_name
            value: 5
          light_melee_damage:
            display_stat_name: display_stat_name
            value: 5
          weapon_power:
            display_stat_name: display_stat_name
            value: 5
          base_health_regen:
            display_stat_name: display_stat_name
            value: 5
        in_development: true
        standard_level_up_upgrades:
          key: 4.965218492984954
        tags:
        - tags
        - tags
        purchase_bonuses:
          key:
          - value_type: value_type
            tier: 1
            value: value
          - value_type: value_type
            tier: 1
            value: value
        name: name
        recommended_ability_order:
        - recommended_ability_order
        - recommended_ability_order
        player_selectable: true
        needs_testing: true
        hideout_rich_presence: hideout_rich_presence
        items:
          key: items
      properties:
        id:
          title: Id
          type: integer
        class_name:
          title: Class Name
          type: string
        name:
          title: Name
          type: string
        description:
          $ref: "#/components/schemas/HeroDescriptionV2"
        recommended_upgrades:
          items:
            type: string
          nullable: true
          type: array
        recommended_ability_order:
          items:
            type: string
          nullable: true
          type: array
        player_selectable:
          title: Player Selectable
          type: boolean
        disabled:
          title: Disabled
          type: boolean
        in_development:
          title: In Development
          type: boolean
        needs_testing:
          title: Needs Testing
          type: boolean
        assigned_players_only:
          title: Assigned Players Only
          type: boolean
        tags:
          items:
            type: string
          nullable: true
          type: array
        gun_tag:
          nullable: true
          type: string
        hideout_rich_presence:
          nullable: true
          type: string
        hero_type:
          $ref: "#/components/schemas/HeroTypeV2"
        prerelease_only:
          nullable: true
          type: boolean
        limited_testing:
          title: Limited Testing
          type: boolean
        complexity:
          title: Complexity
          type: integer
        skin:
          title: Skin
          type: integer
        images:
          $ref: "#/components/schemas/HeroImagesV2"
        items:
          additionalProperties:
            type: string
          title: Items
        starting_stats:
          $ref: "#/components/schemas/HeroStartingStatsV2"
        item_slot_info:
          additionalProperties:
            $ref: "#/components/schemas/RawHeroItemSlotInfoValueV2"
          title: Item Slot Info
        physics:
          $ref: "#/components/schemas/HeroPhysicsV2"
        colors:
          $ref: "#/components/schemas/HeroColorsV2"
        shop_stat_display:
          $ref: "#/components/schemas/HeroShopStatDisplayV2"
        cost_bonuses:
          additionalProperties:
            items:
              $ref: "#/components/schemas/RawHeroMapModCostBonusesV2"
          nullable: true
        stats_display:
          $ref: "#/components/schemas/RawHeroStatsDisplayV2"
        hero_stats_ui:
          $ref: "#/components/schemas/RawHeroStatsUIV2"
        level_info:
          additionalProperties:
            $ref: "#/components/schemas/HeroLevelInfoV2"
          title: Level Info
        scaling_stats:
          additionalProperties:
            $ref: "#/components/schemas/RawHeroScalingStatV2"
          title: Scaling Stats
        purchase_bonuses:
          additionalProperties:
            items:
              $ref: "#/components/schemas/RawHeroPurchaseBonusV2"
          title: Purchase Bonuses
        standard_level_up_upgrades:
          additionalProperties:
            type: number
          title: Standard Level Up Upgrades
      required:
      - assigned_players_only
      - class_name
      - colors
      - complexity
      - description
      - disabled
      - hero_stats_ui
      - id
      - images
      - in_development
      - item_slot_info
      - items
      - level_info
      - limited_testing
      - name
      - needs_testing
      - physics
      - player_selectable
      - purchase_bonuses
      - scaling_stats
      - shop_stat_display
      - skin
      - standard_level_up_upgrades
      - starting_stats
      - stats_display
      title: HeroV2
    IntrinsicModifiers:
      example:
        script_values:
        - modifier_value: modifier_value
          value: 5.877124706116695
        - modifier_value: modifier_value
          value: 5.877124706116695
      properties:
        script_values:
          items:
            $ref: "#/components/schemas/ScriptValues"
          nullable: true
          type: array
      title: IntrinsicModifiers
    ItemGroup:
      example:
        shop_group: shop_group
        upgrades:
        - upgrades
        - upgrades
      properties:
        shop_group:
          title: Shop Group
          type: string
        upgrades:
          items:
            type: string
          type: array
      required:
      - shop_group
      - upgrades
      title: ItemGroup
    ItemPropertyV2:
      example:
        conditional: conditional
        usage_flags:
        - ConditionallyApplied
        - ConditionallyApplied
        prefix: prefix
        icon: icon
        can_set_token_override: true
        scale_function:
          scaling_stats:
          - scaling_stats
          - scaling_stats
          subclass_name: subclass_name
          stat_scale: 5.637376656633329
          class_name: class_name
          specific_stat_scale_type: specific_stat_scale_type
        label: label
        loc_token_override: loc_token_override
        css_class: css_class
        disable_value: disable_value
        icon_path: icon_path
        provided_property_type: provided_property_type
        negative_attribute: true
        postfix: postfix
        value: Value_1
        postvalue_label: postvalue_label
        display_units: display_units
      properties:
        value:
          $ref: "#/components/schemas/Value_1"
        can_set_token_override:
          nullable: true
          type: boolean
        provided_property_type:
          nullable: true
          type: string
        css_class:
          nullable: true
          type: string
        usage_flags:
          $ref: "#/components/schemas/Usage_Flags"
        negative_attribute:
          nullable: true
          type: boolean
        disable_value:
          nullable: true
          type: string
        loc_token_override:
          nullable: true
          type: string
        display_units:
          nullable: true
          type: string
        icon_path:
          nullable: true
          type: string
        scale_function:
          $ref: "#/components/schemas/RawItemPropertyScaleFunctionSubclassV2"
        prefix:
          nullable: true
          type: string
        label:
          nullable: true
          type: string
        postfix:
          nullable: true
          type: string
        postvalue_label:
          nullable: true
          type: string
        conditional:
          nullable: true
          type: string
        icon:
          nullable: true
          type: string
      title: ItemPropertyV2
    ItemSlotTypeV2:
      enum:
      - weapon
      - spirit
      - vitality
      title: ItemSlotTypeV2
      type: string
    ItemTierV2:
      enum:
      - 1
      - 2
      - 3
      - 4
      title: ItemTierV2
      type: integer
    ItemTypeV2:
      enum:
      - weapon
      - ability
      - upgrade
      - tech
      - armor
      title: ItemTypeV2
      type: string
    LaneInfoV2:
      example:
        css_class: css_class
        objective_color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        minimap_zipline_color_override:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        lane_name: lane_name
      properties:
        lane_name:
          title: Lane Name
          type: string
        css_class:
          nullable: true
          type: string
        color:
          $ref: "#/components/schemas/ColorV1"
        minimap_zipline_color_override:
          $ref: "#/components/schemas/ColorV1"
        objective_color:
          $ref: "#/components/schemas/ColorV1"
      required:
      - color
      - lane_name
      title: LaneInfoV2
    Language:
      enum:
      - brazilian
      - bulgarian
      - czech
      - danish
      - dutch
      - english
      - finnish
      - french
      - german
      - greek
      - hungarian
      - indonesian
      - italian
      - japanese
      - koreana
      - latam
      - norwegian
      - polish
      - portuguese
      - romanian
      - russian
      - schinese
      - spanish
      - swedish
      - tchinese
      - thai
      - turkish
      - ukrainian
      - vietnamese
      title: Language
      type: string
    MapImagesV1:
      example:
        minimap: minimap
        plain: plain
        background: background
        mid: mid
        frame: frame
      properties:
        minimap:
          description: The minimap image of the map.
          title: Minimap
          type: string
        plain:
          description: The minimap image of the map without background image and frame
            image.
          title: Plain
          type: string
        background:
          description: The background image of the map.
          title: Background
          type: string
        frame:
          description: The frame image of the map.
          title: Frame
          type: string
        mid:
          description: The mid image of the map.
          title: Mid
          type: string
      required:
      - background
      - frame
      - mid
      - minimap
      - plain
      title: MapImagesV1
    MapV1:
      example:
        zipline_paths:
        - color: color
          P0_points:
          - - ""
            - ""
            - ""
          - - ""
            - ""
            - ""
          origin:
          - ""
          - ""
          - ""
          color_parsed:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          P1_points:
          - - ""
            - ""
            - ""
          - - ""
            - ""
            - ""
          P2_points:
          - - ""
            - ""
            - ""
          - - ""
            - ""
            - ""
        - color: color
          P0_points:
          - - ""
            - ""
            - ""
          - - ""
            - ""
            - ""
          origin:
          - ""
          - ""
          - ""
          color_parsed:
            red: 211
            green: 164
            blue: 105
            alpha: 227
          P1_points:
          - - ""
            - ""
            - ""
          - - ""
            - ""
            - ""
          P2_points:
          - - ""
            - ""
            - ""
          - - ""
            - ""
            - ""
        images:
          minimap: minimap
          plain: plain
          background: background
          mid: mid
          frame: frame
        objective_positions:
          team0_titan:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_titan:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_core:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier2_3:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier1_4:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier2_4:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier2_4:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier2_2:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier1_3:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier2_3:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier1_4:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier1_1:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_core:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier2_1:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team1_tier1_2:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier2_1:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier1_2:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier2_2:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier1_3:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
          team0_tier1_1:
            top_relative: 1.4658129805029452
            left_relative: 6.027456183070403
        radius: 0
      properties:
        radius:
          default: 10752
          description: The radius of the map.
          title: Radius
          type: integer
        images:
          $ref: "#/components/schemas/MapImagesV1"
        objective_positions:
          $ref: "#/components/schemas/ObjectivePositionsV1"
        zipline_paths:
          description: "The ziplane paths of the map. Each path is a list of P0, P1,\
            \ and P2 points, describing the cubic spline."
          items:
            $ref: "#/components/schemas/ZiplanePathV1"
          type: array
      required:
      - images
      - objective_positions
      - zipline_paths
      title: MapV1
    MiniMapOffsets:
      example:
        lane_index: 0
        entity_class: entity_class
        offset_2d:
        - 4.078845849666752
        - 4.078845849666752
      properties:
        entity_class:
          title: Entity Class
          type: string
        offset_2d:
          items:
            type: number
          type: array
        lane_index:
          nullable: true
          type: integer
      required:
      - entity_class
      - offset_2d
      title: MiniMapOffsets
    MiscV2:
      example:
        initial_spawn_time: 0.8008281904610115
        initial_spawn_delay_seconds: 3
        loot_list_deck_size: 9
        color:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        spawn_interval_in_seconds: 5
        roll_type: roll_type
        respawn_time: 6.027456183070403
        modifier:
          subclass:
            duration: 1.4894159098541704
            time_max: 7.457744773683766
            time_min: 6.84685269835264
            script_values:
            - value_type: value_type
              value_min: 4.965218492984954
              value_max: 5.025004791520295
              value: 1.1730742509559433
            - value_type: value_type
              value_min: 4.965218492984954
              value_max: 5.025004791520295
              value: 1.1730742509559433
            debuff_type: debuff_type
            modifier_values:
            - value_type: value_type
              value_min: 4.965218492984954
              value_max: 5.025004791520295
              value: 1.1730742509559433
            - value_type: value_type
              value_min: 4.965218492984954
              value_max: 5.025004791520295
              value: 1.1730742509559433
            subclass_name: subclass_name
            class_name: class_name
            always_show_in_ui:
            - always_show_in_ui
            - always_show_in_ui
        lifetime: 9.018348186070783
        primary_pickups:
        - pickup_weight: 7.386281948385884
          pickup_name: pickup_name
        - pickup_weight: 7.386281948385884
          pickup_name: pickup_name
        primary_drop_chance: 4.145608029883936
        gold_amount: 1.2315135367772556
        spawn_interval: 1.4658129805029452
        damaged_by_bullets: true
        m_vecPickups_lv2:
        - pickup_weight: 7.386281948385884
          pickup_name: pickup_name
        - pickup_weight: 7.386281948385884
          pickup_name: pickup_name
        render_after_death: true
        m_vecPickups_lv3:
        - pickup_weight: 7.386281948385884
          pickup_name: pickup_name
        - pickup_weight: 7.386281948385884
          pickup_name: pickup_name
        orb_spawn_delay_min: 6.683562403749608
        is_mantleable: true
        gold_per_minute_amount: 1.0246457001441578
        id: 3
        class_name: class_name
        orb_spawn_delay_max: 8.762042012749001
        break_on_dodge_touch: true
        show_on_minimap: true
        health: 2
        pickup_radius:
          per_minute_after_start: 9.369310271410669
          base: 9.965781217890562
        match_time_mins_for_level2_pickups: 2
        damaged_by_abilities: true
        solid_after_death: true
        initial_spawn_delay_in_seconds: 5
        match_time_mins_for_level3_pickups: 7
        collision_radius: 6.438423552598547
        damaged_by_melee: true
        expiration_duration:
          per_minute_after_start: 9.369310271410669
          base: 9.965781217890562
      properties:
        class_name:
          title: Class Name
          type: string
        color:
          $ref: "#/components/schemas/ColorV1"
        initial_spawn_time:
          nullable: true
          type: number
        respawn_time:
          nullable: true
          type: number
        spawn_interval:
          nullable: true
          type: number
        initial_spawn_delay_in_seconds:
          nullable: true
          type: integer
        spawn_interval_in_seconds:
          nullable: true
          type: integer
        match_time_mins_for_level2_pickups:
          nullable: true
          type: integer
        match_time_mins_for_level3_pickups:
          nullable: true
          type: integer
        loot_list_deck_size:
          nullable: true
          type: integer
        initial_spawn_delay_seconds:
          nullable: true
          type: integer
        health:
          nullable: true
          type: integer
        break_on_dodge_touch:
          nullable: true
          type: boolean
        solid_after_death:
          nullable: true
          type: boolean
        render_after_death:
          nullable: true
          type: boolean
        damaged_by_abilities:
          nullable: true
          type: boolean
        damaged_by_melee:
          nullable: true
          type: boolean
        damaged_by_bullets:
          nullable: true
          type: boolean
        is_mantleable:
          nullable: true
          type: boolean
        primary_drop_chance:
          nullable: true
          type: number
        primary_pickups:
          items:
            $ref: "#/components/schemas/PickupDefinition"
          nullable: true
          type: array
        m_vecPickups_lv2:
          items:
            $ref: "#/components/schemas/PickupDefinition"
          nullable: true
          type: array
        m_vecPickups_lv3:
          items:
            $ref: "#/components/schemas/PickupDefinition"
          nullable: true
          type: array
        roll_type:
          nullable: true
          type: string
        gold_amount:
          nullable: true
          type: number
        gold_per_minute_amount:
          nullable: true
          type: number
        modifier:
          $ref: "#/components/schemas/SubclassModifierDefinition"
        pickup_radius:
          $ref: "#/components/schemas/Pickup_Radius"
        expiration_duration:
          $ref: "#/components/schemas/Expiration_Duration"
        show_on_minimap:
          nullable: true
          type: boolean
        orb_spawn_delay_min:
          nullable: true
          type: number
        orb_spawn_delay_max:
          nullable: true
          type: number
        lifetime:
          nullable: true
          type: number
        collision_radius:
          nullable: true
          type: number
        id:
          format: int64
          readOnly: true
          title: Id
          type: integer
      required:
      - class_name
      - id
      title: MiscV2
    ModifierDefinition:
      description: Schema for the m_sModifer block (note the typo in the source key
        'Modifer').
      example:
        duration: 1.4894159098541704
        time_max: 7.457744773683766
        time_min: 6.84685269835264
        script_values:
        - value_type: value_type
          value_min: 4.965218492984954
          value_max: 5.025004791520295
          value: 1.1730742509559433
        - value_type: value_type
          value_min: 4.965218492984954
          value_max: 5.025004791520295
          value: 1.1730742509559433
        debuff_type: debuff_type
        modifier_values:
        - value_type: value_type
          value_min: 4.965218492984954
          value_max: 5.025004791520295
          value: 1.1730742509559433
        - value_type: value_type
          value_min: 4.965218492984954
          value_max: 5.025004791520295
          value: 1.1730742509559433
        subclass_name: subclass_name
        class_name: class_name
        always_show_in_ui:
        - always_show_in_ui
        - always_show_in_ui
      properties:
        class_name:
          nullable: true
          type: string
        subclass_name:
          nullable: true
          type: string
        duration:
          nullable: true
          type: number
        time_min:
          nullable: true
          type: number
        time_max:
          nullable: true
          type: number
        debuff_type:
          nullable: true
          type: string
        always_show_in_ui:
          items:
            type: string
          nullable: true
          type: array
        modifier_values:
          items:
            $ref: "#/components/schemas/ModifierValue"
          nullable: true
          type: array
        script_values:
          items:
            $ref: "#/components/schemas/ModifierValue"
          nullable: true
          type: array
      title: ModifierDefinition
    ModifierValue:
      description: |-
        Handles items within m_vecModifierValues and m_vecScriptValues.
        Captures both fixed values (m_value) and ranged values (m_valueMin/Max).
      example:
        value_type: value_type
        value_min: 4.965218492984954
        value_max: 5.025004791520295
        value: 1.1730742509559433
      properties:
        value_type:
          nullable: true
          type: string
        value:
          nullable: true
          type: number
        value_min:
          nullable: true
          type: number
        value_max:
          nullable: true
          type: number
      title: ModifierValue
    NPCUnitV2:
      example:
        gold_reward: 3.1497903714250555
        health_bar_color_enemy:
          red: 211
          green: 164
          blue: 105
          alpha: 227
        stomp_damage_max_health_percent: 6.173804034172511
        bound_abilities:
          key: bound_abilities
        attack_t1_boss_max_range: 5.7911894223693885
        t1_boss_dps: 3.2841216543560217
        trooper_dps: 4.010300976654761
        melee_duration: 4.372688051310086
        acceleration: 1.2555055362323109
        glow_color_friend:
          red: 211
          green: 164
          blue: 105
          alpha: 227
[...]
