/*
 * Deadlock API
 *
 *  ## API Clients  We have auto generated and updated clients for many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)  ## Support the Deadlock API  Whether you're building your own database, developing data science projects, or enhancing your website with game and player analytics, the Deadlock API has the data you need.  Your sponsorship helps keep this resource open, free and future-proof for everyone. By supporting the Deadlock API, you will enable continued development, new features and reliable access for developers, analysts and streamers worldwide.  Help us continue to provide the data you need - sponsor the Deadlock API today!  **-> You can Sponsor the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or [GitHub](https://github.com/sponsors/raimannma)**  ## Disclaimer _deadlock-api.com is not endorsed by Valve and does not reflect the views or opinions of Valve or anyone officially involved in producing or managing Valve properties. Valve and all associated properties are trademarks or registered trademarks of Valve Corporation_         
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration, ContentType};

/// struct for passing parameters to the method [`hero_mmr`]
#[derive(Clone, Debug)]
pub struct HeroMmrParams {
    /// Comma separated list of account ids, Account IDs are in `SteamID3` format.
    pub account_ids: Vec<u32>,
    /// The hero ID to fetch the MMR history for. See more: <https://api.deadlock-api.com/v1/assets/heroes>
    pub hero_id: u32,
    /// Filter matches based on their ID.
    pub max_match_id: Option<u64>
}

/// struct for passing parameters to the method [`hero_mmr_distribution`]
#[derive(Clone, Debug)]
pub struct HeroMmrDistributionParams {
    /// The hero ID to fetch the MMR history for. See more: <https://api.deadlock-api.com/v1/assets/heroes>
    pub hero_id: u32,
    /// Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.
    pub min_unix_timestamp: Option<i64>,
    /// Filter matches based on their start time (Unix timestamp).
    pub max_unix_timestamp: Option<i64>,
    /// Filter matches based on their duration in seconds (up to 7000s).
    pub min_duration_s: Option<u64>,
    /// Filter matches based on their duration in seconds (up to 7000s).
    pub max_duration_s: Option<u64>,
    /// Filter matches based on whether they are in the high skill range.
    pub is_high_skill_range_parties: Option<bool>,
    /// Filter matches based on whether they are in the low priority pool.
    pub is_low_pri_pool: Option<bool>,
    /// Filter matches based on whether they are in the new player pool.
    pub is_new_player_pool: Option<bool>,
    /// Filter matches based on their ID.
    pub min_match_id: Option<u64>,
    /// Filter matches based on their ID.
    pub max_match_id: Option<u64>
}

/// struct for passing parameters to the method [`hero_mmr_history`]
#[derive(Clone, Debug)]
pub struct HeroMmrHistoryParams {
    /// The players `SteamID3`
    pub account_id: u32,
    /// The hero ID to fetch the MMR history for. See more: <https://api.deadlock-api.com/v1/assets/heroes>
    pub hero_id: u32
}

/// struct for passing parameters to the method [`mmr`]
#[derive(Clone, Debug)]
pub struct MmrParams {
    /// Comma separated list of account ids, Account IDs are in `SteamID3` format.
    pub account_ids: Vec<u32>,
    /// Filter matches based on their ID.
    pub max_match_id: Option<u64>
}

/// struct for passing parameters to the method [`mmr_distribution`]
#[derive(Clone, Debug)]
pub struct MmrDistributionParams {
    /// Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.
    pub min_unix_timestamp: Option<i64>,
    /// Filter matches based on their start time (Unix timestamp).
    pub max_unix_timestamp: Option<i64>,
    /// Filter matches based on their duration in seconds (up to 7000s).
    pub min_duration_s: Option<u64>,
    /// Filter matches based on their duration in seconds (up to 7000s).
    pub max_duration_s: Option<u64>,
    /// Filter matches based on whether they are in the high skill range.
    pub is_high_skill_range_parties: Option<bool>,
    /// Filter matches based on whether they are in the low priority pool.
    pub is_low_pri_pool: Option<bool>,
    /// Filter matches based on whether they are in the new player pool.
    pub is_new_player_pool: Option<bool>,
    /// Filter matches based on their ID.
    pub min_match_id: Option<u64>,
    /// Filter matches based on their ID.
    pub max_match_id: Option<u64>
}

/// struct for passing parameters to the method [`mmr_history`]
#[derive(Clone, Debug)]
pub struct MmrHistoryParams {
    /// The players `SteamID3`
    pub account_id: u32
}


/// struct for typed errors of method [`hero_mmr`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum HeroMmrError {
    Status400(),
    Status500(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`hero_mmr_distribution`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum HeroMmrDistributionError {
    Status400(),
    Status500(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`hero_mmr_history`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum HeroMmrHistoryError {
    Status400(),
    Status500(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`mmr`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MmrError {
    Status400(),
    Status500(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`mmr_distribution`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MmrDistributionError {
    Status400(),
    Status500(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`mmr_history`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum MmrHistoryError {
    Status400(),
    Status500(),
    UnknownValue(serde_json::Value),
}


///  Deprecated. Valve reports a single account-wide rank, not a per-hero one, so this returns each player's rank on their latest ranked match played on that hero.  Use `/v1/players/{account_id}/rank` instead. 
#[deprecated]
pub async fn hero_mmr(configuration: &configuration::Configuration, params: HeroMmrParams) -> Result<Vec<models::MmrHistory>, Error<HeroMmrError>> {

    let uri_str = format!("{}/v1/players/mmr/{hero_id}", configuration.base_path, hero_id=params.hero_id);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = match "multi" {
        "multi" => req_builder.query(&params.account_ids.into_iter().map(|p| ("account_ids".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
        _ => req_builder.query(&[("account_ids", &params.account_ids.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
    };
    if let Some(ref param_value) = params.max_match_id {
        req_builder = req_builder.query(&[("max_match_id", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<HeroMmrError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

///  Deprecated. Valve reports a single account-wide rank, not a per-hero one, so this counts players by the rank they had on their latest ranked match played on that hero.  Use `/v1/analytics/badge-distribution` instead. 
#[deprecated]
pub async fn hero_mmr_distribution(configuration: &configuration::Configuration, params: HeroMmrDistributionParams) -> Result<Vec<models::DistributionEntry>, Error<HeroMmrDistributionError>> {

    let uri_str = format!("{}/v1/players/mmr/distribution/{hero_id}", configuration.base_path, hero_id=params.hero_id);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = params.min_unix_timestamp {
        req_builder = req_builder.query(&[("min_unix_timestamp", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.max_unix_timestamp {
        req_builder = req_builder.query(&[("max_unix_timestamp", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.min_duration_s {
        req_builder = req_builder.query(&[("min_duration_s", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.max_duration_s {
        req_builder = req_builder.query(&[("max_duration_s", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.is_high_skill_range_parties {
        req_builder = req_builder.query(&[("is_high_skill_range_parties", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.is_low_pri_pool {
        req_builder = req_builder.query(&[("is_low_pri_pool", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.is_new_player_pool {
        req_builder = req_builder.query(&[("is_new_player_pool", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.min_match_id {
        req_builder = req_builder.query(&[("min_match_id", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.max_match_id {
        req_builder = req_builder.query(&[("max_match_id", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::DistributionEntry&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::DistributionEntry&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<HeroMmrDistributionError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

///  Deprecated. Valve reports a single account-wide rank, not a per-hero one, so this returns the player's rank at the end of each ranked match they played on that hero.  Use the `ranked_display_badge` and `ranked_delta` fields of `/v1/players/{account_id}/match-history` instead. 
#[deprecated]
pub async fn hero_mmr_history(configuration: &configuration::Configuration, params: HeroMmrHistoryParams) -> Result<Vec<models::MmrHistory>, Error<HeroMmrHistoryError>> {

    let uri_str = format!("{}/v1/players/{account_id}/mmr-history/{hero_id}", configuration.base_path, account_id=params.account_id, hero_id=params.hero_id);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<HeroMmrHistoryError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

///  Deprecated. The MMR estimate is gone, this now returns the rank Valve reported for each player at the end of their latest ranked match. Players without a ranked match carrying a rank are left out.  Use `/v1/players/{account_id}/rank` instead. 
#[deprecated]
pub async fn mmr(configuration: &configuration::Configuration, params: MmrParams) -> Result<Vec<models::MmrHistory>, Error<MmrError>> {

    let uri_str = format!("{}/v1/players/mmr", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = match "multi" {
        "multi" => req_builder.query(&params.account_ids.into_iter().map(|p| ("account_ids".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
        _ => req_builder.query(&[("account_ids", &params.account_ids.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
    };
    if let Some(ref param_value) = params.max_match_id {
        req_builder = req_builder.query(&[("max_match_id", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MmrError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

///  Deprecated. The MMR estimate is gone, this now counts players by the rank Valve reported at the end of their latest ranked match within the filtered range.  Use `/v1/analytics/badge-distribution` instead. 
#[deprecated]
pub async fn mmr_distribution(configuration: &configuration::Configuration, params: MmrDistributionParams) -> Result<Vec<models::DistributionEntry>, Error<MmrDistributionError>> {

    let uri_str = format!("{}/v1/players/mmr/distribution", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = params.min_unix_timestamp {
        req_builder = req_builder.query(&[("min_unix_timestamp", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.max_unix_timestamp {
        req_builder = req_builder.query(&[("max_unix_timestamp", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.min_duration_s {
        req_builder = req_builder.query(&[("min_duration_s", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.max_duration_s {
        req_builder = req_builder.query(&[("max_duration_s", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.is_high_skill_range_parties {
        req_builder = req_builder.query(&[("is_high_skill_range_parties", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.is_low_pri_pool {
        req_builder = req_builder.query(&[("is_low_pri_pool", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.is_new_player_pool {
        req_builder = req_builder.query(&[("is_new_player_pool", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.min_match_id {
        req_builder = req_builder.query(&[("min_match_id", &param_value.to_string())]);
    }
    if let Some(ref param_value) = params.max_match_id {
        req_builder = req_builder.query(&[("max_match_id", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::DistributionEntry&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::DistributionEntry&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MmrDistributionError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

///  Deprecated. The MMR estimate is gone, this now returns one entry per ranked match with the rank Valve reported for the player at the end of that match.  Use the `ranked_display_badge` and `ranked_delta` fields of `/v1/players/{account_id}/match-history` instead. 
#[deprecated]
pub async fn mmr_history(configuration: &configuration::Configuration, params: MmrHistoryParams) -> Result<Vec<models::MmrHistory>, Error<MmrHistoryError>> {

    let uri_str = format!("{}/v1/players/{account_id}/mmr-history", configuration.base_path, account_id=params.account_id);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::MmrHistory&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<MmrHistoryError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

