/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package deadlock_api_client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import deadlock_api_client.models.Build

import com.squareup.moshi.Json

import deadlock_api_client.infrastructure.ApiClient
import deadlock_api_client.infrastructure.ApiResponse
import deadlock_api_client.infrastructure.ClientException
import deadlock_api_client.infrastructure.ClientError
import deadlock_api_client.infrastructure.ServerException
import deadlock_api_client.infrastructure.ServerError
import deadlock_api_client.infrastructure.MultiValueMap
import deadlock_api_client.infrastructure.PartConfig
import deadlock_api_client.infrastructure.RequestConfig
import deadlock_api_client.infrastructure.RequestMethod
import deadlock_api_client.infrastructure.ResponseType
import deadlock_api_client.infrastructure.Success
import deadlock_api_client.infrastructure.toMultiValue

open class BuildsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.deadlock-api.com")
        }
    }

    /**
     * GET /v1/builds/{hero_id}/{build_id}
     * Fetch Live
     *  Returns a single build. If the build is already in our database it is served from there, otherwise it is fetched live from the Deadlock Game Coordinator and stored in the database.  Set &#x60;force_refetch&#x3D;true&#x60; to always fetch from the Game Coordinator, e.g. to pick up a newer version.  Rate limits only apply when the build is fetched from the Game Coordinator.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgClientToGCFindHeroBuilds - CMsgClientToGCFindHeroBuildsResponse  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 20req/min | | Key | 100req/min | | Global | 500req/min |     
     * @param heroId The hero ID of the build. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt;
     * @param buildId The build ID to fetch.
     * @param forceRefetch Fetch the build from the Game Coordinator even if it is already in the database. (optional)
     * @return Build
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun fetchBuildLive(heroId: kotlin.Int, buildId: kotlin.Int, forceRefetch: kotlin.Boolean? = null) : Build {
        val localVarResponse = fetchBuildLiveWithHttpInfo(heroId = heroId, buildId = buildId, forceRefetch = forceRefetch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Build
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/builds/{hero_id}/{build_id}
     * Fetch Live
     *  Returns a single build. If the build is already in our database it is served from there, otherwise it is fetched live from the Deadlock Game Coordinator and stored in the database.  Set &#x60;force_refetch&#x3D;true&#x60; to always fetch from the Game Coordinator, e.g. to pick up a newer version.  Rate limits only apply when the build is fetched from the Game Coordinator.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgClientToGCFindHeroBuilds - CMsgClientToGCFindHeroBuildsResponse  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 20req/min | | Key | 100req/min | | Global | 500req/min |     
     * @param heroId The hero ID of the build. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt;
     * @param buildId The build ID to fetch.
     * @param forceRefetch Fetch the build from the Game Coordinator even if it is already in the database. (optional)
     * @return ApiResponse<Build?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun fetchBuildLiveWithHttpInfo(heroId: kotlin.Int, buildId: kotlin.Int, forceRefetch: kotlin.Boolean?) : ApiResponse<Build?> {
        val localVariableConfig = fetchBuildLiveRequestConfig(heroId = heroId, buildId = buildId, forceRefetch = forceRefetch)

        return request<Unit, Build>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation fetchBuildLive
     *
     * @param heroId The hero ID of the build. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt;
     * @param buildId The build ID to fetch.
     * @param forceRefetch Fetch the build from the Game Coordinator even if it is already in the database. (optional)
     * @return RequestConfig
     */
    fun fetchBuildLiveRequestConfig(heroId: kotlin.Int, buildId: kotlin.Int, forceRefetch: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (forceRefetch != null) {
                    put("force_refetch", listOf(forceRefetch.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/builds/{hero_id}/{build_id}".replace("{"+"hero_id"+"}", encodeURIComponent(heroId.toString())).replace("{"+"build_id"+"}", encodeURIComponent(buildId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/builds/by-author/{account_id}
     * Fetch Live by Author
     *  Fetches all builds of an author directly from the Deadlock Game Coordinator and stores them in the database.  Unlike the search endpoint, this does not rely on builds already being in our database, so it can be used to look up builds that have not been crawled yet. Every fetched build is upserted into the database.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgClientToGCFindHeroBuilds - CMsgClientToGCFindHeroBuildsResponse  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 20req/min | | Key | 100req/min | | Global | 500req/min |     
     * @param accountId The players &#x60;SteamID3&#x60;
     * @return kotlin.collections.List<Build>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun fetchBuildsByAuthorLive(accountId: kotlin.Int) : kotlin.collections.List<Build> {
        val localVarResponse = fetchBuildsByAuthorLiveWithHttpInfo(accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Build>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/builds/by-author/{account_id}
     * Fetch Live by Author
     *  Fetches all builds of an author directly from the Deadlock Game Coordinator and stores them in the database.  Unlike the search endpoint, this does not rely on builds already being in our database, so it can be used to look up builds that have not been crawled yet. Every fetched build is upserted into the database.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgClientToGCFindHeroBuilds - CMsgClientToGCFindHeroBuildsResponse  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 20req/min | | Key | 100req/min | | Global | 500req/min |     
     * @param accountId The players &#x60;SteamID3&#x60;
     * @return ApiResponse<kotlin.collections.List<Build>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun fetchBuildsByAuthorLiveWithHttpInfo(accountId: kotlin.Int) : ApiResponse<kotlin.collections.List<Build>?> {
        val localVariableConfig = fetchBuildsByAuthorLiveRequestConfig(accountId = accountId)

        return request<Unit, kotlin.collections.List<Build>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation fetchBuildsByAuthorLive
     *
     * @param accountId The players &#x60;SteamID3&#x60;
     * @return RequestConfig
     */
    fun fetchBuildsByAuthorLiveRequestConfig(accountId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/builds/by-author/{account_id}".replace("{"+"account_id"+"}", encodeURIComponent(accountId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter sortBy
     */
     enum class SortBySearchBuilds(val value: kotlin.String) {
         @Json(name = "weekly_favorites") weekly_favorites("weekly_favorites"),
         @Json(name = "favorites") favorites("favorites"),
         @Json(name = "ignores") ignores("ignores"),
         @Json(name = "reports") reports("reports"),
         @Json(name = "updated_at") updated_at("updated_at"),
         @Json(name = "published_at") published_at("published_at"),
         @Json(name = "version") version("version");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter sortDirection
     */
     enum class SortDirectionSearchBuilds(val value: kotlin.String) {
         @Json(name = "desc") desc("desc"),
         @Json(name = "asc") asc("asc");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter buildLanguage
     */
     enum class BuildLanguageSearchBuilds(val value: kotlin.String) {
         @Json(name = "English") English("English"),
         @Json(name = "German") German("German"),
         @Json(name = "French") French("French"),
         @Json(name = "Italian") Italian("Italian"),
         @Json(name = "Korean") Korean("Korean"),
         @Json(name = "SpanishSpain") SpanishSpain("SpanishSpain"),
         @Json(name = "ChineseSimplified") ChineseSimplified("ChineseSimplified"),
         @Json(name = "Russian") Russian("Russian"),
         @Json(name = "Thai") Thai("Thai"),
         @Json(name = "Japanese") Japanese("Japanese"),
         @Json(name = "PortuguesePortugal") PortuguesePortugal("PortuguesePortugal"),
         @Json(name = "Polish") Polish("Polish"),
         @Json(name = "Czech") Czech("Czech"),
         @Json(name = "Turkish") Turkish("Turkish"),
         @Json(name = "PortugueseBrazil") PortugueseBrazil("PortugueseBrazil"),
         @Json(name = "Ukrainian") Ukrainian("Ukrainian"),
         @Json(name = "SpanishLatinAmerica") SpanishLatinAmerica("SpanishLatinAmerica"),
         @Json(name = "Vietnamese") Vietnamese("Vietnamese");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/builds
     * Search
     *  Search for builds based on various criteria.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @param minUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
     * @param maxUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
     * @param minPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
     * @param maxPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
     * @param sortBy The field to sort the builds by. (optional)
     * @param start The index of the first build to return. (optional)
     * @param limit The maximum number of builds to return. (optional, default to 100)
     * @param sortDirection The direction to sort the builds in. (optional)
     * @param searchName Search for builds with a name containing this string. (optional)
     * @param searchDescription Search for builds with a description containing this string. (optional)
     * @param onlyLatest Only return the latest version of each build. (optional)
     * @param language Filter builds by language. (optional)
     * @param buildLanguage Filter builds by language. (optional)
     * @param buildId Filter builds by ID. (optional)
     * @param version Filter builds by version. (optional)
     * @param heroId Filter builds by hero ID. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt; (optional)
     * @param tag Filter builds by tag. (optional)
     * @param rollupCategory Filter builds by rollup category. (optional)
     * @param authorId The author&#39;s &#x60;SteamID3&#x60; (optional)
     * @return kotlin.collections.List<Build>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchBuilds(minUnixTimestamp: kotlin.Long? = null, maxUnixTimestamp: kotlin.Long? = null, minPublishedUnixTimestamp: kotlin.Long? = null, maxPublishedUnixTimestamp: kotlin.Long? = null, sortBy: SortBySearchBuilds? = null, start: kotlin.Int? = null, limit: kotlin.Int? = 100, sortDirection: SortDirectionSearchBuilds? = null, searchName: kotlin.String? = null, searchDescription: kotlin.String? = null, onlyLatest: kotlin.Boolean? = null, language: kotlin.Int? = null, buildLanguage: BuildLanguageSearchBuilds? = null, buildId: kotlin.Int? = null, version: kotlin.Int? = null, heroId: kotlin.Int? = null, tag: kotlin.Int? = null, rollupCategory: kotlin.Int? = null, authorId: kotlin.Int? = null) : kotlin.collections.List<Build> {
        val localVarResponse = searchBuildsWithHttpInfo(minUnixTimestamp = minUnixTimestamp, maxUnixTimestamp = maxUnixTimestamp, minPublishedUnixTimestamp = minPublishedUnixTimestamp, maxPublishedUnixTimestamp = maxPublishedUnixTimestamp, sortBy = sortBy, start = start, limit = limit, sortDirection = sortDirection, searchName = searchName, searchDescription = searchDescription, onlyLatest = onlyLatest, language = language, buildLanguage = buildLanguage, buildId = buildId, version = version, heroId = heroId, tag = tag, rollupCategory = rollupCategory, authorId = authorId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Build>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/builds
     * Search
     *  Search for builds based on various criteria.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @param minUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
     * @param maxUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
     * @param minPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
     * @param maxPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
     * @param sortBy The field to sort the builds by. (optional)
     * @param start The index of the first build to return. (optional)
     * @param limit The maximum number of builds to return. (optional, default to 100)
     * @param sortDirection The direction to sort the builds in. (optional)
     * @param searchName Search for builds with a name containing this string. (optional)
     * @param searchDescription Search for builds with a description containing this string. (optional)
     * @param onlyLatest Only return the latest version of each build. (optional)
     * @param language Filter builds by language. (optional)
     * @param buildLanguage Filter builds by language. (optional)
     * @param buildId Filter builds by ID. (optional)
     * @param version Filter builds by version. (optional)
     * @param heroId Filter builds by hero ID. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt; (optional)
     * @param tag Filter builds by tag. (optional)
     * @param rollupCategory Filter builds by rollup category. (optional)
     * @param authorId The author&#39;s &#x60;SteamID3&#x60; (optional)
     * @return ApiResponse<kotlin.collections.List<Build>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchBuildsWithHttpInfo(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minPublishedUnixTimestamp: kotlin.Long?, maxPublishedUnixTimestamp: kotlin.Long?, sortBy: SortBySearchBuilds?, start: kotlin.Int?, limit: kotlin.Int?, sortDirection: SortDirectionSearchBuilds?, searchName: kotlin.String?, searchDescription: kotlin.String?, onlyLatest: kotlin.Boolean?, language: kotlin.Int?, buildLanguage: BuildLanguageSearchBuilds?, buildId: kotlin.Int?, version: kotlin.Int?, heroId: kotlin.Int?, tag: kotlin.Int?, rollupCategory: kotlin.Int?, authorId: kotlin.Int?) : ApiResponse<kotlin.collections.List<Build>?> {
        val localVariableConfig = searchBuildsRequestConfig(minUnixTimestamp = minUnixTimestamp, maxUnixTimestamp = maxUnixTimestamp, minPublishedUnixTimestamp = minPublishedUnixTimestamp, maxPublishedUnixTimestamp = maxPublishedUnixTimestamp, sortBy = sortBy, start = start, limit = limit, sortDirection = sortDirection, searchName = searchName, searchDescription = searchDescription, onlyLatest = onlyLatest, language = language, buildLanguage = buildLanguage, buildId = buildId, version = version, heroId = heroId, tag = tag, rollupCategory = rollupCategory, authorId = authorId)

        return request<Unit, kotlin.collections.List<Build>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchBuilds
     *
     * @param minUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
     * @param maxUnixTimestamp Filter builds based on their &#x60;last_updated&#x60; time (Unix timestamp). (optional)
     * @param minPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
     * @param maxPublishedUnixTimestamp Filter builds based on their published time (Unix timestamp). (optional)
     * @param sortBy The field to sort the builds by. (optional)
     * @param start The index of the first build to return. (optional)
     * @param limit The maximum number of builds to return. (optional, default to 100)
     * @param sortDirection The direction to sort the builds in. (optional)
     * @param searchName Search for builds with a name containing this string. (optional)
     * @param searchDescription Search for builds with a description containing this string. (optional)
     * @param onlyLatest Only return the latest version of each build. (optional)
     * @param language Filter builds by language. (optional)
     * @param buildLanguage Filter builds by language. (optional)
     * @param buildId Filter builds by ID. (optional)
     * @param version Filter builds by version. (optional)
     * @param heroId Filter builds by hero ID. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt; (optional)
     * @param tag Filter builds by tag. (optional)
     * @param rollupCategory Filter builds by rollup category. (optional)
     * @param authorId The author&#39;s &#x60;SteamID3&#x60; (optional)
     * @return RequestConfig
     */
    fun searchBuildsRequestConfig(minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minPublishedUnixTimestamp: kotlin.Long?, maxPublishedUnixTimestamp: kotlin.Long?, sortBy: SortBySearchBuilds?, start: kotlin.Int?, limit: kotlin.Int?, sortDirection: SortDirectionSearchBuilds?, searchName: kotlin.String?, searchDescription: kotlin.String?, onlyLatest: kotlin.Boolean?, language: kotlin.Int?, buildLanguage: BuildLanguageSearchBuilds?, buildId: kotlin.Int?, version: kotlin.Int?, heroId: kotlin.Int?, tag: kotlin.Int?, rollupCategory: kotlin.Int?, authorId: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (minUnixTimestamp != null) {
                    put("min_unix_timestamp", listOf(minUnixTimestamp.toString()))
                }
                if (maxUnixTimestamp != null) {
                    put("max_unix_timestamp", listOf(maxUnixTimestamp.toString()))
                }
                if (minPublishedUnixTimestamp != null) {
                    put("min_published_unix_timestamp", listOf(minPublishedUnixTimestamp.toString()))
                }
                if (maxPublishedUnixTimestamp != null) {
                    put("max_published_unix_timestamp", listOf(maxPublishedUnixTimestamp.toString()))
                }
                if (sortBy != null) {
                    put("sort_by", listOf(sortBy.value))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (sortDirection != null) {
                    put("sort_direction", listOf(sortDirection.value))
                }
                if (searchName != null) {
                    put("search_name", listOf(searchName.toString()))
                }
                if (searchDescription != null) {
                    put("search_description", listOf(searchDescription.toString()))
                }
                if (onlyLatest != null) {
                    put("only_latest", listOf(onlyLatest.toString()))
                }
                if (language != null) {
                    put("language", listOf(language.toString()))
                }
                if (buildLanguage != null) {
                    put("build_language", listOf(buildLanguage.value))
                }
                if (buildId != null) {
                    put("build_id", listOf(buildId.toString()))
                }
                if (version != null) {
                    put("version", listOf(version.toString()))
                }
                if (heroId != null) {
                    put("hero_id", listOf(heroId.toString()))
                }
                if (tag != null) {
                    put("tag", listOf(tag.toString()))
                }
                if (rollupCategory != null) {
                    put("rollup_category", listOf(rollupCategory.toString()))
                }
                if (authorId != null) {
                    put("author_id", listOf(authorId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/builds",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
