/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package deadlock_api_client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import deadlock_api_client.models.CrosshairCode
import deadlock_api_client.models.Settings

import com.squareup.moshi.Json

import deadlock_api_client.infrastructure.ApiClient
import deadlock_api_client.infrastructure.ApiResponse
import deadlock_api_client.infrastructure.ClientException
import deadlock_api_client.infrastructure.ClientError
import deadlock_api_client.infrastructure.ServerException
import deadlock_api_client.infrastructure.ServerError
import deadlock_api_client.infrastructure.MultiValueMap
import deadlock_api_client.infrastructure.PartConfig
import deadlock_api_client.infrastructure.RequestConfig
import deadlock_api_client.infrastructure.RequestMethod
import deadlock_api_client.infrastructure.ResponseType
import deadlock_api_client.infrastructure.Success
import deadlock_api_client.infrastructure.toMultiValue

open class CrosshairApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.deadlock-api.com")
        }
    }

    /**
     * GET /v1/crosshair/code/image
     * Crosshair Code Image
     * Renders a crosshair share code as a PNG, pixel for pixel as the game draws it at the given screen height. The image is square, centred on the crosshair and has a transparent background.
     * @param code Crosshair share code, as copied from the game&#39;s crosshair settings (&#x60;DL.…&#x60;).
     * @param screenHeight Height of the screen to render for, in pixels. Crosshair sizes scale with it. (optional, default to 1080)
     * @return kotlin.collections.List<kotlin.Int>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun codeImage(code: kotlin.String, screenHeight: kotlin.Int? = 1080) : kotlin.collections.List<kotlin.Int> {
        val localVarResponse = codeImageWithHttpInfo(code = code, screenHeight = screenHeight)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Int>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/crosshair/code/image
     * Crosshair Code Image
     * Renders a crosshair share code as a PNG, pixel for pixel as the game draws it at the given screen height. The image is square, centred on the crosshair and has a transparent background.
     * @param code Crosshair share code, as copied from the game&#39;s crosshair settings (&#x60;DL.…&#x60;).
     * @param screenHeight Height of the screen to render for, in pixels. Crosshair sizes scale with it. (optional, default to 1080)
     * @return ApiResponse<kotlin.collections.List<kotlin.Int>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun codeImageWithHttpInfo(code: kotlin.String, screenHeight: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.Int>?> {
        val localVariableConfig = codeImageRequestConfig(code = code, screenHeight = screenHeight)

        return request<Unit, kotlin.collections.List<kotlin.Int>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation codeImage
     *
     * @param code Crosshair share code, as copied from the game&#39;s crosshair settings (&#x60;DL.…&#x60;).
     * @param screenHeight Height of the screen to render for, in pixels. Crosshair sizes scale with it. (optional, default to 1080)
     * @return RequestConfig
     */
    fun codeImageRequestConfig(code: kotlin.String, screenHeight: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("code", listOf(code.toString()))
                if (screenHeight != null) {
                    put("screen_height", listOf(screenHeight.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/crosshair/code/image",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/crosshair/code/settings
     * Crosshair Code Settings
     * Decodes a crosshair share code into its settings. Settings the code does not carry have the game&#39;s defaults.
     * @param code Crosshair share code, as copied from the game&#39;s crosshair settings (&#x60;DL.…&#x60;).
     * @return Settings
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun codeSettings(code: kotlin.String) : Settings {
        val localVarResponse = codeSettingsWithHttpInfo(code = code)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Settings
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/crosshair/code/settings
     * Crosshair Code Settings
     * Decodes a crosshair share code into its settings. Settings the code does not carry have the game&#39;s defaults.
     * @param code Crosshair share code, as copied from the game&#39;s crosshair settings (&#x60;DL.…&#x60;).
     * @return ApiResponse<Settings?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun codeSettingsWithHttpInfo(code: kotlin.String) : ApiResponse<Settings?> {
        val localVariableConfig = codeSettingsRequestConfig(code = code)

        return request<Unit, Settings>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation codeSettings
     *
     * @param code Crosshair share code, as copied from the game&#39;s crosshair settings (&#x60;DL.…&#x60;).
     * @return RequestConfig
     */
    fun codeSettingsRequestConfig(code: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("code", listOf(code.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/crosshair/code/settings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/crosshair/settings/code
     * Crosshair Settings Code
     * Encodes crosshair settings into a share code that can be imported in the game. Settings that are not given keep the game&#39;s defaults.
     * @param themed Use the hero&#39;s own crosshair instead of these settings. (optional, default to false)
     * @param pipGapStatic Keep the pips at a fixed distance instead of spreading them with weapon spread. (optional, default to false)
     * @param pipWidth  (optional, default to 2)
     * @param pipHeight  (optional, default to 16)
     * @param pipGap  (optional, default to 4)
     * @param pipOpacity 0 to 1. (optional, default to 0.5f)
     * @param pipOutlineBorder  (optional, default to 1)
     * @param pipOutlineGap  (optional, default to 0)
     * @param pipOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotSize  (optional, default to 4)
     * @param dotOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotOutlineBorder  (optional, default to 2)
     * @param dotOutlineGap  (optional, default to 0)
     * @param dotOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param colorR  (optional, default to 255)
     * @param colorG  (optional, default to 255)
     * @param colorB  (optional, default to 255)
     * @param outlineColorR  (optional, default to 0)
     * @param outlineColorG  (optional, default to 0)
     * @param outlineColorB  (optional, default to 0)
     * @return CrosshairCode
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun settingsCode(themed: kotlin.Boolean? = false, pipGapStatic: kotlin.Boolean? = false, pipWidth: kotlin.Int? = 2, pipHeight: kotlin.Int? = 16, pipGap: kotlin.Int? = 4, pipOpacity: kotlin.Float? = 0.5f, pipOutlineBorder: kotlin.Int? = 1, pipOutlineGap: kotlin.Int? = 0, pipOutlineOpacity: kotlin.Float? = 0.7f, dotSize: kotlin.Int? = 4, dotOpacity: kotlin.Float? = 0.7f, dotOutlineBorder: kotlin.Int? = 2, dotOutlineGap: kotlin.Int? = 0, dotOutlineOpacity: kotlin.Float? = 0.7f, colorR: kotlin.Int? = 255, colorG: kotlin.Int? = 255, colorB: kotlin.Int? = 255, outlineColorR: kotlin.Int? = 0, outlineColorG: kotlin.Int? = 0, outlineColorB: kotlin.Int? = 0) : CrosshairCode {
        val localVarResponse = settingsCodeWithHttpInfo(themed = themed, pipGapStatic = pipGapStatic, pipWidth = pipWidth, pipHeight = pipHeight, pipGap = pipGap, pipOpacity = pipOpacity, pipOutlineBorder = pipOutlineBorder, pipOutlineGap = pipOutlineGap, pipOutlineOpacity = pipOutlineOpacity, dotSize = dotSize, dotOpacity = dotOpacity, dotOutlineBorder = dotOutlineBorder, dotOutlineGap = dotOutlineGap, dotOutlineOpacity = dotOutlineOpacity, colorR = colorR, colorG = colorG, colorB = colorB, outlineColorR = outlineColorR, outlineColorG = outlineColorG, outlineColorB = outlineColorB)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CrosshairCode
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/crosshair/settings/code
     * Crosshair Settings Code
     * Encodes crosshair settings into a share code that can be imported in the game. Settings that are not given keep the game&#39;s defaults.
     * @param themed Use the hero&#39;s own crosshair instead of these settings. (optional, default to false)
     * @param pipGapStatic Keep the pips at a fixed distance instead of spreading them with weapon spread. (optional, default to false)
     * @param pipWidth  (optional, default to 2)
     * @param pipHeight  (optional, default to 16)
     * @param pipGap  (optional, default to 4)
     * @param pipOpacity 0 to 1. (optional, default to 0.5f)
     * @param pipOutlineBorder  (optional, default to 1)
     * @param pipOutlineGap  (optional, default to 0)
     * @param pipOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotSize  (optional, default to 4)
     * @param dotOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotOutlineBorder  (optional, default to 2)
     * @param dotOutlineGap  (optional, default to 0)
     * @param dotOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param colorR  (optional, default to 255)
     * @param colorG  (optional, default to 255)
     * @param colorB  (optional, default to 255)
     * @param outlineColorR  (optional, default to 0)
     * @param outlineColorG  (optional, default to 0)
     * @param outlineColorB  (optional, default to 0)
     * @return ApiResponse<CrosshairCode?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun settingsCodeWithHttpInfo(themed: kotlin.Boolean?, pipGapStatic: kotlin.Boolean?, pipWidth: kotlin.Int?, pipHeight: kotlin.Int?, pipGap: kotlin.Int?, pipOpacity: kotlin.Float?, pipOutlineBorder: kotlin.Int?, pipOutlineGap: kotlin.Int?, pipOutlineOpacity: kotlin.Float?, dotSize: kotlin.Int?, dotOpacity: kotlin.Float?, dotOutlineBorder: kotlin.Int?, dotOutlineGap: kotlin.Int?, dotOutlineOpacity: kotlin.Float?, colorR: kotlin.Int?, colorG: kotlin.Int?, colorB: kotlin.Int?, outlineColorR: kotlin.Int?, outlineColorG: kotlin.Int?, outlineColorB: kotlin.Int?) : ApiResponse<CrosshairCode?> {
        val localVariableConfig = settingsCodeRequestConfig(themed = themed, pipGapStatic = pipGapStatic, pipWidth = pipWidth, pipHeight = pipHeight, pipGap = pipGap, pipOpacity = pipOpacity, pipOutlineBorder = pipOutlineBorder, pipOutlineGap = pipOutlineGap, pipOutlineOpacity = pipOutlineOpacity, dotSize = dotSize, dotOpacity = dotOpacity, dotOutlineBorder = dotOutlineBorder, dotOutlineGap = dotOutlineGap, dotOutlineOpacity = dotOutlineOpacity, colorR = colorR, colorG = colorG, colorB = colorB, outlineColorR = outlineColorR, outlineColorG = outlineColorG, outlineColorB = outlineColorB)

        return request<Unit, CrosshairCode>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation settingsCode
     *
     * @param themed Use the hero&#39;s own crosshair instead of these settings. (optional, default to false)
     * @param pipGapStatic Keep the pips at a fixed distance instead of spreading them with weapon spread. (optional, default to false)
     * @param pipWidth  (optional, default to 2)
     * @param pipHeight  (optional, default to 16)
     * @param pipGap  (optional, default to 4)
     * @param pipOpacity 0 to 1. (optional, default to 0.5f)
     * @param pipOutlineBorder  (optional, default to 1)
     * @param pipOutlineGap  (optional, default to 0)
     * @param pipOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotSize  (optional, default to 4)
     * @param dotOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotOutlineBorder  (optional, default to 2)
     * @param dotOutlineGap  (optional, default to 0)
     * @param dotOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param colorR  (optional, default to 255)
     * @param colorG  (optional, default to 255)
     * @param colorB  (optional, default to 255)
     * @param outlineColorR  (optional, default to 0)
     * @param outlineColorG  (optional, default to 0)
     * @param outlineColorB  (optional, default to 0)
     * @return RequestConfig
     */
    fun settingsCodeRequestConfig(themed: kotlin.Boolean?, pipGapStatic: kotlin.Boolean?, pipWidth: kotlin.Int?, pipHeight: kotlin.Int?, pipGap: kotlin.Int?, pipOpacity: kotlin.Float?, pipOutlineBorder: kotlin.Int?, pipOutlineGap: kotlin.Int?, pipOutlineOpacity: kotlin.Float?, dotSize: kotlin.Int?, dotOpacity: kotlin.Float?, dotOutlineBorder: kotlin.Int?, dotOutlineGap: kotlin.Int?, dotOutlineOpacity: kotlin.Float?, colorR: kotlin.Int?, colorG: kotlin.Int?, colorB: kotlin.Int?, outlineColorR: kotlin.Int?, outlineColorG: kotlin.Int?, outlineColorB: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (themed != null) {
                    put("themed", listOf(themed.toString()))
                }
                if (pipGapStatic != null) {
                    put("pip_gap_static", listOf(pipGapStatic.toString()))
                }
                if (pipWidth != null) {
                    put("pip_width", listOf(pipWidth.toString()))
                }
                if (pipHeight != null) {
                    put("pip_height", listOf(pipHeight.toString()))
                }
                if (pipGap != null) {
                    put("pip_gap", listOf(pipGap.toString()))
                }
                if (pipOpacity != null) {
                    put("pip_opacity", listOf(pipOpacity.toString()))
                }
                if (pipOutlineBorder != null) {
                    put("pip_outline_border", listOf(pipOutlineBorder.toString()))
                }
                if (pipOutlineGap != null) {
                    put("pip_outline_gap", listOf(pipOutlineGap.toString()))
                }
                if (pipOutlineOpacity != null) {
                    put("pip_outline_opacity", listOf(pipOutlineOpacity.toString()))
                }
                if (dotSize != null) {
                    put("dot_size", listOf(dotSize.toString()))
                }
                if (dotOpacity != null) {
                    put("dot_opacity", listOf(dotOpacity.toString()))
                }
                if (dotOutlineBorder != null) {
                    put("dot_outline_border", listOf(dotOutlineBorder.toString()))
                }
                if (dotOutlineGap != null) {
                    put("dot_outline_gap", listOf(dotOutlineGap.toString()))
                }
                if (dotOutlineOpacity != null) {
                    put("dot_outline_opacity", listOf(dotOutlineOpacity.toString()))
                }
                if (colorR != null) {
                    put("color_r", listOf(colorR.toString()))
                }
                if (colorG != null) {
                    put("color_g", listOf(colorG.toString()))
                }
                if (colorB != null) {
                    put("color_b", listOf(colorB.toString()))
                }
                if (outlineColorR != null) {
                    put("outline_color_r", listOf(outlineColorR.toString()))
                }
                if (outlineColorG != null) {
                    put("outline_color_g", listOf(outlineColorG.toString()))
                }
                if (outlineColorB != null) {
                    put("outline_color_b", listOf(outlineColorB.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/crosshair/settings/code",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/crosshair/settings/image
     * Crosshair Settings Image
     * Renders crosshair settings as a PNG, pixel for pixel as the game draws them at the given screen height. Settings that are not given keep the game&#39;s defaults. The image is square, centred on the crosshair and has a transparent background.
     * @param themed Use the hero&#39;s own crosshair instead of these settings. (optional, default to false)
     * @param pipGapStatic Keep the pips at a fixed distance instead of spreading them with weapon spread. (optional, default to false)
     * @param pipWidth  (optional, default to 2)
     * @param pipHeight  (optional, default to 16)
     * @param pipGap  (optional, default to 4)
     * @param pipOpacity 0 to 1. (optional, default to 0.5f)
     * @param pipOutlineBorder  (optional, default to 1)
     * @param pipOutlineGap  (optional, default to 0)
     * @param pipOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotSize  (optional, default to 4)
     * @param dotOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotOutlineBorder  (optional, default to 2)
     * @param dotOutlineGap  (optional, default to 0)
     * @param dotOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param colorR  (optional, default to 255)
     * @param colorG  (optional, default to 255)
     * @param colorB  (optional, default to 255)
     * @param outlineColorR  (optional, default to 0)
     * @param outlineColorG  (optional, default to 0)
     * @param outlineColorB  (optional, default to 0)
     * @param screenHeight Height of the screen to render for, in pixels. Crosshair sizes scale with it. (optional, default to 1080)
     * @return kotlin.collections.List<kotlin.Int>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun settingsImage(themed: kotlin.Boolean? = false, pipGapStatic: kotlin.Boolean? = false, pipWidth: kotlin.Int? = 2, pipHeight: kotlin.Int? = 16, pipGap: kotlin.Int? = 4, pipOpacity: kotlin.Float? = 0.5f, pipOutlineBorder: kotlin.Int? = 1, pipOutlineGap: kotlin.Int? = 0, pipOutlineOpacity: kotlin.Float? = 0.7f, dotSize: kotlin.Int? = 4, dotOpacity: kotlin.Float? = 0.7f, dotOutlineBorder: kotlin.Int? = 2, dotOutlineGap: kotlin.Int? = 0, dotOutlineOpacity: kotlin.Float? = 0.7f, colorR: kotlin.Int? = 255, colorG: kotlin.Int? = 255, colorB: kotlin.Int? = 255, outlineColorR: kotlin.Int? = 0, outlineColorG: kotlin.Int? = 0, outlineColorB: kotlin.Int? = 0, screenHeight: kotlin.Int? = 1080) : kotlin.collections.List<kotlin.Int> {
        val localVarResponse = settingsImageWithHttpInfo(themed = themed, pipGapStatic = pipGapStatic, pipWidth = pipWidth, pipHeight = pipHeight, pipGap = pipGap, pipOpacity = pipOpacity, pipOutlineBorder = pipOutlineBorder, pipOutlineGap = pipOutlineGap, pipOutlineOpacity = pipOutlineOpacity, dotSize = dotSize, dotOpacity = dotOpacity, dotOutlineBorder = dotOutlineBorder, dotOutlineGap = dotOutlineGap, dotOutlineOpacity = dotOutlineOpacity, colorR = colorR, colorG = colorG, colorB = colorB, outlineColorR = outlineColorR, outlineColorG = outlineColorG, outlineColorB = outlineColorB, screenHeight = screenHeight)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Int>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/crosshair/settings/image
     * Crosshair Settings Image
     * Renders crosshair settings as a PNG, pixel for pixel as the game draws them at the given screen height. Settings that are not given keep the game&#39;s defaults. The image is square, centred on the crosshair and has a transparent background.
     * @param themed Use the hero&#39;s own crosshair instead of these settings. (optional, default to false)
     * @param pipGapStatic Keep the pips at a fixed distance instead of spreading them with weapon spread. (optional, default to false)
     * @param pipWidth  (optional, default to 2)
     * @param pipHeight  (optional, default to 16)
     * @param pipGap  (optional, default to 4)
     * @param pipOpacity 0 to 1. (optional, default to 0.5f)
     * @param pipOutlineBorder  (optional, default to 1)
     * @param pipOutlineGap  (optional, default to 0)
     * @param pipOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotSize  (optional, default to 4)
     * @param dotOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotOutlineBorder  (optional, default to 2)
     * @param dotOutlineGap  (optional, default to 0)
     * @param dotOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param colorR  (optional, default to 255)
     * @param colorG  (optional, default to 255)
     * @param colorB  (optional, default to 255)
     * @param outlineColorR  (optional, default to 0)
     * @param outlineColorG  (optional, default to 0)
     * @param outlineColorB  (optional, default to 0)
     * @param screenHeight Height of the screen to render for, in pixels. Crosshair sizes scale with it. (optional, default to 1080)
     * @return ApiResponse<kotlin.collections.List<kotlin.Int>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun settingsImageWithHttpInfo(themed: kotlin.Boolean?, pipGapStatic: kotlin.Boolean?, pipWidth: kotlin.Int?, pipHeight: kotlin.Int?, pipGap: kotlin.Int?, pipOpacity: kotlin.Float?, pipOutlineBorder: kotlin.Int?, pipOutlineGap: kotlin.Int?, pipOutlineOpacity: kotlin.Float?, dotSize: kotlin.Int?, dotOpacity: kotlin.Float?, dotOutlineBorder: kotlin.Int?, dotOutlineGap: kotlin.Int?, dotOutlineOpacity: kotlin.Float?, colorR: kotlin.Int?, colorG: kotlin.Int?, colorB: kotlin.Int?, outlineColorR: kotlin.Int?, outlineColorG: kotlin.Int?, outlineColorB: kotlin.Int?, screenHeight: kotlin.Int?) : ApiResponse<kotlin.collections.List<kotlin.Int>?> {
        val localVariableConfig = settingsImageRequestConfig(themed = themed, pipGapStatic = pipGapStatic, pipWidth = pipWidth, pipHeight = pipHeight, pipGap = pipGap, pipOpacity = pipOpacity, pipOutlineBorder = pipOutlineBorder, pipOutlineGap = pipOutlineGap, pipOutlineOpacity = pipOutlineOpacity, dotSize = dotSize, dotOpacity = dotOpacity, dotOutlineBorder = dotOutlineBorder, dotOutlineGap = dotOutlineGap, dotOutlineOpacity = dotOutlineOpacity, colorR = colorR, colorG = colorG, colorB = colorB, outlineColorR = outlineColorR, outlineColorG = outlineColorG, outlineColorB = outlineColorB, screenHeight = screenHeight)

        return request<Unit, kotlin.collections.List<kotlin.Int>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation settingsImage
     *
     * @param themed Use the hero&#39;s own crosshair instead of these settings. (optional, default to false)
     * @param pipGapStatic Keep the pips at a fixed distance instead of spreading them with weapon spread. (optional, default to false)
     * @param pipWidth  (optional, default to 2)
     * @param pipHeight  (optional, default to 16)
     * @param pipGap  (optional, default to 4)
     * @param pipOpacity 0 to 1. (optional, default to 0.5f)
     * @param pipOutlineBorder  (optional, default to 1)
     * @param pipOutlineGap  (optional, default to 0)
     * @param pipOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotSize  (optional, default to 4)
     * @param dotOpacity 0 to 1. (optional, default to 0.7f)
     * @param dotOutlineBorder  (optional, default to 2)
     * @param dotOutlineGap  (optional, default to 0)
     * @param dotOutlineOpacity 0 to 1. (optional, default to 0.7f)
     * @param colorR  (optional, default to 255)
     * @param colorG  (optional, default to 255)
     * @param colorB  (optional, default to 255)
     * @param outlineColorR  (optional, default to 0)
     * @param outlineColorG  (optional, default to 0)
     * @param outlineColorB  (optional, default to 0)
     * @param screenHeight Height of the screen to render for, in pixels. Crosshair sizes scale with it. (optional, default to 1080)
     * @return RequestConfig
     */
    fun settingsImageRequestConfig(themed: kotlin.Boolean?, pipGapStatic: kotlin.Boolean?, pipWidth: kotlin.Int?, pipHeight: kotlin.Int?, pipGap: kotlin.Int?, pipOpacity: kotlin.Float?, pipOutlineBorder: kotlin.Int?, pipOutlineGap: kotlin.Int?, pipOutlineOpacity: kotlin.Float?, dotSize: kotlin.Int?, dotOpacity: kotlin.Float?, dotOutlineBorder: kotlin.Int?, dotOutlineGap: kotlin.Int?, dotOutlineOpacity: kotlin.Float?, colorR: kotlin.Int?, colorG: kotlin.Int?, colorB: kotlin.Int?, outlineColorR: kotlin.Int?, outlineColorG: kotlin.Int?, outlineColorB: kotlin.Int?, screenHeight: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (themed != null) {
                    put("themed", listOf(themed.toString()))
                }
                if (pipGapStatic != null) {
                    put("pip_gap_static", listOf(pipGapStatic.toString()))
                }
                if (pipWidth != null) {
                    put("pip_width", listOf(pipWidth.toString()))
                }
                if (pipHeight != null) {
                    put("pip_height", listOf(pipHeight.toString()))
                }
                if (pipGap != null) {
                    put("pip_gap", listOf(pipGap.toString()))
                }
                if (pipOpacity != null) {
                    put("pip_opacity", listOf(pipOpacity.toString()))
                }
                if (pipOutlineBorder != null) {
                    put("pip_outline_border", listOf(pipOutlineBorder.toString()))
                }
                if (pipOutlineGap != null) {
                    put("pip_outline_gap", listOf(pipOutlineGap.toString()))
                }
                if (pipOutlineOpacity != null) {
                    put("pip_outline_opacity", listOf(pipOutlineOpacity.toString()))
                }
                if (dotSize != null) {
                    put("dot_size", listOf(dotSize.toString()))
                }
                if (dotOpacity != null) {
                    put("dot_opacity", listOf(dotOpacity.toString()))
                }
                if (dotOutlineBorder != null) {
                    put("dot_outline_border", listOf(dotOutlineBorder.toString()))
                }
                if (dotOutlineGap != null) {
                    put("dot_outline_gap", listOf(dotOutlineGap.toString()))
                }
                if (dotOutlineOpacity != null) {
                    put("dot_outline_opacity", listOf(dotOutlineOpacity.toString()))
                }
                if (colorR != null) {
                    put("color_r", listOf(colorR.toString()))
                }
                if (colorG != null) {
                    put("color_g", listOf(colorG.toString()))
                }
                if (colorB != null) {
                    put("color_b", listOf(colorB.toString()))
                }
                if (outlineColorR != null) {
                    put("outline_color_r", listOf(outlineColorR.toString()))
                }
                if (outlineColorG != null) {
                    put("outline_color_g", listOf(outlineColorG.toString()))
                }
                if (outlineColorB != null) {
                    put("outline_color_b", listOf(outlineColorB.toString()))
                }
                if (screenHeight != null) {
                    put("screen_height", listOf(screenHeight.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/crosshair/settings/image",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
