/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package deadlock_api_client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import deadlock_api_client.models.DemoQueryJobResponse
import deadlock_api_client.models.DemoQueryRequest
import deadlock_api_client.models.DemoQueryStatusResponse
import deadlock_api_client.models.DemoSchemaResponse

import com.squareup.moshi.Json

import deadlock_api_client.infrastructure.ApiClient
import deadlock_api_client.infrastructure.ApiResponse
import deadlock_api_client.infrastructure.ClientException
import deadlock_api_client.infrastructure.ClientError
import deadlock_api_client.infrastructure.ServerException
import deadlock_api_client.infrastructure.ServerError
import deadlock_api_client.infrastructure.MultiValueMap
import deadlock_api_client.infrastructure.PartConfig
import deadlock_api_client.infrastructure.RequestConfig
import deadlock_api_client.infrastructure.RequestMethod
import deadlock_api_client.infrastructure.ResponseType
import deadlock_api_client.infrastructure.Success
import deadlock_api_client.infrastructure.toMultiValue

open class DemoApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.deadlock-api.com")
        }
    }

    /**
     * GET /v1/matches/demo/schema
     * Demo Schema
     *  Returns the queryable schema of a match&#39;s demo file: every entity and event table with its columns and Arrow types.  By default this returns the schema of the most recent match we have a demo for. Optionally pass &#x60;match_id&#x60; to read the schema for a specific match; if we don&#39;t already have its salts, they are fetched from Steam (rate limited, see &#x60;/{match_id}/salts&#x60;).     
     * @param matchId Match to read the schema for. If omitted, the schema of the most recent match we have a demo for is returned. When set, the demo&#39;s salts are fetched (rate limited) if they are not already stored. (optional)
     * @return DemoSchemaResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun schema(matchId: kotlin.Long? = null) : DemoSchemaResponse {
        val localVarResponse = schemaWithHttpInfo(matchId = matchId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DemoSchemaResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/demo/schema
     * Demo Schema
     *  Returns the queryable schema of a match&#39;s demo file: every entity and event table with its columns and Arrow types.  By default this returns the schema of the most recent match we have a demo for. Optionally pass &#x60;match_id&#x60; to read the schema for a specific match; if we don&#39;t already have its salts, they are fetched from Steam (rate limited, see &#x60;/{match_id}/salts&#x60;).     
     * @param matchId Match to read the schema for. If omitted, the schema of the most recent match we have a demo for is returned. When set, the demo&#39;s salts are fetched (rate limited) if they are not already stored. (optional)
     * @return ApiResponse<DemoSchemaResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun schemaWithHttpInfo(matchId: kotlin.Long?) : ApiResponse<DemoSchemaResponse?> {
        val localVariableConfig = schemaRequestConfig(matchId = matchId)

        return request<Unit, DemoSchemaResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation schema
     *
     * @param matchId Match to read the schema for. If omitted, the schema of the most recent match we have a demo for is returned. When set, the demo&#39;s salts are fetched (rate limited) if they are not already stored. (optional)
     * @return RequestConfig
     */
    fun schemaRequestConfig(matchId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (matchId != null) {
                    put("match_id", listOf(matchId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/demo/schema",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/demo/query/{job_id}
     * Demo Query Status
     *  Returns the status of a demo query job. While &#x60;queued&#x60;/&#x60;running&#x60; it includes a rough &#x60;estimated_wait_seconds&#x60;; when &#x60;done&#x60; it includes &#x60;result_url&#x60; (a public link to the Parquet/NDJSON artifact); when &#x60;failed&#x60; it includes &#x60;error&#x60;. 
     * @param jobId Job id returned by POST /demo/query
     * @return DemoQueryStatusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun status(jobId: kotlin.String) : DemoQueryStatusResponse {
        val localVarResponse = statusWithHttpInfo(jobId = jobId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DemoQueryStatusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/demo/query/{job_id}
     * Demo Query Status
     *  Returns the status of a demo query job. While &#x60;queued&#x60;/&#x60;running&#x60; it includes a rough &#x60;estimated_wait_seconds&#x60;; when &#x60;done&#x60; it includes &#x60;result_url&#x60; (a public link to the Parquet/NDJSON artifact); when &#x60;failed&#x60; it includes &#x60;error&#x60;. 
     * @param jobId Job id returned by POST /demo/query
     * @return ApiResponse<DemoQueryStatusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun statusWithHttpInfo(jobId: kotlin.String) : ApiResponse<DemoQueryStatusResponse?> {
        val localVariableConfig = statusRequestConfig(jobId = jobId)

        return request<Unit, DemoQueryStatusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation status
     *
     * @param jobId Job id returned by POST /demo/query
     * @return RequestConfig
     */
    fun statusRequestConfig(jobId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/demo/query/{job_id}".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/matches/demo/query
     * Demo Query
     *  Submit a SQL query against a match&#39;s demo file. The work (download + decompress + parse + query) takes ~12s, so this is asynchronous: the endpoint returns a &#x60;job_id&#x60; you poll via &#x60;/demo/query/{job_id}&#x60;. Once done, the status response carries a public URL to the result artifact (Parquet or NDJSON).  Identical &#x60;(match_id, query, format)&#x60; submissions are deduplicated and reuse a cached result.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 5req/h | | Key | 50req/h | | Global | 100req/h | 
     * @param demoQueryRequest 
     * @return DemoQueryJobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun submit(demoQueryRequest: DemoQueryRequest) : DemoQueryJobResponse {
        val localVarResponse = submitWithHttpInfo(demoQueryRequest = demoQueryRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DemoQueryJobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/matches/demo/query
     * Demo Query
     *  Submit a SQL query against a match&#39;s demo file. The work (download + decompress + parse + query) takes ~12s, so this is asynchronous: the endpoint returns a &#x60;job_id&#x60; you poll via &#x60;/demo/query/{job_id}&#x60;. Once done, the status response carries a public URL to the result artifact (Parquet or NDJSON).  Identical &#x60;(match_id, query, format)&#x60; submissions are deduplicated and reuse a cached result.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 5req/h | | Key | 50req/h | | Global | 100req/h | 
     * @param demoQueryRequest 
     * @return ApiResponse<DemoQueryJobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun submitWithHttpInfo(demoQueryRequest: DemoQueryRequest) : ApiResponse<DemoQueryJobResponse?> {
        val localVariableConfig = submitRequestConfig(demoQueryRequest = demoQueryRequest)

        return request<DemoQueryRequest, DemoQueryJobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation submit
     *
     * @param demoQueryRequest 
     * @return RequestConfig
     */
    fun submitRequestConfig(demoQueryRequest: DemoQueryRequest) : RequestConfig<DemoQueryRequest> {
        val localVariableBody = demoQueryRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/matches/demo/query",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
