/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package deadlock_api_client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import deadlock_api_client.models.ActiveMatch
import deadlock_api_client.models.ClickhouseMatchInfo
import deadlock_api_client.models.IngestLiveUrl
import deadlock_api_client.models.LiveUrl
import deadlock_api_client.models.MatchSaltsResponse
import deadlock_api_client.models.MatchSpectateResponse

import com.squareup.moshi.Json

import deadlock_api_client.infrastructure.ApiClient
import deadlock_api_client.infrastructure.ApiResponse
import deadlock_api_client.infrastructure.ClientException
import deadlock_api_client.infrastructure.ClientError
import deadlock_api_client.infrastructure.ServerException
import deadlock_api_client.infrastructure.ServerError
import deadlock_api_client.infrastructure.MultiValueMap
import deadlock_api_client.infrastructure.PartConfig
import deadlock_api_client.infrastructure.RequestConfig
import deadlock_api_client.infrastructure.RequestMethod
import deadlock_api_client.infrastructure.ResponseType
import deadlock_api_client.infrastructure.Success
import deadlock_api_client.infrastructure.toMultiValue

open class MatchesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.deadlock-api.com")
        }
    }

    /**
     * GET /v1/matches/active
     * Active
     *  Returns active matches that are currently being played.  Fetched from the watch tab in game, which is limited to the **top 200 matches**.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @param accountId The account ID to filter active matches by (&#x60;SteamID3&#x60;) (optional)
     * @param accountIds Comma separated list of account ids to include (optional)
     * @return kotlin.collections.List<ActiveMatch>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun activeMatches(accountId: kotlin.Int? = null, accountIds: kotlin.collections.List<kotlin.Int>? = null) : kotlin.collections.List<ActiveMatch> {
        val localVarResponse = activeMatchesWithHttpInfo(accountId = accountId, accountIds = accountIds)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ActiveMatch>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/active
     * Active
     *  Returns active matches that are currently being played.  Fetched from the watch tab in game, which is limited to the **top 200 matches**.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @param accountId The account ID to filter active matches by (&#x60;SteamID3&#x60;) (optional)
     * @param accountIds Comma separated list of account ids to include (optional)
     * @return ApiResponse<kotlin.collections.List<ActiveMatch>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun activeMatchesWithHttpInfo(accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?) : ApiResponse<kotlin.collections.List<ActiveMatch>?> {
        val localVariableConfig = activeMatchesRequestConfig(accountId = accountId, accountIds = accountIds)

        return request<Unit, kotlin.collections.List<ActiveMatch>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation activeMatches
     *
     * @param accountId The account ID to filter active matches by (&#x60;SteamID3&#x60;) (optional)
     * @param accountIds Comma separated list of account ids to include (optional)
     * @return RequestConfig
     */
    fun activeMatchesRequestConfig(accountId: kotlin.Int?, accountIds: kotlin.collections.List<kotlin.Int>?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountId != null) {
                    put("account_id", listOf(accountId.toString()))
                }
                if (accountIds != null) {
                    put("account_ids", toMultiValue(accountIds.toList(), "multi"))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/active",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/active/raw
     * Active as Protobuf
     *  Returns active matches that are currently being played, serialized as protobuf message.  Fetched from the watch tab in game, which is limited to the **top 200 matches**.  You have to decode the protobuf message.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Message: - CMsgClientToGcGetActiveMatchesResponse  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @return kotlin.collections.List<kotlin.Int>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun activeMatchesRaw() : kotlin.collections.List<kotlin.Int> {
        val localVarResponse = activeMatchesRawWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Int>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/active/raw
     * Active as Protobuf
     *  Returns active matches that are currently being played, serialized as protobuf message.  Fetched from the watch tab in game, which is limited to the **top 200 matches**.  You have to decode the protobuf message.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Message: - CMsgClientToGcGetActiveMatchesResponse  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @return ApiResponse<kotlin.collections.List<kotlin.Int>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun activeMatchesRawWithHttpInfo() : ApiResponse<kotlin.collections.List<kotlin.Int>?> {
        val localVariableConfig = activeMatchesRawRequestConfig()

        return request<Unit, kotlin.collections.List<kotlin.Int>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation activeMatchesRaw
     *
     * @return RequestConfig
     */
    fun activeMatchesRawRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/octet-stream"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/active/raw",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter gameMode
     */
     enum class GameModeBulkMetadata(val value: kotlin.String) {
         @Json(name = "normal") normal("normal"),
         @Json(name = "street_brawl") street_brawl("street_brawl"),
         @Json(name = "explore_n_y_c") explore_n_y_c("explore_n_y_c"),
         @Json(name = "internal") `internal`("internal");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter orderBy
     */
     enum class OrderByBulkMetadata(val value: kotlin.String) {
         @Json(name = "match_id") match_id("match_id"),
         @Json(name = "start_time") start_time("start_time"),
         @Json(name = "average_badge") average_badge("average_badge");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter orderDirection
     */
     enum class OrderDirectionBulkMetadata(val value: kotlin.String) {
         @Json(name = "desc") desc("desc"),
         @Json(name = "asc") asc("asc");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter format
     */
     enum class FormatBulkMetadata(val value: kotlin.String) {
         @Json(name = "json") json("json"),
         @Json(name = "ndjson") ndjson("ndjson");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/matches/metadata
     * Bulk Metadata
     *  This endpoints lets you fetch multiple match metadata at once. The response is a JSON array of match metadata.  When player info is included, each player object contains &#x60;hero_build_id&#x60; and &#x60;pregame_hero_id&#x60; fields (if available) from demo analysis.  &gt; **Note:** The &#x60;hero_build_id&#x60; represents the first build the player had selected when the game started. It does not reflect any build changes made during the match.  &gt; **Note:** The &#x60;pregame_hero_id&#x60; is the hero the player had locked before the pre-game swap window (&#x60;null&#x60; if unknown). A player swapped heroes when it differs from their &#x60;hero_id&#x60;.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 10req/min | | Key | 10req/10s | | Global | 100req/min |     
     * @param includeInfo Include match info in the response. (optional, default to true)
     * @param includeMoreInfo Include more match info in the response. (optional)
     * @param includeObjectives Include objectives in the response. (optional)
     * @param includeMidBoss Include midboss in the response. (optional)
     * @param includePlayerInfo Include player info in the response. (optional)
     * @param includePlayerKda Include only K/D/A fields (&#x60;kills&#x60;, &#x60;deaths&#x60;, &#x60;assists&#x60;) for players. (optional)
     * @param includePlayerItems Include player items in the response. (optional)
     * @param includePlayerStats Include player stats in the response. (optional)
     * @param includePlayerFinalStats Include only the final per-player stats (last sample of every &#x60;stats.*&#x60; time-series) as a single &#x60;final_stats&#x60; object. Far cheaper than &#x60;include_player_stats&#x60;, which returns the whole array per field. (optional)
     * @param includePlayerDeathDetails Include player death details in the response. (optional)
     * @param includePlayerCustomUserStats Include per-player &#x60;custom_user_stats&#x60; (a map of stat name to value) in the response. (optional)
     * @param gameMode Filter matches based on their game mode. Valid values: &#x60;normal&#x60;, &#x60;street_brawl&#x60;. Omit or pass empty string for no filter. (optional)
     * @param matchMode Filter matches based on the match mode. Valid values: &#x60;unranked&#x60;, &#x60;private_lobby&#x60;, &#x60;coop_bot&#x60;, &#x60;ranked&#x60;, &#x60;server_test&#x60;, &#x60;tutorial&#x60;, &#x60;hero_labs&#x60;. **Default:** &#x60;ranked,unranked&#x60;. (optional)
     * @param matchIds Comma separated list of match ids, limited by &#x60;limit&#x60; (optional)
     * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
     * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
     * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
     * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
     * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://api.deadlock-api.com/v1/assets/ranks&gt; (optional)
     * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://api.deadlock-api.com/v1/assets/ranks&gt; (optional)
     * @param minMatchId Filter matches based on their ID. (optional)
     * @param maxMatchId Filter matches based on their ID. (optional)
     * @param isHighSkillRangeParties Filter matches based on whether they are in the high skill range. (optional)
     * @param isLowPriPool Filter matches based on whether they are in the low priority pool. (optional)
     * @param isNewPlayerPool Filter matches based on whether they are in the new player pool. (optional)
     * @param accountIds Filter matches by account IDs of players that participated in the match. (optional)
     * @param heroIds Filter matches based on the hero IDs. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt; (optional)
     * @param itemFilterHeroId Hero ID to scope item filters to. Required when using &#x60;include_item_ids&#x60; or &#x60;exclude_item_ids&#x60;. (optional)
     * @param includeItemIds Comma separated list of item ids to include. Requires &#x60;item_filter_hero_id&#x60;. Returns matches where a player on the specified hero has ALL of these items. (optional)
     * @param excludeItemIds Comma separated list of item ids to exclude. Requires &#x60;item_filter_hero_id&#x60;. Returns matches where a player on the specified hero has NONE of these items. (optional)
     * @param extraMatchColumns Comma separated list of extra match-level columns to include in the response. Each column is aggregated with &#x60;any(...)&#x60;. Only alphanumeric characters, underscores, and dots (for nested field access) are allowed. Example: &#x60;objectives_mask_team0,team_score&#x60;. (optional)
     * @param extraPlayerColumns Comma separated list of extra player-level columns to include in the response. Each column is added inside the player tuple. Only alphanumeric characters, underscores, and dots (for nested field access) are allowed. Example: &#x60;stats.player_damage,stats.player_healing&#x60;. Implicitly enables player fields. (optional)
     * @param orderBy The field to order the results by. (optional)
     * @param orderDirection The direction to order the results by. (optional)
     * @param limit The maximum number of matches to return. (optional, default to 1000)
     * @param format The response format. Valid values: &#x60;json&#x60; (a JSON array), &#x60;ndjson&#x60; (newline-delimited JSON objects). (optional)
     * @return kotlin.collections.List<kotlin.Int>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun bulkMetadata(includeInfo: kotlin.Boolean? = true, includeMoreInfo: kotlin.Boolean? = null, includeObjectives: kotlin.Boolean? = null, includeMidBoss: kotlin.Boolean? = null, includePlayerInfo: kotlin.Boolean? = null, includePlayerKda: kotlin.Boolean? = null, includePlayerItems: kotlin.Boolean? = null, includePlayerStats: kotlin.Boolean? = null, includePlayerFinalStats: kotlin.Boolean? = null, includePlayerDeathDetails: kotlin.Boolean? = null, includePlayerCustomUserStats: kotlin.Boolean? = null, gameMode: GameModeBulkMetadata? = null, matchMode: kotlin.String? = null, matchIds: kotlin.collections.List<kotlin.Long>? = null, minUnixTimestamp: kotlin.Long? = null, maxUnixTimestamp: kotlin.Long? = null, minDurationS: kotlin.Long? = null, maxDurationS: kotlin.Long? = null, minAverageBadge: kotlin.Int? = null, maxAverageBadge: kotlin.Int? = null, minMatchId: kotlin.Long? = null, maxMatchId: kotlin.Long? = null, isHighSkillRangeParties: kotlin.Boolean? = null, isLowPriPool: kotlin.Boolean? = null, isNewPlayerPool: kotlin.Boolean? = null, accountIds: kotlin.collections.List<kotlin.Int>? = null, heroIds: kotlin.String? = null, itemFilterHeroId: kotlin.Int? = null, includeItemIds: kotlin.String? = null, excludeItemIds: kotlin.String? = null, extraMatchColumns: kotlin.String? = null, extraPlayerColumns: kotlin.String? = null, orderBy: OrderByBulkMetadata? = null, orderDirection: OrderDirectionBulkMetadata? = null, limit: kotlin.Int? = 1000, format: FormatBulkMetadata? = null) : kotlin.collections.List<kotlin.Int> {
        val localVarResponse = bulkMetadataWithHttpInfo(includeInfo = includeInfo, includeMoreInfo = includeMoreInfo, includeObjectives = includeObjectives, includeMidBoss = includeMidBoss, includePlayerInfo = includePlayerInfo, includePlayerKda = includePlayerKda, includePlayerItems = includePlayerItems, includePlayerStats = includePlayerStats, includePlayerFinalStats = includePlayerFinalStats, includePlayerDeathDetails = includePlayerDeathDetails, includePlayerCustomUserStats = includePlayerCustomUserStats, gameMode = gameMode, matchMode = matchMode, matchIds = matchIds, minUnixTimestamp = minUnixTimestamp, maxUnixTimestamp = maxUnixTimestamp, minDurationS = minDurationS, maxDurationS = maxDurationS, minAverageBadge = minAverageBadge, maxAverageBadge = maxAverageBadge, minMatchId = minMatchId, maxMatchId = maxMatchId, isHighSkillRangeParties = isHighSkillRangeParties, isLowPriPool = isLowPriPool, isNewPlayerPool = isNewPlayerPool, accountIds = accountIds, heroIds = heroIds, itemFilterHeroId = itemFilterHeroId, includeItemIds = includeItemIds, excludeItemIds = excludeItemIds, extraMatchColumns = extraMatchColumns, extraPlayerColumns = extraPlayerColumns, orderBy = orderBy, orderDirection = orderDirection, limit = limit, format = format)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Int>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/metadata
     * Bulk Metadata
     *  This endpoints lets you fetch multiple match metadata at once. The response is a JSON array of match metadata.  When player info is included, each player object contains &#x60;hero_build_id&#x60; and &#x60;pregame_hero_id&#x60; fields (if available) from demo analysis.  &gt; **Note:** The &#x60;hero_build_id&#x60; represents the first build the player had selected when the game started. It does not reflect any build changes made during the match.  &gt; **Note:** The &#x60;pregame_hero_id&#x60; is the hero the player had locked before the pre-game swap window (&#x60;null&#x60; if unknown). A player swapped heroes when it differs from their &#x60;hero_id&#x60;.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 10req/min | | Key | 10req/10s | | Global | 100req/min |     
     * @param includeInfo Include match info in the response. (optional, default to true)
     * @param includeMoreInfo Include more match info in the response. (optional)
     * @param includeObjectives Include objectives in the response. (optional)
     * @param includeMidBoss Include midboss in the response. (optional)
     * @param includePlayerInfo Include player info in the response. (optional)
     * @param includePlayerKda Include only K/D/A fields (&#x60;kills&#x60;, &#x60;deaths&#x60;, &#x60;assists&#x60;) for players. (optional)
     * @param includePlayerItems Include player items in the response. (optional)
     * @param includePlayerStats Include player stats in the response. (optional)
     * @param includePlayerFinalStats Include only the final per-player stats (last sample of every &#x60;stats.*&#x60; time-series) as a single &#x60;final_stats&#x60; object. Far cheaper than &#x60;include_player_stats&#x60;, which returns the whole array per field. (optional)
     * @param includePlayerDeathDetails Include player death details in the response. (optional)
     * @param includePlayerCustomUserStats Include per-player &#x60;custom_user_stats&#x60; (a map of stat name to value) in the response. (optional)
     * @param gameMode Filter matches based on their game mode. Valid values: &#x60;normal&#x60;, &#x60;street_brawl&#x60;. Omit or pass empty string for no filter. (optional)
     * @param matchMode Filter matches based on the match mode. Valid values: &#x60;unranked&#x60;, &#x60;private_lobby&#x60;, &#x60;coop_bot&#x60;, &#x60;ranked&#x60;, &#x60;server_test&#x60;, &#x60;tutorial&#x60;, &#x60;hero_labs&#x60;. **Default:** &#x60;ranked,unranked&#x60;. (optional)
     * @param matchIds Comma separated list of match ids, limited by &#x60;limit&#x60; (optional)
     * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
     * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
     * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
     * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
     * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://api.deadlock-api.com/v1/assets/ranks&gt; (optional)
     * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://api.deadlock-api.com/v1/assets/ranks&gt; (optional)
     * @param minMatchId Filter matches based on their ID. (optional)
     * @param maxMatchId Filter matches based on their ID. (optional)
     * @param isHighSkillRangeParties Filter matches based on whether they are in the high skill range. (optional)
     * @param isLowPriPool Filter matches based on whether they are in the low priority pool. (optional)
     * @param isNewPlayerPool Filter matches based on whether they are in the new player pool. (optional)
     * @param accountIds Filter matches by account IDs of players that participated in the match. (optional)
     * @param heroIds Filter matches based on the hero IDs. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt; (optional)
     * @param itemFilterHeroId Hero ID to scope item filters to. Required when using &#x60;include_item_ids&#x60; or &#x60;exclude_item_ids&#x60;. (optional)
     * @param includeItemIds Comma separated list of item ids to include. Requires &#x60;item_filter_hero_id&#x60;. Returns matches where a player on the specified hero has ALL of these items. (optional)
     * @param excludeItemIds Comma separated list of item ids to exclude. Requires &#x60;item_filter_hero_id&#x60;. Returns matches where a player on the specified hero has NONE of these items. (optional)
     * @param extraMatchColumns Comma separated list of extra match-level columns to include in the response. Each column is aggregated with &#x60;any(...)&#x60;. Only alphanumeric characters, underscores, and dots (for nested field access) are allowed. Example: &#x60;objectives_mask_team0,team_score&#x60;. (optional)
     * @param extraPlayerColumns Comma separated list of extra player-level columns to include in the response. Each column is added inside the player tuple. Only alphanumeric characters, underscores, and dots (for nested field access) are allowed. Example: &#x60;stats.player_damage,stats.player_healing&#x60;. Implicitly enables player fields. (optional)
     * @param orderBy The field to order the results by. (optional)
     * @param orderDirection The direction to order the results by. (optional)
     * @param limit The maximum number of matches to return. (optional, default to 1000)
     * @param format The response format. Valid values: &#x60;json&#x60; (a JSON array), &#x60;ndjson&#x60; (newline-delimited JSON objects). (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Int>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun bulkMetadataWithHttpInfo(includeInfo: kotlin.Boolean?, includeMoreInfo: kotlin.Boolean?, includeObjectives: kotlin.Boolean?, includeMidBoss: kotlin.Boolean?, includePlayerInfo: kotlin.Boolean?, includePlayerKda: kotlin.Boolean?, includePlayerItems: kotlin.Boolean?, includePlayerStats: kotlin.Boolean?, includePlayerFinalStats: kotlin.Boolean?, includePlayerDeathDetails: kotlin.Boolean?, includePlayerCustomUserStats: kotlin.Boolean?, gameMode: GameModeBulkMetadata?, matchMode: kotlin.String?, matchIds: kotlin.collections.List<kotlin.Long>?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, isHighSkillRangeParties: kotlin.Boolean?, isLowPriPool: kotlin.Boolean?, isNewPlayerPool: kotlin.Boolean?, accountIds: kotlin.collections.List<kotlin.Int>?, heroIds: kotlin.String?, itemFilterHeroId: kotlin.Int?, includeItemIds: kotlin.String?, excludeItemIds: kotlin.String?, extraMatchColumns: kotlin.String?, extraPlayerColumns: kotlin.String?, orderBy: OrderByBulkMetadata?, orderDirection: OrderDirectionBulkMetadata?, limit: kotlin.Int?, format: FormatBulkMetadata?) : ApiResponse<kotlin.collections.List<kotlin.Int>?> {
        val localVariableConfig = bulkMetadataRequestConfig(includeInfo = includeInfo, includeMoreInfo = includeMoreInfo, includeObjectives = includeObjectives, includeMidBoss = includeMidBoss, includePlayerInfo = includePlayerInfo, includePlayerKda = includePlayerKda, includePlayerItems = includePlayerItems, includePlayerStats = includePlayerStats, includePlayerFinalStats = includePlayerFinalStats, includePlayerDeathDetails = includePlayerDeathDetails, includePlayerCustomUserStats = includePlayerCustomUserStats, gameMode = gameMode, matchMode = matchMode, matchIds = matchIds, minUnixTimestamp = minUnixTimestamp, maxUnixTimestamp = maxUnixTimestamp, minDurationS = minDurationS, maxDurationS = maxDurationS, minAverageBadge = minAverageBadge, maxAverageBadge = maxAverageBadge, minMatchId = minMatchId, maxMatchId = maxMatchId, isHighSkillRangeParties = isHighSkillRangeParties, isLowPriPool = isLowPriPool, isNewPlayerPool = isNewPlayerPool, accountIds = accountIds, heroIds = heroIds, itemFilterHeroId = itemFilterHeroId, includeItemIds = includeItemIds, excludeItemIds = excludeItemIds, extraMatchColumns = extraMatchColumns, extraPlayerColumns = extraPlayerColumns, orderBy = orderBy, orderDirection = orderDirection, limit = limit, format = format)

        return request<Unit, kotlin.collections.List<kotlin.Int>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation bulkMetadata
     *
     * @param includeInfo Include match info in the response. (optional, default to true)
     * @param includeMoreInfo Include more match info in the response. (optional)
     * @param includeObjectives Include objectives in the response. (optional)
     * @param includeMidBoss Include midboss in the response. (optional)
     * @param includePlayerInfo Include player info in the response. (optional)
     * @param includePlayerKda Include only K/D/A fields (&#x60;kills&#x60;, &#x60;deaths&#x60;, &#x60;assists&#x60;) for players. (optional)
     * @param includePlayerItems Include player items in the response. (optional)
     * @param includePlayerStats Include player stats in the response. (optional)
     * @param includePlayerFinalStats Include only the final per-player stats (last sample of every &#x60;stats.*&#x60; time-series) as a single &#x60;final_stats&#x60; object. Far cheaper than &#x60;include_player_stats&#x60;, which returns the whole array per field. (optional)
     * @param includePlayerDeathDetails Include player death details in the response. (optional)
     * @param includePlayerCustomUserStats Include per-player &#x60;custom_user_stats&#x60; (a map of stat name to value) in the response. (optional)
     * @param gameMode Filter matches based on their game mode. Valid values: &#x60;normal&#x60;, &#x60;street_brawl&#x60;. Omit or pass empty string for no filter. (optional)
     * @param matchMode Filter matches based on the match mode. Valid values: &#x60;unranked&#x60;, &#x60;private_lobby&#x60;, &#x60;coop_bot&#x60;, &#x60;ranked&#x60;, &#x60;server_test&#x60;, &#x60;tutorial&#x60;, &#x60;hero_labs&#x60;. **Default:** &#x60;ranked,unranked&#x60;. (optional)
     * @param matchIds Comma separated list of match ids, limited by &#x60;limit&#x60; (optional)
     * @param minUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
     * @param maxUnixTimestamp Filter matches based on their start time (Unix timestamp). (optional)
     * @param minDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
     * @param maxDurationS Filter matches based on their duration in seconds (up to 7000s). (optional)
     * @param minAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://api.deadlock-api.com/v1/assets/ranks&gt; (optional)
     * @param maxAverageBadge Filter matches based on the average badge level (tier &#x3D; first digits, subtier &#x3D; last digit) of *both* teams involved. See more: &lt;https://api.deadlock-api.com/v1/assets/ranks&gt; (optional)
     * @param minMatchId Filter matches based on their ID. (optional)
     * @param maxMatchId Filter matches based on their ID. (optional)
     * @param isHighSkillRangeParties Filter matches based on whether they are in the high skill range. (optional)
     * @param isLowPriPool Filter matches based on whether they are in the low priority pool. (optional)
     * @param isNewPlayerPool Filter matches based on whether they are in the new player pool. (optional)
     * @param accountIds Filter matches by account IDs of players that participated in the match. (optional)
     * @param heroIds Filter matches based on the hero IDs. See more: &lt;https://api.deadlock-api.com/v1/assets/heroes&gt; (optional)
     * @param itemFilterHeroId Hero ID to scope item filters to. Required when using &#x60;include_item_ids&#x60; or &#x60;exclude_item_ids&#x60;. (optional)
     * @param includeItemIds Comma separated list of item ids to include. Requires &#x60;item_filter_hero_id&#x60;. Returns matches where a player on the specified hero has ALL of these items. (optional)
     * @param excludeItemIds Comma separated list of item ids to exclude. Requires &#x60;item_filter_hero_id&#x60;. Returns matches where a player on the specified hero has NONE of these items. (optional)
     * @param extraMatchColumns Comma separated list of extra match-level columns to include in the response. Each column is aggregated with &#x60;any(...)&#x60;. Only alphanumeric characters, underscores, and dots (for nested field access) are allowed. Example: &#x60;objectives_mask_team0,team_score&#x60;. (optional)
     * @param extraPlayerColumns Comma separated list of extra player-level columns to include in the response. Each column is added inside the player tuple. Only alphanumeric characters, underscores, and dots (for nested field access) are allowed. Example: &#x60;stats.player_damage,stats.player_healing&#x60;. Implicitly enables player fields. (optional)
     * @param orderBy The field to order the results by. (optional)
     * @param orderDirection The direction to order the results by. (optional)
     * @param limit The maximum number of matches to return. (optional, default to 1000)
     * @param format The response format. Valid values: &#x60;json&#x60; (a JSON array), &#x60;ndjson&#x60; (newline-delimited JSON objects). (optional)
     * @return RequestConfig
     */
    fun bulkMetadataRequestConfig(includeInfo: kotlin.Boolean?, includeMoreInfo: kotlin.Boolean?, includeObjectives: kotlin.Boolean?, includeMidBoss: kotlin.Boolean?, includePlayerInfo: kotlin.Boolean?, includePlayerKda: kotlin.Boolean?, includePlayerItems: kotlin.Boolean?, includePlayerStats: kotlin.Boolean?, includePlayerFinalStats: kotlin.Boolean?, includePlayerDeathDetails: kotlin.Boolean?, includePlayerCustomUserStats: kotlin.Boolean?, gameMode: GameModeBulkMetadata?, matchMode: kotlin.String?, matchIds: kotlin.collections.List<kotlin.Long>?, minUnixTimestamp: kotlin.Long?, maxUnixTimestamp: kotlin.Long?, minDurationS: kotlin.Long?, maxDurationS: kotlin.Long?, minAverageBadge: kotlin.Int?, maxAverageBadge: kotlin.Int?, minMatchId: kotlin.Long?, maxMatchId: kotlin.Long?, isHighSkillRangeParties: kotlin.Boolean?, isLowPriPool: kotlin.Boolean?, isNewPlayerPool: kotlin.Boolean?, accountIds: kotlin.collections.List<kotlin.Int>?, heroIds: kotlin.String?, itemFilterHeroId: kotlin.Int?, includeItemIds: kotlin.String?, excludeItemIds: kotlin.String?, extraMatchColumns: kotlin.String?, extraPlayerColumns: kotlin.String?, orderBy: OrderByBulkMetadata?, orderDirection: OrderDirectionBulkMetadata?, limit: kotlin.Int?, format: FormatBulkMetadata?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (includeInfo != null) {
                    put("include_info", listOf(includeInfo.toString()))
                }
                if (includeMoreInfo != null) {
                    put("include_more_info", listOf(includeMoreInfo.toString()))
                }
                if (includeObjectives != null) {
                    put("include_objectives", listOf(includeObjectives.toString()))
                }
                if (includeMidBoss != null) {
                    put("include_mid_boss", listOf(includeMidBoss.toString()))
                }
                if (includePlayerInfo != null) {
                    put("include_player_info", listOf(includePlayerInfo.toString()))
                }
                if (includePlayerKda != null) {
                    put("include_player_kda", listOf(includePlayerKda.toString()))
                }
                if (includePlayerItems != null) {
                    put("include_player_items", listOf(includePlayerItems.toString()))
                }
                if (includePlayerStats != null) {
                    put("include_player_stats", listOf(includePlayerStats.toString()))
                }
                if (includePlayerFinalStats != null) {
                    put("include_player_final_stats", listOf(includePlayerFinalStats.toString()))
                }
                if (includePlayerDeathDetails != null) {
                    put("include_player_death_details", listOf(includePlayerDeathDetails.toString()))
                }
                if (includePlayerCustomUserStats != null) {
                    put("include_player_custom_user_stats", listOf(includePlayerCustomUserStats.toString()))
                }
                if (gameMode != null) {
                    put("game_mode", listOf(gameMode.value))
                }
                if (matchMode != null) {
                    put("match_mode", listOf(matchMode.toString()))
                }
                if (matchIds != null) {
                    put("match_ids", toMultiValue(matchIds.toList(), "multi"))
                }
                if (minUnixTimestamp != null) {
                    put("min_unix_timestamp", listOf(minUnixTimestamp.toString()))
                }
                if (maxUnixTimestamp != null) {
                    put("max_unix_timestamp", listOf(maxUnixTimestamp.toString()))
                }
                if (minDurationS != null) {
                    put("min_duration_s", listOf(minDurationS.toString()))
                }
                if (maxDurationS != null) {
                    put("max_duration_s", listOf(maxDurationS.toString()))
                }
                if (minAverageBadge != null) {
                    put("min_average_badge", listOf(minAverageBadge.toString()))
                }
                if (maxAverageBadge != null) {
                    put("max_average_badge", listOf(maxAverageBadge.toString()))
                }
                if (minMatchId != null) {
                    put("min_match_id", listOf(minMatchId.toString()))
                }
                if (maxMatchId != null) {
                    put("max_match_id", listOf(maxMatchId.toString()))
                }
                if (isHighSkillRangeParties != null) {
                    put("is_high_skill_range_parties", listOf(isHighSkillRangeParties.toString()))
                }
                if (isLowPriPool != null) {
                    put("is_low_pri_pool", listOf(isLowPriPool.toString()))
                }
                if (isNewPlayerPool != null) {
                    put("is_new_player_pool", listOf(isNewPlayerPool.toString()))
                }
                if (accountIds != null) {
                    put("account_ids", toMultiValue(accountIds.toList(), "multi"))
                }
                if (heroIds != null) {
                    put("hero_ids", listOf(heroIds.toString()))
                }
                if (itemFilterHeroId != null) {
                    put("item_filter_hero_id", listOf(itemFilterHeroId.toString()))
                }
                if (includeItemIds != null) {
                    put("include_item_ids", listOf(includeItemIds.toString()))
                }
                if (excludeItemIds != null) {
                    put("exclude_item_ids", listOf(excludeItemIds.toString()))
                }
                if (extraMatchColumns != null) {
                    put("extra_match_columns", listOf(extraMatchColumns.toString()))
                }
                if (extraPlayerColumns != null) {
                    put("extra_player_columns", listOf(extraPlayerColumns.toString()))
                }
                if (orderBy != null) {
                    put("order_by", listOf(orderBy.value))
                }
                if (orderDirection != null) {
                    put("order_direction", listOf(orderDirection.value))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (format != null) {
                    put("format", listOf(format.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/octet-stream"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/metadata",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/matches/live/urls
     * Ingest Live Broadcast URLs
     *  Submit one or more live broadcast URLs so they show up in the &#x60;GET /live/urls&#x60; listing.  Each submitted URL is stored for 15 minutes; re-submit periodically to keep a match listed while it is still live. Existing entries for the same &#x60;match_id&#x60; are overwritten.  These URLs can be used in any demofile broadcast parser: - [Demofile-Net](https://github.com/saul/demofile-net) - [Haste](https://github.com/blukai/haste/)  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @param ingestLiveUrl 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun ingestUrls(ingestLiveUrl: kotlin.collections.List<IngestLiveUrl>) : Unit {
        val localVarResponse = ingestUrlsWithHttpInfo(ingestLiveUrl = ingestLiveUrl)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/matches/live/urls
     * Ingest Live Broadcast URLs
     *  Submit one or more live broadcast URLs so they show up in the &#x60;GET /live/urls&#x60; listing.  Each submitted URL is stored for 15 minutes; re-submit periodically to keep a match listed while it is still live. Existing entries for the same &#x60;match_id&#x60; are overwritten.  These URLs can be used in any demofile broadcast parser: - [Demofile-Net](https://github.com/saul/demofile-net) - [Haste](https://github.com/blukai/haste/)  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @param ingestLiveUrl 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun ingestUrlsWithHttpInfo(ingestLiveUrl: kotlin.collections.List<IngestLiveUrl>) : ApiResponse<Unit?> {
        val localVariableConfig = ingestUrlsRequestConfig(ingestLiveUrl = ingestLiveUrl)

        return request<kotlin.collections.List<IngestLiveUrl>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation ingestUrls
     *
     * @param ingestLiveUrl 
     * @return RequestConfig
     */
    fun ingestUrlsRequestConfig(ingestLiveUrl: kotlin.collections.List<IngestLiveUrl>) : RequestConfig<kotlin.collections.List<IngestLiveUrl>> {
        val localVariableBody = ingestLiveUrl
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/matches/live/urls",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/{match_id}/metadata
     * Metadata
     *  This endpoint returns the match metadata for the given &#x60;match_id&#x60; parsed into JSON.  Each player object is enriched with a &#x60;hero_build_id&#x60; field (if available) from demo analysis.  &gt; **Note:** The &#x60;hero_build_id&#x60; represents the first build the player had selected when the game started. It does not reflect any build changes made during the match.  &#x60;pregame_hero_ids&#x60; maps &#x60;account_id&#x60; to the hero the player had locked before the pre-game swap window (if available from demo analysis). A player swapped heroes when it differs from their &#x60;hero_id&#x60;.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgMatchMetaData - CMsgMatchMetaDataContents  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | From Cache: 100req/s&lt;br&gt;From S3: 100req/10s&lt;br&gt;From Steam: 3req/h | | Key | From Cache: 100req/s&lt;br&gt;From S3: 100req/s&lt;br&gt;From Steam: 300req/h | | Global | From Cache: 100req/s&lt;br&gt;From S3: 700req/s&lt;br&gt;From Steam: 1500req/h |     
     * @param matchId The match ID
     * @param isCustom  (optional)
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the metadata is not available in S3 and return an error instead. (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun metadata(matchId: kotlin.Long, isCustom: kotlin.Boolean? = null, disableSteam: kotlin.Boolean? = null) : Unit {
        val localVarResponse = metadataWithHttpInfo(matchId = matchId, isCustom = isCustom, disableSteam = disableSteam)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/{match_id}/metadata
     * Metadata
     *  This endpoint returns the match metadata for the given &#x60;match_id&#x60; parsed into JSON.  Each player object is enriched with a &#x60;hero_build_id&#x60; field (if available) from demo analysis.  &gt; **Note:** The &#x60;hero_build_id&#x60; represents the first build the player had selected when the game started. It does not reflect any build changes made during the match.  &#x60;pregame_hero_ids&#x60; maps &#x60;account_id&#x60; to the hero the player had locked before the pre-game swap window (if available from demo analysis). A player swapped heroes when it differs from their &#x60;hero_id&#x60;.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgMatchMetaData - CMsgMatchMetaDataContents  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | From Cache: 100req/s&lt;br&gt;From S3: 100req/10s&lt;br&gt;From Steam: 3req/h | | Key | From Cache: 100req/s&lt;br&gt;From S3: 100req/s&lt;br&gt;From Steam: 300req/h | | Global | From Cache: 100req/s&lt;br&gt;From S3: 700req/s&lt;br&gt;From Steam: 1500req/h |     
     * @param matchId The match ID
     * @param isCustom  (optional)
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the metadata is not available in S3 and return an error instead. (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun metadataWithHttpInfo(matchId: kotlin.Long, isCustom: kotlin.Boolean?, disableSteam: kotlin.Boolean?) : ApiResponse<Unit?> {
        val localVariableConfig = metadataRequestConfig(matchId = matchId, isCustom = isCustom, disableSteam = disableSteam)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation metadata
     *
     * @param matchId The match ID
     * @param isCustom  (optional)
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the metadata is not available in S3 and return an error instead. (optional)
     * @return RequestConfig
     */
    fun metadataRequestConfig(matchId: kotlin.Long, isCustom: kotlin.Boolean?, disableSteam: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (isCustom != null) {
                    put("is_custom", listOf(isCustom.toString()))
                }
                if (disableSteam != null) {
                    put("disable_steam", listOf(disableSteam.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/{match_id}/metadata".replace("{"+"match_id"+"}", encodeURIComponent(matchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/{match_id}/metadata/raw
     * Metadata as Protobuf
     *  This endpoints returns the raw .meta.bz2 file for the given &#x60;match_id&#x60;.  You have to decompress it and decode the protobuf message.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgMatchMetaData - CMsgMatchMetaDataContents  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | From Cache: 100req/s&lt;br&gt;From S3: 100req/10s&lt;br&gt;From Steam: 3req/h | | Key | From Cache: 100req/s&lt;br&gt;From S3: 100req/s&lt;br&gt;From Steam: 300req/h | | Global | From Cache: 100req/s&lt;br&gt;From S3: 700req/s&lt;br&gt;From Steam: 1500req/h |     
     * @param matchId The match ID
     * @param isCustom  (optional)
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the metadata is not available in S3 and return an error instead. (optional)
     * @return kotlin.collections.List<kotlin.Int>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun metadataRaw(matchId: kotlin.Long, isCustom: kotlin.Boolean? = null, disableSteam: kotlin.Boolean? = null) : kotlin.collections.List<kotlin.Int> {
        val localVarResponse = metadataRawWithHttpInfo(matchId = matchId, isCustom = isCustom, disableSteam = disableSteam)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Int>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/{match_id}/metadata/raw
     * Metadata as Protobuf
     *  This endpoints returns the raw .meta.bz2 file for the given &#x60;match_id&#x60;.  You have to decompress it and decode the protobuf message.  Protobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)  Relevant Protobuf Messages: - CMsgMatchMetaData - CMsgMatchMetaDataContents  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | From Cache: 100req/s&lt;br&gt;From S3: 100req/10s&lt;br&gt;From Steam: 3req/h | | Key | From Cache: 100req/s&lt;br&gt;From S3: 100req/s&lt;br&gt;From Steam: 300req/h | | Global | From Cache: 100req/s&lt;br&gt;From S3: 700req/s&lt;br&gt;From Steam: 1500req/h |     
     * @param matchId The match ID
     * @param isCustom  (optional)
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the metadata is not available in S3 and return an error instead. (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.Int>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun metadataRawWithHttpInfo(matchId: kotlin.Long, isCustom: kotlin.Boolean?, disableSteam: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<kotlin.Int>?> {
        val localVariableConfig = metadataRawRequestConfig(matchId = matchId, isCustom = isCustom, disableSteam = disableSteam)

        return request<Unit, kotlin.collections.List<kotlin.Int>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation metadataRaw
     *
     * @param matchId The match ID
     * @param isCustom  (optional)
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the metadata is not available in S3 and return an error instead. (optional)
     * @return RequestConfig
     */
    fun metadataRawRequestConfig(matchId: kotlin.Long, isCustom: kotlin.Boolean?, disableSteam: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (isCustom != null) {
                    put("is_custom", listOf(isCustom.toString()))
                }
                if (disableSteam != null) {
                    put("disable_steam", listOf(disableSteam.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/octet-stream"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/{match_id}/metadata/raw".replace("{"+"match_id"+"}", encodeURIComponent(matchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/recently-fetched
     * Recently Fetched
     *  This endpoint returns a list of match ids that have been fetched within the last 10 minutes.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @return kotlin.collections.List<ClickhouseMatchInfo>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun recentlyFetched() : kotlin.collections.List<ClickhouseMatchInfo> {
        val localVarResponse = recentlyFetchedWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ClickhouseMatchInfo>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/recently-fetched
     * Recently Fetched
     *  This endpoint returns a list of match ids that have been fetched within the last 10 minutes.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @return ApiResponse<kotlin.collections.List<ClickhouseMatchInfo>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun recentlyFetchedWithHttpInfo() : ApiResponse<kotlin.collections.List<ClickhouseMatchInfo>?> {
        val localVariableConfig = recentlyFetchedRequestConfig()

        return request<Unit, kotlin.collections.List<ClickhouseMatchInfo>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation recentlyFetched
     *
     * @return RequestConfig
     */
    fun recentlyFetchedRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/recently-fetched",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/{match_id}/salts
     * Salts
     *  This endpoints returns salts that can be used to fetch metadata and demofile for a match.  **Note:** We currently fetch many matches without salts, so for these matches we do not have salts stored.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | From DB: 100req/s&lt;br&gt;From Steam: 10req/30mins | | Key | From DB: -&lt;br&gt;From Steam: 10req/min | | Global | From DB: -&lt;br&gt;From Steam: 10req/10s |     
     * @param matchId The match ID
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the salts are not available in Clickhouse and return an error instead. (optional)
     * @return MatchSaltsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun salts(matchId: kotlin.Long, disableSteam: kotlin.Boolean? = null) : MatchSaltsResponse {
        val localVarResponse = saltsWithHttpInfo(matchId = matchId, disableSteam = disableSteam)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MatchSaltsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/{match_id}/salts
     * Salts
     *  This endpoints returns salts that can be used to fetch metadata and demofile for a match.  **Note:** We currently fetch many matches without salts, so for these matches we do not have salts stored.  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | From DB: 100req/s&lt;br&gt;From Steam: 10req/30mins | | Key | From DB: -&lt;br&gt;From Steam: 10req/min | | Global | From DB: -&lt;br&gt;From Steam: 10req/10s |     
     * @param matchId The match ID
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the salts are not available in Clickhouse and return an error instead. (optional)
     * @return ApiResponse<MatchSaltsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun saltsWithHttpInfo(matchId: kotlin.Long, disableSteam: kotlin.Boolean?) : ApiResponse<MatchSaltsResponse?> {
        val localVariableConfig = saltsRequestConfig(matchId = matchId, disableSteam = disableSteam)

        return request<Unit, MatchSaltsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation salts
     *
     * @param matchId The match ID
     * @param disableSteam If &#x60;true&#x60;, skip the Steam fallback when the salts are not available in Clickhouse and return an error instead. (optional)
     * @return RequestConfig
     */
    fun saltsRequestConfig(matchId: kotlin.Long, disableSteam: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (disableSteam != null) {
                    put("disable_steam", listOf(disableSteam.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/{match_id}/salts".replace("{"+"match_id"+"}", encodeURIComponent(matchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/{match_id}/live/url
     * Live Broadcast URL
     *  This endpoints spectates a match and returns the live URL to be used in any demofile broadcast parser.  Example Parsers: - [Demofile-Net](https://github.com/saul/demofile-net) - [Haste](https://github.com/blukai/haste/)  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 6req/h | | Key | 20req/10m, 100req/h | | Global | 100req/10m, 500req/h |     
     * @param matchId The match ID
     * @return MatchSpectateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun url(matchId: kotlin.Long) : MatchSpectateResponse {
        val localVarResponse = urlWithHttpInfo(matchId = matchId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MatchSpectateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/{match_id}/live/url
     * Live Broadcast URL
     *  This endpoints spectates a match and returns the live URL to be used in any demofile broadcast parser.  Example Parsers: - [Demofile-Net](https://github.com/saul/demofile-net) - [Haste](https://github.com/blukai/haste/)  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 6req/h | | Key | 20req/10m, 100req/h | | Global | 100req/10m, 500req/h |     
     * @param matchId The match ID
     * @return ApiResponse<MatchSpectateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun urlWithHttpInfo(matchId: kotlin.Long) : ApiResponse<MatchSpectateResponse?> {
        val localVariableConfig = urlRequestConfig(matchId = matchId)

        return request<Unit, MatchSpectateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation url
     *
     * @param matchId The match ID
     * @return RequestConfig
     */
    fun urlRequestConfig(matchId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/{match_id}/live/url".replace("{"+"match_id"+"}", encodeURIComponent(matchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/matches/live/urls
     * Live Broadcast URLs
     *  Returns a list of all currently available live broadcast URLs.  These can be used in any demofile broadcast parser: - [Demofile-Net](https://github.com/saul/demofile-net) - [Haste](https://github.com/blukai/haste/)  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @return kotlin.collections.List<LiveUrl>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun urls() : kotlin.collections.List<LiveUrl> {
        val localVarResponse = urlsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<LiveUrl>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/matches/live/urls
     * Live Broadcast URLs
     *  Returns a list of all currently available live broadcast URLs.  These can be used in any demofile broadcast parser: - [Demofile-Net](https://github.com/saul/demofile-net) - [Haste](https://github.com/blukai/haste/)  ### Rate Limits: | Type | Limit | | ---- | ----- | | IP | 100req/s | | Key | - | | Global | - |     
     * @return ApiResponse<kotlin.collections.List<LiveUrl>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun urlsWithHttpInfo() : ApiResponse<kotlin.collections.List<LiveUrl>?> {
        val localVariableConfig = urlsRequestConfig()

        return request<Unit, kotlin.collections.List<LiveUrl>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation urls
     *
     * @return RequestConfig
     */
    fun urlsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/matches/live/urls",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
