/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package deadlock_api_client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import deadlock_api_client.models.Modifier

import com.squareup.moshi.Json

import deadlock_api_client.infrastructure.ApiClient
import deadlock_api_client.infrastructure.ApiResponse
import deadlock_api_client.infrastructure.ClientException
import deadlock_api_client.infrastructure.ClientError
import deadlock_api_client.infrastructure.ServerException
import deadlock_api_client.infrastructure.ServerError
import deadlock_api_client.infrastructure.MultiValueMap
import deadlock_api_client.infrastructure.PartConfig
import deadlock_api_client.infrastructure.RequestConfig
import deadlock_api_client.infrastructure.RequestMethod
import deadlock_api_client.infrastructure.ResponseType
import deadlock_api_client.infrastructure.Success
import deadlock_api_client.infrastructure.toMultiValue

open class ModifiersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.deadlock-api.com")
        }
    }

    /**
     * GET /v1/assets/modifiers/{id_or_classname}
     * Get Modifier
     * Returns a single modifier by numeric id or by &#x60;class_name&#x60; (case-insensitive).
     * @param idOrClassname Modifier id (&#x60;murmurhash2(class_name)&#x60;) or &#x60;class_name&#x60;
     * @param clientVersion Client/game version (e.g. &#x60;6518&#x60;). Defaults to the latest known version. (optional)
     * @return Modifier
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getModifier(idOrClassname: kotlin.String, clientVersion: kotlin.Int? = null) : Modifier {
        val localVarResponse = getModifierWithHttpInfo(idOrClassname = idOrClassname, clientVersion = clientVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Modifier
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/assets/modifiers/{id_or_classname}
     * Get Modifier
     * Returns a single modifier by numeric id or by &#x60;class_name&#x60; (case-insensitive).
     * @param idOrClassname Modifier id (&#x60;murmurhash2(class_name)&#x60;) or &#x60;class_name&#x60;
     * @param clientVersion Client/game version (e.g. &#x60;6518&#x60;). Defaults to the latest known version. (optional)
     * @return ApiResponse<Modifier?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getModifierWithHttpInfo(idOrClassname: kotlin.String, clientVersion: kotlin.Int?) : ApiResponse<Modifier?> {
        val localVariableConfig = getModifierRequestConfig(idOrClassname = idOrClassname, clientVersion = clientVersion)

        return request<Unit, Modifier>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getModifier
     *
     * @param idOrClassname Modifier id (&#x60;murmurhash2(class_name)&#x60;) or &#x60;class_name&#x60;
     * @param clientVersion Client/game version (e.g. &#x60;6518&#x60;). Defaults to the latest known version. (optional)
     * @return RequestConfig
     */
    fun getModifierRequestConfig(idOrClassname: kotlin.String, clientVersion: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (clientVersion != null) {
                    put("client_version", listOf(clientVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/assets/modifiers/{id_or_classname}".replace("{"+"id_or_classname"+"}", encodeURIComponent(idOrClassname.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/assets/modifiers
     * List Modifiers
     * Returns modifier definitions parsed from the patch&#39;s &#x60;modifiers.vdata&#x60; KV3 source file, including the neutral (\&quot;Haunt\&quot;) abilities referenced by NPC units&#39; &#x60;neutral_abilities&#x60; / &#x60;neutral_melee&#x60; (&#x60;citadel_neutral_*&#x60;). Each entry exposes its class and numeric properties; nested properties use dotted paths.
     * @param clientVersion Client/game version (e.g. &#x60;6518&#x60;). Defaults to the latest known version. (optional)
     * @return kotlin.collections.List<Modifier>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listModifiers(clientVersion: kotlin.Int? = null) : kotlin.collections.List<Modifier> {
        val localVarResponse = listModifiersWithHttpInfo(clientVersion = clientVersion)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Modifier>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/assets/modifiers
     * List Modifiers
     * Returns modifier definitions parsed from the patch&#39;s &#x60;modifiers.vdata&#x60; KV3 source file, including the neutral (\&quot;Haunt\&quot;) abilities referenced by NPC units&#39; &#x60;neutral_abilities&#x60; / &#x60;neutral_melee&#x60; (&#x60;citadel_neutral_*&#x60;). Each entry exposes its class and numeric properties; nested properties use dotted paths.
     * @param clientVersion Client/game version (e.g. &#x60;6518&#x60;). Defaults to the latest known version. (optional)
     * @return ApiResponse<kotlin.collections.List<Modifier>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listModifiersWithHttpInfo(clientVersion: kotlin.Int?) : ApiResponse<kotlin.collections.List<Modifier>?> {
        val localVariableConfig = listModifiersRequestConfig(clientVersion = clientVersion)

        return request<Unit, kotlin.collections.List<Modifier>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listModifiers
     *
     * @param clientVersion Client/game version (e.g. &#x60;6518&#x60;). Defaults to the latest known version. (optional)
     * @return RequestConfig
     */
    fun listModifiersRequestConfig(clientVersion: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (clientVersion != null) {
                    put("client_version", listOf(clientVersion.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/assets/modifiers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
