/*
Deadlock API

 ## API Clients  We have auto generated and updated clients for many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)  ## Support the Deadlock API  Whether you're building your own database, developing data science projects, or enhancing your website with game and player analytics, the Deadlock API has the data you need.  Your sponsorship helps keep this resource open, free and future-proof for everyone. By supporting the Deadlock API, you will enable continued development, new features and reliable access for developers, analysts and streamers worldwide.  Help us continue to provide the data you need - sponsor the Deadlock API today!  **-> You can Sponsor the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or [GitHub](https://github.com/sponsors/raimannma)**  ## Disclaimer _deadlock-api.com is not endorsed by Valve and does not reflect the views or opinions of Valve or anyone officially involved in producing or managing Valve properties. Valve and all associated properties are trademarks or registered trademarks of Valve Corporation_         

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package deadlock_api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CrosshairAPIService CrosshairAPI service
type CrosshairAPIService service

type ApiCodeImageRequest struct {
	ctx context.Context
	ApiService *CrosshairAPIService
	code *string
	screenHeight *int32
}

// Crosshair share code, as copied from the game&#39;s crosshair settings (&#x60;DL.…&#x60;).
func (r ApiCodeImageRequest) Code(code string) ApiCodeImageRequest {
	r.code = &code
	return r
}

// Height of the screen to render for, in pixels. Crosshair sizes scale with it.
func (r ApiCodeImageRequest) ScreenHeight(screenHeight int32) ApiCodeImageRequest {
	r.screenHeight = &screenHeight
	return r
}

func (r ApiCodeImageRequest) Execute() ([]int32, *http.Response, error) {
	return r.ApiService.CodeImageExecute(r)
}

/*
CodeImage Crosshair Code Image

Renders a crosshair share code as a PNG, pixel for pixel as the game draws it at the given screen height. The image is square, centred on the crosshair and has a transparent background.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCodeImageRequest
*/
func (a *CrosshairAPIService) CodeImage(ctx context.Context) ApiCodeImageRequest {
	return ApiCodeImageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []int32
func (a *CrosshairAPIService) CodeImageExecute(r ApiCodeImageRequest) ([]int32, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrosshairAPIService.CodeImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crosshair/code/image"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.screenHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "screen_height", r.screenHeight, "form", "")
	} else {
		var defaultValue int32 = 1080
		parameterAddToHeaderOrQuery(localVarQueryParams, "screen_height", defaultValue, "form", "")
		r.screenHeight = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"image/png"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSettingsCodeRequest struct {
	ctx context.Context
	ApiService *CrosshairAPIService
	themed *bool
	pipGapStatic *bool
	pipWidth *int32
	pipHeight *int32
	pipGap *int32
	pipOpacity *float32
	pipOutlineBorder *int32
	pipOutlineGap *int32
	pipOutlineOpacity *float32
	dotSize *int32
	dotOpacity *float32
	dotOutlineBorder *int32
	dotOutlineGap *int32
	dotOutlineOpacity *float32
	colorR *int32
	colorG *int32
	colorB *int32
	outlineColorR *int32
	outlineColorG *int32
	outlineColorB *int32
}

// Use the hero&#39;s own crosshair instead of these settings.
func (r ApiSettingsCodeRequest) Themed(themed bool) ApiSettingsCodeRequest {
	r.themed = &themed
	return r
}

// Keep the pips at a fixed distance instead of spreading them with weapon spread.
func (r ApiSettingsCodeRequest) PipGapStatic(pipGapStatic bool) ApiSettingsCodeRequest {
	r.pipGapStatic = &pipGapStatic
	return r
}

func (r ApiSettingsCodeRequest) PipWidth(pipWidth int32) ApiSettingsCodeRequest {
	r.pipWidth = &pipWidth
	return r
}

func (r ApiSettingsCodeRequest) PipHeight(pipHeight int32) ApiSettingsCodeRequest {
	r.pipHeight = &pipHeight
	return r
}

func (r ApiSettingsCodeRequest) PipGap(pipGap int32) ApiSettingsCodeRequest {
	r.pipGap = &pipGap
	return r
}

// 0 to 1.
func (r ApiSettingsCodeRequest) PipOpacity(pipOpacity float32) ApiSettingsCodeRequest {
	r.pipOpacity = &pipOpacity
	return r
}

func (r ApiSettingsCodeRequest) PipOutlineBorder(pipOutlineBorder int32) ApiSettingsCodeRequest {
	r.pipOutlineBorder = &pipOutlineBorder
	return r
}

func (r ApiSettingsCodeRequest) PipOutlineGap(pipOutlineGap int32) ApiSettingsCodeRequest {
	r.pipOutlineGap = &pipOutlineGap
	return r
}

// 0 to 1.
func (r ApiSettingsCodeRequest) PipOutlineOpacity(pipOutlineOpacity float32) ApiSettingsCodeRequest {
	r.pipOutlineOpacity = &pipOutlineOpacity
	return r
}

func (r ApiSettingsCodeRequest) DotSize(dotSize int32) ApiSettingsCodeRequest {
	r.dotSize = &dotSize
	return r
}

// 0 to 1.
func (r ApiSettingsCodeRequest) DotOpacity(dotOpacity float32) ApiSettingsCodeRequest {
	r.dotOpacity = &dotOpacity
	return r
}

func (r ApiSettingsCodeRequest) DotOutlineBorder(dotOutlineBorder int32) ApiSettingsCodeRequest {
	r.dotOutlineBorder = &dotOutlineBorder
	return r
}

func (r ApiSettingsCodeRequest) DotOutlineGap(dotOutlineGap int32) ApiSettingsCodeRequest {
	r.dotOutlineGap = &dotOutlineGap
	return r
}

// 0 to 1.
func (r ApiSettingsCodeRequest) DotOutlineOpacity(dotOutlineOpacity float32) ApiSettingsCodeRequest {
	r.dotOutlineOpacity = &dotOutlineOpacity
	return r
}

func (r ApiSettingsCodeRequest) ColorR(colorR int32) ApiSettingsCodeRequest {
	r.colorR = &colorR
	return r
}

func (r ApiSettingsCodeRequest) ColorG(colorG int32) ApiSettingsCodeRequest {
	r.colorG = &colorG
	return r
}

func (r ApiSettingsCodeRequest) ColorB(colorB int32) ApiSettingsCodeRequest {
	r.colorB = &colorB
	return r
}

func (r ApiSettingsCodeRequest) OutlineColorR(outlineColorR int32) ApiSettingsCodeRequest {
	r.outlineColorR = &outlineColorR
	return r
}

func (r ApiSettingsCodeRequest) OutlineColorG(outlineColorG int32) ApiSettingsCodeRequest {
	r.outlineColorG = &outlineColorG
	return r
}

func (r ApiSettingsCodeRequest) OutlineColorB(outlineColorB int32) ApiSettingsCodeRequest {
	r.outlineColorB = &outlineColorB
	return r
}

func (r ApiSettingsCodeRequest) Execute() (*CrosshairCode, *http.Response, error) {
	return r.ApiService.SettingsCodeExecute(r)
}

/*
SettingsCode Crosshair Settings Code

Encodes crosshair settings into a share code that can be imported in the game. Settings that are not given keep the game's defaults.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSettingsCodeRequest
*/
func (a *CrosshairAPIService) SettingsCode(ctx context.Context) ApiSettingsCodeRequest {
	return ApiSettingsCodeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CrosshairCode
func (a *CrosshairAPIService) SettingsCodeExecute(r ApiSettingsCodeRequest) (*CrosshairCode, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CrosshairCode
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrosshairAPIService.SettingsCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crosshair/settings/code"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.themed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "themed", r.themed, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "themed", defaultValue, "form", "")
		r.themed = &defaultValue
	}
	if r.pipGapStatic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap_static", r.pipGapStatic, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap_static", defaultValue, "form", "")
		r.pipGapStatic = &defaultValue
	}
	if r.pipWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_width", r.pipWidth, "form", "")
	} else {
		var defaultValue int32 = 2
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_width", defaultValue, "form", "")
		r.pipWidth = &defaultValue
	}
	if r.pipHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_height", r.pipHeight, "form", "")
	} else {
		var defaultValue int32 = 16
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_height", defaultValue, "form", "")
		r.pipHeight = &defaultValue
	}
	if r.pipGap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap", r.pipGap, "form", "")
	} else {
		var defaultValue int32 = 4
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap", defaultValue, "form", "")
		r.pipGap = &defaultValue
	}
	if r.pipOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_opacity", r.pipOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.5
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_opacity", defaultValue, "form", "")
		r.pipOpacity = &defaultValue
	}
	if r.pipOutlineBorder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_border", r.pipOutlineBorder, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_border", defaultValue, "form", "")
		r.pipOutlineBorder = &defaultValue
	}
	if r.pipOutlineGap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_gap", r.pipOutlineGap, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_gap", defaultValue, "form", "")
		r.pipOutlineGap = &defaultValue
	}
	if r.pipOutlineOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_opacity", r.pipOutlineOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.7
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_opacity", defaultValue, "form", "")
		r.pipOutlineOpacity = &defaultValue
	}
	if r.dotSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_size", r.dotSize, "form", "")
	} else {
		var defaultValue int32 = 4
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_size", defaultValue, "form", "")
		r.dotSize = &defaultValue
	}
	if r.dotOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_opacity", r.dotOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.7
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_opacity", defaultValue, "form", "")
		r.dotOpacity = &defaultValue
	}
	if r.dotOutlineBorder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_border", r.dotOutlineBorder, "form", "")
	} else {
		var defaultValue int32 = 2
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_border", defaultValue, "form", "")
		r.dotOutlineBorder = &defaultValue
	}
	if r.dotOutlineGap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_gap", r.dotOutlineGap, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_gap", defaultValue, "form", "")
		r.dotOutlineGap = &defaultValue
	}
	if r.dotOutlineOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_opacity", r.dotOutlineOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.7
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_opacity", defaultValue, "form", "")
		r.dotOutlineOpacity = &defaultValue
	}
	if r.colorR != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_r", r.colorR, "form", "")
	} else {
		var defaultValue int32 = 255
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_r", defaultValue, "form", "")
		r.colorR = &defaultValue
	}
	if r.colorG != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_g", r.colorG, "form", "")
	} else {
		var defaultValue int32 = 255
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_g", defaultValue, "form", "")
		r.colorG = &defaultValue
	}
	if r.colorB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_b", r.colorB, "form", "")
	} else {
		var defaultValue int32 = 255
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_b", defaultValue, "form", "")
		r.colorB = &defaultValue
	}
	if r.outlineColorR != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_r", r.outlineColorR, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_r", defaultValue, "form", "")
		r.outlineColorR = &defaultValue
	}
	if r.outlineColorG != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_g", r.outlineColorG, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_g", defaultValue, "form", "")
		r.outlineColorG = &defaultValue
	}
	if r.outlineColorB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_b", r.outlineColorB, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_b", defaultValue, "form", "")
		r.outlineColorB = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSettingsImageRequest struct {
	ctx context.Context
	ApiService *CrosshairAPIService
	themed *bool
	pipGapStatic *bool
	pipWidth *int32
	pipHeight *int32
	pipGap *int32
	pipOpacity *float32
	pipOutlineBorder *int32
	pipOutlineGap *int32
	pipOutlineOpacity *float32
	dotSize *int32
	dotOpacity *float32
	dotOutlineBorder *int32
	dotOutlineGap *int32
	dotOutlineOpacity *float32
	colorR *int32
	colorG *int32
	colorB *int32
	outlineColorR *int32
	outlineColorG *int32
	outlineColorB *int32
	screenHeight *int32
}

// Use the hero&#39;s own crosshair instead of these settings.
func (r ApiSettingsImageRequest) Themed(themed bool) ApiSettingsImageRequest {
	r.themed = &themed
	return r
}

// Keep the pips at a fixed distance instead of spreading them with weapon spread.
func (r ApiSettingsImageRequest) PipGapStatic(pipGapStatic bool) ApiSettingsImageRequest {
	r.pipGapStatic = &pipGapStatic
	return r
}

func (r ApiSettingsImageRequest) PipWidth(pipWidth int32) ApiSettingsImageRequest {
	r.pipWidth = &pipWidth
	return r
}

func (r ApiSettingsImageRequest) PipHeight(pipHeight int32) ApiSettingsImageRequest {
	r.pipHeight = &pipHeight
	return r
}

func (r ApiSettingsImageRequest) PipGap(pipGap int32) ApiSettingsImageRequest {
	r.pipGap = &pipGap
	return r
}

// 0 to 1.
func (r ApiSettingsImageRequest) PipOpacity(pipOpacity float32) ApiSettingsImageRequest {
	r.pipOpacity = &pipOpacity
	return r
}

func (r ApiSettingsImageRequest) PipOutlineBorder(pipOutlineBorder int32) ApiSettingsImageRequest {
	r.pipOutlineBorder = &pipOutlineBorder
	return r
}

func (r ApiSettingsImageRequest) PipOutlineGap(pipOutlineGap int32) ApiSettingsImageRequest {
	r.pipOutlineGap = &pipOutlineGap
	return r
}

// 0 to 1.
func (r ApiSettingsImageRequest) PipOutlineOpacity(pipOutlineOpacity float32) ApiSettingsImageRequest {
	r.pipOutlineOpacity = &pipOutlineOpacity
	return r
}

func (r ApiSettingsImageRequest) DotSize(dotSize int32) ApiSettingsImageRequest {
	r.dotSize = &dotSize
	return r
}

// 0 to 1.
func (r ApiSettingsImageRequest) DotOpacity(dotOpacity float32) ApiSettingsImageRequest {
	r.dotOpacity = &dotOpacity
	return r
}

func (r ApiSettingsImageRequest) DotOutlineBorder(dotOutlineBorder int32) ApiSettingsImageRequest {
	r.dotOutlineBorder = &dotOutlineBorder
	return r
}

func (r ApiSettingsImageRequest) DotOutlineGap(dotOutlineGap int32) ApiSettingsImageRequest {
	r.dotOutlineGap = &dotOutlineGap
	return r
}

// 0 to 1.
func (r ApiSettingsImageRequest) DotOutlineOpacity(dotOutlineOpacity float32) ApiSettingsImageRequest {
	r.dotOutlineOpacity = &dotOutlineOpacity
	return r
}

func (r ApiSettingsImageRequest) ColorR(colorR int32) ApiSettingsImageRequest {
	r.colorR = &colorR
	return r
}

func (r ApiSettingsImageRequest) ColorG(colorG int32) ApiSettingsImageRequest {
	r.colorG = &colorG
	return r
}

func (r ApiSettingsImageRequest) ColorB(colorB int32) ApiSettingsImageRequest {
	r.colorB = &colorB
	return r
}

func (r ApiSettingsImageRequest) OutlineColorR(outlineColorR int32) ApiSettingsImageRequest {
	r.outlineColorR = &outlineColorR
	return r
}

func (r ApiSettingsImageRequest) OutlineColorG(outlineColorG int32) ApiSettingsImageRequest {
	r.outlineColorG = &outlineColorG
	return r
}

func (r ApiSettingsImageRequest) OutlineColorB(outlineColorB int32) ApiSettingsImageRequest {
	r.outlineColorB = &outlineColorB
	return r
}

// Height of the screen to render for, in pixels. Crosshair sizes scale with it.
func (r ApiSettingsImageRequest) ScreenHeight(screenHeight int32) ApiSettingsImageRequest {
	r.screenHeight = &screenHeight
	return r
}

func (r ApiSettingsImageRequest) Execute() ([]int32, *http.Response, error) {
	return r.ApiService.SettingsImageExecute(r)
}

/*
SettingsImage Crosshair Settings Image

Renders crosshair settings as a PNG, pixel for pixel as the game draws them at the given screen height. Settings that are not given keep the game's defaults. The image is square, centred on the crosshair and has a transparent background.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSettingsImageRequest
*/
func (a *CrosshairAPIService) SettingsImage(ctx context.Context) ApiSettingsImageRequest {
	return ApiSettingsImageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []int32
func (a *CrosshairAPIService) SettingsImageExecute(r ApiSettingsImageRequest) ([]int32, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CrosshairAPIService.SettingsImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/crosshair/settings/image"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.themed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "themed", r.themed, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "themed", defaultValue, "form", "")
		r.themed = &defaultValue
	}
	if r.pipGapStatic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap_static", r.pipGapStatic, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap_static", defaultValue, "form", "")
		r.pipGapStatic = &defaultValue
	}
	if r.pipWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_width", r.pipWidth, "form", "")
	} else {
		var defaultValue int32 = 2
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_width", defaultValue, "form", "")
		r.pipWidth = &defaultValue
	}
	if r.pipHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_height", r.pipHeight, "form", "")
	} else {
		var defaultValue int32 = 16
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_height", defaultValue, "form", "")
		r.pipHeight = &defaultValue
	}
	if r.pipGap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap", r.pipGap, "form", "")
	} else {
		var defaultValue int32 = 4
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_gap", defaultValue, "form", "")
		r.pipGap = &defaultValue
	}
	if r.pipOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_opacity", r.pipOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.5
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_opacity", defaultValue, "form", "")
		r.pipOpacity = &defaultValue
	}
	if r.pipOutlineBorder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_border", r.pipOutlineBorder, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_border", defaultValue, "form", "")
		r.pipOutlineBorder = &defaultValue
	}
	if r.pipOutlineGap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_gap", r.pipOutlineGap, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_gap", defaultValue, "form", "")
		r.pipOutlineGap = &defaultValue
	}
	if r.pipOutlineOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_opacity", r.pipOutlineOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.7
		parameterAddToHeaderOrQuery(localVarQueryParams, "pip_outline_opacity", defaultValue, "form", "")
		r.pipOutlineOpacity = &defaultValue
	}
	if r.dotSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_size", r.dotSize, "form", "")
	} else {
		var defaultValue int32 = 4
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_size", defaultValue, "form", "")
		r.dotSize = &defaultValue
	}
	if r.dotOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_opacity", r.dotOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.7
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_opacity", defaultValue, "form", "")
		r.dotOpacity = &defaultValue
	}
	if r.dotOutlineBorder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_border", r.dotOutlineBorder, "form", "")
	} else {
		var defaultValue int32 = 2
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_border", defaultValue, "form", "")
		r.dotOutlineBorder = &defaultValue
	}
	if r.dotOutlineGap != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_gap", r.dotOutlineGap, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_gap", defaultValue, "form", "")
		r.dotOutlineGap = &defaultValue
	}
	if r.dotOutlineOpacity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_opacity", r.dotOutlineOpacity, "form", "")
	} else {
		var defaultValue float32 = 0.7
		parameterAddToHeaderOrQuery(localVarQueryParams, "dot_outline_opacity", defaultValue, "form", "")
		r.dotOutlineOpacity = &defaultValue
	}
	if r.colorR != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_r", r.colorR, "form", "")
	} else {
		var defaultValue int32 = 255
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_r", defaultValue, "form", "")
		r.colorR = &defaultValue
	}
	if r.colorG != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_g", r.colorG, "form", "")
	} else {
		var defaultValue int32 = 255
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_g", defaultValue, "form", "")
		r.colorG = &defaultValue
	}
	if r.colorB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_b", r.colorB, "form", "")
	} else {
		var defaultValue int32 = 255
		parameterAddToHeaderOrQuery(localVarQueryParams, "color_b", defaultValue, "form", "")
		r.colorB = &defaultValue
	}
	if r.outlineColorR != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_r", r.outlineColorR, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_r", defaultValue, "form", "")
		r.outlineColorR = &defaultValue
	}
	if r.outlineColorG != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_g", r.outlineColorG, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_g", defaultValue, "form", "")
		r.outlineColorG = &defaultValue
	}
	if r.outlineColorB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_b", r.outlineColorB, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "outline_color_b", defaultValue, "form", "")
		r.outlineColorB = &defaultValue
	}
	if r.screenHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "screen_height", r.screenHeight, "form", "")
	} else {
		var defaultValue int32 = 1080
		parameterAddToHeaderOrQuery(localVarQueryParams, "screen_height", defaultValue, "form", "")
		r.screenHeight = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"image/png"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
