openapi: 3.1.0
info:
  contact:
    name: Deadlock API - Discord
    url: https://discord.gg/XMF9Xrgfqu
  description: "\n## Support the Deadlock API\n\nWhether you're building your own\
    \ database, developing data science projects, or enhancing your website with game\
    \ and player analytics, the Deadlock API has the data you need.\n\nYour sponsorship\
    \ helps keep this resource open, free and future-proof for everyone. By supporting\
    \ the Deadlock API, you will enable continued development, new features and reliable\
    \ access for developers, analysts and streamers worldwide.\n\nHelp us continue\
    \ to provide the data you need - sponsor the Deadlock API today!\n\n**-> You can\
    \ Sponsor the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896)\
    \ or [GitHub](https://github.com/sponsors/raimannma)**\n\n## Disclaimer\n_deadlock-api.com\
    \ is not endorsed by Valve and does not reflect the views or opinions of Valve\
    \ or anyone officially involved in producing or managing Valve properties. Valve\
    \ and all associated properties are trademarks or registered trademarks of Valve\
    \ Corporation_\n        "
  license:
    name: MIT
    url: https://github.com/deadlock-api/deadlock-api-rust/blob/master/LICENSE
  title: Deadlock API
  version: 0.1.0
externalDocs:
  description: Source Code
  url: https://github.com/deadlock-api/deadlock-api-rust
servers:
- url: https://api.deadlock-api.com
tags:
- description: |2

    Comprehensive match data endpoints for retrieving detailed information about games.
    Provides access to active matches, match metadata, replay salts, and more.
  name: Matches
- description: Custom Match related endpoints
  name: Custom Matches
- description: Player related endpoints
  name: Players
- description: "\n# STOP! READ THIS FIRST!\n\nPlease be very careful when using this\
    \ endpoint and make yourself familiar with the way we calculate the MMR.\n\nThis\
    \ is how we calculate a player MMR.\n\n1. We take the average badge of the team\
    \ the player was on in a match.\n2. We convert the badge to a MMR score using\
    \ the formula: `(intDiv(badge, 10) - 1) * 6 + (badge % 10)`\n3. We do a exponential\
    \ moving average (EMA) of the last 50 matches to get the player's MMR score.\n\
    4. We convert the MMR score back to a badge using the formula: `10 * intDiv(mmr_score,\
    \ 6) + 1 + mmr_score % 6`\n\n### Rate Limits:\n| Type | Limit |\n| ---- | -----\
    \ |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    "
  name: MMR
- description: Steam related endpoints
  name: Steam
- description: |2

    Endpoints for retrieving global and hero-specific leaderboards.
    Supports filtering by region and provides data in both JSON and protobuf formats.
  name: Leaderboard
- description: |2

    Comprehensive game statistics and analysis endpoints.
    Provides detailed performance metrics for heroes, items, and players, including hero synergies, counters, and combinations.
    Features scoreboards for both heroes and players.
  name: Analytics
- description: |2

    Search and retrieve hero builds with comprehensive filtering options.
  name: Builds
- description: Endpoints that return data about game patches.
  name: Patches
- description: |2

    Integration endpoints for the [Deadlock Streamkit](https://streamkit.deadlock-api.com/).
    Provides functionality to resolve dynamic command templates and variables for streaming overlays and chat commands.
    Includes endpoints to retrieve available variables, resolve specific variables or command templates, and get widget version information.
  name: Commands
- description: |2

    System status and info endpoints.
    Provides health checks for monitoring service availability (Clickhouse, Postgres, Redis) and API statistics including database table sizes, match fetching rates, and missed matches.
  name: Info
- name: E-Sports
- description: |2

    Database exploration endpoints for direct SQL access.
    Provides functionality to execute custom SQL queries with rate limiting protection, list available tables, and inspect table schemas.
  name: SQL
paths:
  /v1/analytics/ability-order-stats:
    get:
      description: "\nRetrieves statistics for the ability order of a hero.\n\n###\
        \ Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key\
        \ | - |\n| Global | - |\n    "
      operationId: ability_order_stats
      parameters:
      - description: "See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their minimum number of ability upgrades
          over the whole match.
        explode: true
        in: query
        name: min_ability_upgrades
        required: false
        schema:
          format: int64
          maximum: 16
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their maximum number of ability upgrades
          over the whole match.
        explode: true
        in: query
        name: max_ability_upgrades
        required: false
        schema:
          format: int64
          maximum: 16
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches played for an ability order to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsAbilityOrderStats"
                type: array
          description: Ability Order Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch ability order stats
      summary: Ability Order Stats
      tags:
      - Analytics
  /v1/analytics/badge-distribution:
    get:
      description: "\nThis endpoint returns the player badge distribution.\n\n###\
        \ Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key\
        \ | - |\n| Global | - |\n    "
      operationId: badge_distribution
      parameters:
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on whether they are in the high skill range.
        explode: true
        in: query
        name: is_high_skill_range_parties
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the low priority
          pool.
        explode: true
        in: query
        name: is_low_pri_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the new player pool.
        explode: true
        in: query
        name: is_new_player_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BadgeDistribution"
                type: array
          description: Badge Distribution
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch badge distribution
      summary: Badge Distribution
      tags:
      - Analytics
  /v1/analytics/build-item-stats:
    get:
      description: "\nRetrieves item statistics from hero builds.\n\nResults are cached\
        \ for **1 hour** based on the unique combination of query parameters provided.\
        \ Subsequent identical requests within this timeframe will receive the cached\
        \ response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP\
        \ | 100req/s |\n| Key | - |\n| Global | - |\n    "
      operationId: build_item_stats
      parameters:
      - description: "Filter builds based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter builds based on their last updated time (Unix timestamp).
          **Default:** 30 days ago.
        explode: true
        in: query
        name: min_last_updated_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter builds based on their last updated time (Unix timestamp).
        explode: true
        in: query
        name: max_last_updated_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BuildItemStats"
                type: array
          description: Build Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch build item stats
      summary: Build Item Stats
      tags:
      - Analytics
  /v1/analytics/hero-comb-stats:
    get:
      description: "\nRetrieves overall statistics for each hero combination.\n\n\
        Results are cached for **1 hour**. The cache key is determined by the specific\
        \ combination of filter parameters used in the query. Subsequent requests\
        \ using the exact same filters within this timeframe will receive the cached\
        \ response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP\
        \ | 100req/s |\n| Key | - |\n| Global | - |\n    "
      operationId: hero_comb_stats
      parameters:
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of hero ids to include. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: include_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of hero ids to exclude. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: exclude_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The combination size to return.
        explode: true
        in: query
        name: comb_size
        required: false
        schema:
          default: 6
          format: int32
          maximum: 6
          minimum: 2
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroCombStats"
                type: array
          description: Hero Comb Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero comb stats
      summary: Hero Comb Stats
      tags:
      - Analytics
  /v1/analytics/hero-counter-stats:
    get:
      description: "\nRetrieves hero-versus-hero matchup statistics based on historical\
        \ match data.\n\nThis endpoint analyzes completed matches to calculate how\
        \ often a specific hero (`hero_id`) wins against an enemy hero (`enemy_hero_id`)\
        \ and the total number of times they have faced each other under the specified\
        \ filter conditions.\n\nResults are cached for **1 hour** based on the combination\
        \ of query parameters provided. Subsequent identical requests within this\
        \ timeframe will receive the cached response.\n\n### Rate Limits:\n| Type\
        \ | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global |\
        \ - |\n    "
      operationId: hero_counters_stats
      parameters:
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter enemy players based on their net worth.
        explode: true
        in: query
        name: min_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter enemy players based on their net worth.
        explode: true
        in: query
        name: max_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only considers matchups where both `hero_id` and\
          \ `enemy_hero_id` were assigned to the same lane (e.g., both Mid Lane).\
          \ When `false`, considers all matchups regardless of assigned lane."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroCounterStats"
                type: array
          description: Hero Counter Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero counter stats
      summary: Hero Counter Stats
      tags:
      - Analytics
  /v1/analytics/hero-stats:
    get:
      description: "\nRetrieves performance statistics for each hero based on historical\
        \ match data.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP\
        \ | 100req/s |\n| Key | - |\n| Global | - |\n    "
      operationId: hero_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero within the filtered time range.
        explode: true
        in: query
        name: min_hero_matches
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero within the filtered time range.
        explode: true
        in: query
        name: max_hero_matches
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero in their entire history.
        explode: true
        in: query
        name: min_hero_matches_total
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero in their entire history.
        explode: true
        in: query
        name: max_hero_matches_total
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of item ids to include (only heroes who\
          \ have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to exclude (only heroes who\
          \ have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsHeroStats"
                type: array
          description: Hero Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero stats
      summary: Hero Stats
      tags:
      - Analytics
  /v1/analytics/hero-synergy-stats:
    get:
      description: "\nRetrieves hero pair synergy statistics based on historical match\
        \ data.\n\nThis endpoint analyzes completed matches to calculate how often\
        \ a specific pair of heroes (`hero_id1` and `hero_id2`) won when playing *together\
        \ on the same team*, and the total number of times they have played together\
        \ under the specified filter conditions.\n\nResults are cached for **1 hour**\
        \ based on the combination of query parameters provided. Subsequent identical\
        \ requests within this timeframe will receive the cached response.\n\n###\
        \ Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key\
        \ | - |\n| Global | - |\n    "
      operationId: hero_synergies_stats
      parameters:
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only considers matchups where both `hero_id1` and\
          \ `hero_id2` were assigned to the same lane (e.g., both Mid Lane). When\
          \ `false`, considers all matchups regardless of assigned lane."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: "When `true`, only considers matchups where both `hero_id` and\
          \ `hero_id2` were on the same party. When `false`, considers all matchups\
          \ regardless of party affiliation."
        explode: true
        in: query
        name: same_party_filter
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroSynergyStats"
                type: array
          description: Hero Synergy Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero synergy stats
      summary: Hero Synergy Stats
      tags:
      - Analytics
  /v1/analytics/item-permutation-stats:
    get:
      description: "\nRetrieves item permutation statistics based on historical match\
        \ data.\n\nResults are cached for **1 hour** based on the unique combination\
        \ of query parameters provided. Subsequent identical requests within this\
        \ timeframe will receive the cached response.\n\n### Rate Limits:\n| Type\
        \ | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global |\
        \ - |\n    "
      operationId: item_permutation_stats
      parameters:
      - description: "Comma separated list of item ids. See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: The combination size to return.
        explode: true
        in: query
        name: comb_size
        required: false
        schema:
          default: 2
          format: int32
          maximum: 12
          minimum: 2
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - deprecated: true
        description: "Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ItemPermutationStats"
                type: array
          description: Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch item stats
      summary: Item Permutation Stats
      tags:
      - Analytics
  /v1/analytics/item-stats:
    get:
      description: "\nRetrieves item statistics based on historical match data.\n\n\
        Results are cached for **1 hour** based on the unique combination of query\
        \ parameters provided. Subsequent identical requests within this timeframe\
        \ will receive the cached response.\n\n### Rate Limits:\n| Type | Limit |\n\
        | ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    "
      operationId: item_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - hero
          - team
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          - game_time_min
          - game_time_normalized_percentage
          - net_worth_by_1000
          - net_worth_by_2000
          - net_worth_by_3000
          - net_worth_by_5000
          - net_worth_by_10000
          type: string
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - deprecated: true
        description: "Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of item ids to include. See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to exclude. See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: The minimum number of matches played for an item to be included
          in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ItemStats"
                type: array
          description: Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch item stats
      summary: Item Stats
      tags:
      - Analytics
  /v1/analytics/player-stats/metrics:
    get:
      description: "\nReturns comprehensive statistical analysis of player performance.\n\
        \nResults are cached for **1 hour** based on the unique combination of query\
        \ parameters provided. Subsequent identical requests within this timeframe\
        \ will receive the cached response.\n\n> Note: Quantiles are calculated using\
        \ the [DDSketch](https://www.vldb.org/pvldb/vol12/p2195-masson.pdf) algorithm,\
        \ so they are not exact but have a maximum relative error of 0.01.\n\n###\
        \ Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key\
        \ | - |\n| Global | - |\n    "
      operationId: player_stats_metrics
      parameters:
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches to analyze.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of item ids to include (only heroes who\
          \ have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to exclude (only heroes who\
          \ have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HashMap"
          description: Hero Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch player stats metrics
      summary: Player Stats Metrics
      tags:
      - Analytics
  /v1/analytics/scoreboards/heroes:
    get:
      description: "\nThis endpoint returns the hero scoreboard.\n\n### Rate Limits:\n\
        | Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global\
        \ | - |\n    "
      operationId: hero_scoreboard
      parameters:
      - description: The field to sort by.
        explode: true
        in: query
        name: sort_by
        required: true
        schema:
          enum:
          - matches
          - wins
          - losses
          - winrate
          - max_kills_per_match
          - avg_kills_per_match
          - kills
          - max_deaths_per_match
          - avg_deaths_per_match
          - deaths
          - max_damage_taken_per_match
          - avg_damage_taken_per_match
          - damage_taken
          - max_assists_per_match
          - avg_assists_per_match
          - assists
          - max_net_worth_per_match
          - avg_net_worth_per_match
          - net_worth
          - max_last_hits_per_match
          - avg_last_hits_per_match
          - last_hits
          - max_denies_per_match
          - avg_denies_per_match
          - denies
          - max_player_level_per_match
          - avg_player_level_per_match
          - player_level
          - max_creep_kills_per_match
          - avg_creep_kills_per_match
          - creep_kills
          - max_neutral_kills_per_match
          - avg_neutral_kills_per_match
          - neutral_kills
          - max_creep_damage_per_match
          - avg_creep_damage_per_match
          - creep_damage
          - max_player_damage_per_match
          - avg_player_damage_per_match
          - player_damage
          - max_neutral_damage_per_match
          - avg_neutral_damage_per_match
          - neutral_damage
          - max_boss_damage_per_match
          - avg_boss_damage_per_match
          - boss_damage
          - max_max_health_per_match
          - avg_max_health_per_match
          - max_health
          - max_shots_hit_per_match
          - avg_shots_hit_per_match
          - shots_hit
          - max_shots_missed_per_match
          - avg_shots_missed_per_match
          - shots_missed
          - max_hero_bullets_hit_per_match
          - avg_hero_bullets_hit_per_match
          - hero_bullets_hit
          - max_hero_bullets_hit_crit_per_match
          - avg_hero_bullets_hit_crit_per_match
          - hero_bullets_hit_crit
          type: string
        style: form
      - description: The direction to sort heroes in.
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Filter by min number of matches played.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1758153600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Entry"
                type: array
          description: Hero Scoreboard
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero scoreboard
      summary: Hero Scoreboard
      tags:
      - Analytics
  /v1/analytics/scoreboards/players:
    get:
      description: "\nThis endpoint returns the player scoreboard.\n\n### Rate Limits:\n\
        | Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global\
        \ | - |\n    "
      operationId: player_scoreboard
      parameters:
      - description: The field to sort by.
        explode: true
        in: query
        name: sort_by
        required: true
        schema:
          enum:
          - matches
          - wins
          - losses
          - winrate
          - max_kills_per_match
          - avg_kills_per_match
          - kills
          - max_deaths_per_match
          - avg_deaths_per_match
          - deaths
          - max_damage_taken_per_match
          - avg_damage_taken_per_match
          - damage_taken
          - max_assists_per_match
          - avg_assists_per_match
          - assists
          - max_net_worth_per_match
          - avg_net_worth_per_match
          - net_worth
          - max_last_hits_per_match
          - avg_last_hits_per_match
          - last_hits
          - max_denies_per_match
          - avg_denies_per_match
          - denies
          - max_player_level_per_match
          - avg_player_level_per_match
          - player_level
          - max_creep_kills_per_match
          - avg_creep_kills_per_match
          - creep_kills
          - max_neutral_kills_per_match
          - avg_neutral_kills_per_match
          - neutral_kills
          - max_creep_damage_per_match
          - avg_creep_damage_per_match
          - creep_damage
          - max_player_damage_per_match
          - avg_player_damage_per_match
          - player_damage
          - max_neutral_damage_per_match
          - avg_neutral_damage_per_match
          - neutral_damage
          - max_boss_damage_per_match
          - avg_boss_damage_per_match
          - boss_damage
          - max_max_health_per_match
          - avg_max_health_per_match
          - max_health
          - max_shots_hit_per_match
          - avg_shots_hit_per_match
          - shots_hit
          - max_shots_missed_per_match
          - avg_shots_missed_per_match
          - shots_missed
          - max_hero_bullets_hit_per_match
          - avg_hero_bullets_hit_per_match
          - hero_bullets_hit
          - max_hero_bullets_hit_crit_per_match
          - avg_hero_bullets_hit_crit_per_match
          - hero_bullets_hit_crit
          type: string
        style: form
      - description: The direction to sort players in.
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: "Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches played for a player to be included
          in the scoreboard.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (0-116) of *both*\
          \ teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The offset to start fetching players from.
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The maximum number of players to fetch.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 10000
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Entry"
                type: array
          description: Player Scoreboard
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch player scoreboard
      summary: Player Scoreboard
      tags:
      - Analytics
  /v1/builds:
    get:
      description: "\nSearch for builds based on various criteria.\n\n### Rate Limits:\n\
        | Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global\
        \ | - |\n    "
      operationId: search_builds
      parameters:
      - description: Filter builds based on their `last_updated` time (Unix timestamp).
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter builds based on their `last_updated` time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter builds based on their published time (Unix timestamp).
        explode: true
        in: query
        name: min_published_unix_timestamp
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Filter builds based on their published time (Unix timestamp).
        explode: true
        in: query
        name: max_published_unix_timestamp
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The field to sort the builds by.
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - weekly_favorites
          - favorites
          - ignores
          - reports
          - updated_at
          - published_at
          - version
          type: string
        style: form
      - description: The index of the first build to return.
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of builds to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: The direction to sort the builds in.
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          enum:
          - desc
          - asc
          type: string
        style: form
      - description: Search for builds with a name containing this string.
        explode: true
        in: query
        name: search_name
        required: false
        schema:
          type: string
        style: form
      - description: Search for builds with a description containing this string.
        explode: true
        in: query
        name: search_description
        required: false
        schema:
          type: string
        style: form
      - description: Only return the latest version of each build.
        explode: true
        in: query
        name: only_latest
        required: false
        schema:
          type: boolean
        style: form
      - description: Filter builds by language.
        explode: true
        in: query
        name: language
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Filter builds by ID.
        explode: true
        in: query
        name: build_id
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Filter builds by version.
        explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: "Filter builds by hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Filter builds by tag.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Filter builds by rollup category.
        explode: true
        in: query
        name: rollup_category
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: The author's `SteamID3`
        explode: true
        in: query
        name: author_id
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Build"
                type: array
          description: ""
        "400":
          description: Provided parameters are invalid.
        "429":
          description: Rate limit exceeded
        "500":
          description: Internal server error
      summary: Search
      tags:
      - Builds
  /v1/commands/resolve:
    get:
      description: "\n    Resolves a command and returns the resolved command.\n\n\
        ### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 60req/60s |\n\
        | Key | - |\n| Global | 300req/60s |\n    "
      operationId: command_resolve
      parameters:
      - description: The players region
        explode: true
        in: query
        name: region
        required: false
        schema:
          enum:
          - Europe
          - Asia
          - NAmerica
          - SAmerica
          - Oceania
          type: string
        style: form
      - description: The players `SteamID3`
        explode: true
        in: query
        name: account_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: The command template to resolve
        explode: true
        in: query
        name: template
        required: false
        schema:
          type: string
        style: form
      - description: Hero name to check for hero specific stats
        explode: true
        in: query
        name: hero_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: ""
        "400":
          description: Provided parameters are invalid.
      summary: Resolve Command
      tags:
      - Commands
  /v1/commands/variables/available:
    get:
      description: "\nReturns a list of available variables that can be used in the\
        \ command endpoint.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | -----\
        \ |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    "
      operationId: available_variables
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VariableDescription"
                type: array
          description: ""
        "400":
          description: Provided parameters are invalid.
      summary: Available Variables
      tags:
      - Commands
  /v1/commands/variables/resolve:
    get:
      description: "\nResolves variables and returns a map of variable name to resolved\
        \ value.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 60req/min\
        \ |\n| Key | - |\n| Global | 300req/min |\n    "
      operationId: variables_resolve
      parameters:
      - explode: true
        in: query
        name: region
        required: false
        schema:
          enum:
          - Europe
          - Asia
          - NAmerica
          - SAmerica
          - Oceania
          type: string
        style: form
      - explode: true
        in: query
        name: account_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: "Variables to resolve, separated by commas."
        explode: true
        in: query
        name: variables
        required: false
        schema:
          type: string
        style: form
      - description: Hero name to check for hero specific stats
        explode: true
        in: query
        name: hero_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
          description: ""
        "400":
          description: Provided parameters are invalid.
      summary: Resolve Variables
      tags:
      - Commands
  /v1/commands/widgets/versions:
    get:
      description: |2

        Returns a map of str->int of widget versions.

        ### Rate Limits:
        | Type | Limit |
        | ---- | ----- |
        | IP | 100req/s |
        | Key | - |
        | Global | - |
      operationId: widget_versions
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  format: int32
                  type: integer
          description: ""
        "400":
          description: Provided parameters are invalid.
      summary: Widget Versions
      tags:
      - Commands
  /v1/esports/ingest/match:
    post:
      description: "\nTo use this Endpoint you need to have special permissions.\n\
        Please contact us if you organize E-Sports Matches and want to ingest them\
        \ to us.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 1000req/h\
        \ |\n| Key | - |\n| Global | 10000req/h |\n    "
      operationId: ingest_match
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ESportsMatch"
        required: true
      responses:
        "200":
          description: ""
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Ingest failed
      summary: Ingest
      tags:
      - E-Sports
  /v1/esports/matches:
    get:
      description: "\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP |\
        \ 100req/s |\n| Key | - |\n| Global | - |\n    "
      operationId: matches
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ESportsMatch"
                type: array
          description: ""
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Internal server error
      summary: List Matches
      tags:
      - E-Sports
  /v1/info:
    get:
      description: "\nReturns information about the API.\n\n### Rate Limits:\n| Type\
        \ | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global |\
        \ - |\n    "
      operationId: info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIInfo"
          description: ""
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: ""
      summary: API Info
      tags:
      - Info
  /v1/info/health:
    get:
      description: "\nChecks the health of the services.\n\n### Rate Limits:\n| Type\
        \ | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global |\
        \ - |\n    "
      operationId: health_check
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
          description: ""
        "500":
          content:
            text/plain:
              schema:
                type: string
          description: ""
      summary: Health Check
      tags:
      - Info
  /v1/leaderboard/{region}:
    get:
      description: "\nReturns the leaderboard.\n\n### Rate Limits:\n| Type | Limit\
        \ |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n  \
        \  "
      operationId: leaderboard
      parameters:
      - description: The region to fetch the leaderboard for.
        explode: false
        in: path
        name: region
        required: true
        schema:
          enum:
          - Europe
          - Asia
          - NAmerica
          - SAmerica
          - Oceania
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Leaderboard"
          description: ""
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Fetching or parsing the leaderboard failed
      summary: Leaderboard
      tags:
      - Leaderboard
  /v1/leaderboard/{region}/raw:
    get:
      description: "\nReturns the leaderboard, serialized as protobuf message.\n\n\
        You have to decode the protobuf message.\n\nProtobuf definitions can be found\
        \ here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)\n\
        \nRelevant Protobuf Message:\n- CMsgClientToGcGetLeaderboardResponse\n\n###\
        \ Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key\
        \ | - |\n| Global | - |\n    "
      operationId: leaderboard_raw
      parameters:
      - description: The region to fetch the leaderboard for.
        explode: false
        in: path
        name: region
        required: true
        schema:
          enum:
          - Europe
          - Asia
          - NAmerica
          - SAmerica
          - Oceania
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                items:
                  format: int32
                  minimum: 0
                  type: integer
                type: array
          description: ""
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Fetching the leaderboard failed
      summary: Leaderboard as Protobuf
      tags:
      - Leaderboard
  /v1/leaderboard/{region}/{hero_id}:
    get:
      description: "\nReturns the leaderboard for a specific hero.\n\n### Rate Limits:\n\
        | Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global\
        \ | - |\n    "
      operationId: leaderboard_hero
      parameters:
      - description: The region to fetch the leaderboard for.
        explode: false
        in: path
        name: region
        required: true
        schema:
          enum:
          - Europe
          - Asia
          - NAmerica
          - SAmerica
          - Oceania
          type: string
        style: simple
      - description: "The hero ID to fetch the leaderboard for. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Leaderboard"
          description: ""
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Fetching or parsing the hero leaderboard failed
      summary: Hero Leaderboard
      tags:
      - Leaderboard
  /v1/leaderboard/{region}/{hero_id}/raw:
    get:
      description: "\nReturns the leaderboard for a specific hero, serialized as protobuf\
        \ message.\n\nYou have to decode the protobuf message.\n\nProtobuf definitions\
        \ can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)\n\
        \nRelevant Protobuf Message:\n- CMsgClientToGcGetLeaderboardResponse\n\n###\
        \ Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key\
        \ | - |\n| Global | - |\n    "
      operationId: leaderboard_hero_raw
      parameters:
      - description: The region to fetch the leaderboard for.
        explode: false
        in: path
        name: region
        required: true
        schema:
          enum:
          - Europe
          - Asia
          - NAmerica
          - SAmerica
          - Oceania
          type: string
        style: simple
      - description: "The hero ID to fetch the leaderboard for. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                items:
                  format: int32
                  minimum: 0
                  type: integer
                type: array
          description: ""
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Fetching the hero leaderboard failed
      summary: Hero Leaderboard as Protobuf
      tags:
      - Leaderboard
  /v1/matches/active:
    get:
      description: "\nReturns active matches that are currently being played.\n\n\
        Fetched from the watch tab in game, which is limited to the **top 200 matches**.\n\
        \n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n\
        | Key | - |\n| Global | - |\n    "
      operationId: active_matches
      parameters:
      - deprecated: true
        description: The account ID to filter active matches by (`SteamID3`)
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ActiveMatch"
                type: array
          description: ""
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Fetching or parsing active matches failed
      summary: Active
      tags:
      - Matches
  /v1/matches/active/raw:
    get:
      description: "\nReturns active matches that are currently being played, serialized\
        \ as protobuf message.\n\nFetched from the watch tab in game, which is limited\
        \ to the **top 200 matches**.\n\nYou have to decode the protobuf message.\n\
        \nProtobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)\n\
        \nRelevant Protobuf Message:\n- CMsgClientToGcGetActiveMatchesResponse\n\n\
        ### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n\
        | Key | - |\n| Global | - |\n    "
      operationId: active_matches_raw
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                items:
                  format: int32
                  minimum: 0
                  type: integer
                type: array
          description: ""
        "500":
          description: Fetching active matches failed
      summary: Active as Protobuf
      tags:
      - Matches
  /v1/matches/custom/create:
    post:
[...]
