openapi: 3.1.0
info:
  contact:
    name: Deadlock API - Discord
    url: https://discord.gg/XMF9Xrgfqu
  description: "\n## API Clients\n\nWe have auto generated and updated clients for\
    \ many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)\n\
    \n## Support the Deadlock API\n\nWhether you're building your own database, developing\
    \ data science projects, or enhancing your website with game and player analytics,\
    \ the Deadlock API has the data you need.\n\nYour sponsorship helps keep this\
    \ resource open, free and future-proof for everyone. By supporting the Deadlock\
    \ API, you will enable continued development, new features and reliable access\
    \ for developers, analysts and streamers worldwide.\n\nHelp us continue to provide\
    \ the data you need - sponsor the Deadlock API today!\n\n**-> You can Sponsor\
    \ the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or\
    \ [GitHub](https://github.com/sponsors/raimannma)**\n\n## Disclaimer\n_deadlock-api.com\
    \ is not endorsed by Valve and does not reflect the views or opinions of Valve\
    \ or anyone officially involved in producing or managing Valve properties. Valve\
    \ and all associated properties are trademarks or registered trademarks of Valve\
    \ Corporation_\n        "
  license:
    name: MIT
    url: https://github.com/deadlock-api/deadlock-api/blob/master/LICENSE
  title: Deadlock API
  version: 0.1.0
externalDocs:
  description: Source Code
  url: https://github.com/deadlock-api/deadlock-api
servers:
- url: https://api.deadlock-api.com
tags:
- description: |2

    Comprehensive match data endpoints for retrieving detailed information about games.
    Provides access to active matches, match metadata, replay salts, and more.
  name: Matches
- description: Custom Match related endpoints
  name: Custom Matches
- description: Player related endpoints
  name: Players
- description: "\n# STOP! READ THIS FIRST!\n\nPlease be very careful when using this\
    \ endpoint and make yourself familiar with the way we calculate the MMR.\n\nThis\
    \ is how we calculate a player MMR.\n\n1. We take the average badge of the team\
    \ the player was on in a match.\n2. We convert the badge to a MMR score using\
    \ the formula: `(intDiv(badge, 10) - 1) * 6 + (badge % 10)`\n3. We do a exponential\
    \ moving average (EMA) of the last 50 matches to get the player's MMR score.\n\
    4. We convert the MMR score back to a badge using the formula: `10 * intDiv(mmr_score,\
    \ 6) + 1 + mmr_score % 6`\n\n### Rate Limits:\n| Type | Limit |\n| ---- | -----\
    \ |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    "
  name: MMR
- description: Steam related endpoints
  name: Steam
- description: |2

    Endpoints for retrieving global and hero-specific leaderboards.
    Supports filtering by region and provides data in both JSON and protobuf formats.
  name: Leaderboard
- description: |2

    Comprehensive game statistics and analysis endpoints.
    Provides detailed performance metrics for heroes, items, and players, including hero synergies, counters, and combinations.
    Features scoreboards for both heroes and players.
  name: Analytics
- description: |2

    Search and retrieve hero builds with comprehensive filtering options.
  name: Builds
- description: Endpoints that return data about game patches.
  name: Patches
- description: |2

    Integration endpoints for the [Deadlock Streamkit](https://streamkit.deadlock-api.com/).
    Provides functionality to resolve dynamic command templates and variables for streaming overlays and chat commands.
    Includes endpoints to retrieve available variables, resolve specific variables or command templates, and get widget version information.
  name: Commands
- description: |2

    System status and info endpoints.
    Provides health checks for monitoring service availability (Clickhouse, Postgres, Redis) and API statistics including database table sizes, match fetching rates, and missed matches.
  name: Info
- description: |2

    Database exploration endpoints for direct SQL access.
    Provides functionality to execute custom SQL queries with rate limiting protection, list available tables, and inspect table schemas.
  name: SQL
- description: |2

    Game server status and listing endpoints.
    Used by game servers to report their status and by clients to discover available servers.
  name: Servers
paths:
  /v1/analytics/ability-order-stats:
    get:
      description: "\nRetrieves statistics for the ability order of a hero.\n\n###\
        \ Rate Limits:\n> The rate limits below are **shared across all analytics\
        \ endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n\
        | Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: ability_order_stats
      parameters:
      - description: "See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their minimum number of ability upgrades
          over the whole match.
        explode: true
        in: query
        name: min_ability_upgrades
        required: false
        schema:
          format: int64
          maximum: 16
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their maximum number of ability upgrades
          over the whole match.
        explode: true
        in: query
        name: max_ability_upgrades
        required: false
        schema:
          format: int64
          maximum: 16
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches played for an ability order to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to include (only players who\
          \ have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to exclude (only players who\
          \ have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsAbilityOrderStats"
                type: array
          description: Ability Order Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch ability order stats
      summary: Ability Order Stats
      tags:
      - Analytics
  /v1/analytics/badge-distribution:
    get:
      description: "\nThis endpoint returns the player badge distribution.\n\n###\
        \ Rate Limits:\n> The rate limits below are **shared across all analytics\
        \ endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n\
        | Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: badge_distribution
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on whether they are in the high skill range.
        explode: true
        in: query
        name: is_high_skill_range_parties
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the low priority
          pool.
        explode: true
        in: query
        name: is_low_pri_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the new player pool.
        explode: true
        in: query
        name: is_new_player_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BadgeDistribution"
                type: array
          description: Badge Distribution
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch badge distribution
      summary: Badge Distribution
      tags:
      - Analytics
  /v1/analytics/build-item-stats:
    get:
      description: "\nRetrieves item statistics from hero builds.\n\nResults are cached\
        \ for **1 hour** based on the unique combination of query parameters provided.\
        \ Subsequent identical requests within this timeframe will receive the cached\
        \ response.\n\n### Rate Limits:\n> The rate limits below are **shared across\
        \ all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP |\
        \ 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: build_item_stats
      parameters:
      - description: "Filter builds based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter builds based on their last updated time (Unix timestamp).
          **Default:** 30 days ago.
        explode: true
        in: query
        name: min_last_updated_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter builds based on their last updated time (Unix timestamp).
        explode: true
        in: query
        name: max_last_updated_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BuildItemStats"
                type: array
          description: Build Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch build item stats
      summary: Build Item Stats
      tags:
      - Analytics
  /v1/analytics/game-stats:
    get:
      description: "\nRetrieves aggregate game-level statistics.\n\n### Rate Limits:\n\
        > The rate limits below are **shared across all analytics endpoints**.\n\n\
        | Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min\
        \ |\n| Global | 2000req/min |\n    "
      operationId: game_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - avg_badge
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          type: string
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: |-
          Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>
          Only works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: |-
          Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>
          Only works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsGameStats"
                type: array
          description: Game Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch game stats
      summary: Game Stats
      tags:
      - Analytics
  /v1/analytics/hero-ban-stats:
    get:
      description: "\nRetrieves ban statistics for each hero based on historical match\
        \ data from demo analysis.\n\nOnly matches with successfully extracted ban\
        \ data are included. Matches where ban extraction failed (empty `banned_hero_ids`)\
        \ are excluded entirely.\n\nResults are cached for **1 hour** based on the\
        \ combination of query parameters provided.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: hero_ban_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - avg_badge
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          type: string
        style: form
      - description: "Filter matches based on their start time (Unix timestamp). **Default:**\
          \ 30 days ago. **Minimum:** March 1, 2026."
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroBanStats"
                type: array
          description: Hero Ban Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero ban stats
      summary: Hero Ban Stats
      tags:
      - Analytics
  /v1/analytics/hero-build-stats/{hero_id}:
    get:
      description: "\nRetrieves performance statistics for hero builds based on historical\
        \ match data from demo analysis.\n\nOnly includes builds that exist in the\
        \ hero builds database.\n\nThe `hero_build_id` is the first build the player\
        \ had selected when the game started. It does not reflect any build changes\
        \ made during the match.\n\nResults are cached for **1 hour** based on the\
        \ combination of query parameters provided.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: hero_build_stats
      parameters:
      - description: "The hero ID to fetch build stats for. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: false
        in: path
        name: hero_id
        required: true
        schema:
          format: int32
          minimum: 0
          type: integer
        style: simple
      - description: "Filter matches based on their start time (Unix timestamp). **Default:**\
          \ 30 days ago. **Minimum:** March 1, 2026."
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter results for a specific hero build.
        explode: true
        in: query
        name: hero_build_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: The minimum number of matches played for a build to be included
          in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroBuildStats"
                type: array
          description: Hero Build Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero build stats
      summary: Hero Build Stats
      tags:
      - Analytics
  /v1/analytics/hero-comb-stats:
    get:
      description: "\nRetrieves overall statistics for each hero combination.\n\n\
        Results are cached for **1 hour**. The cache key is determined by the specific\
        \ combination of filter parameters used in the query. Subsequent requests\
        \ using the exact same filters within this timeframe will receive the cached\
        \ response.\n\n### Rate Limits:\n> The rate limits below are **shared across\
        \ all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP |\
        \ 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: hero_comb_stats
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of hero ids to include. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: include_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of hero ids to exclude. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: exclude_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of enemy hero ids to include. See more:\
          \ <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: include_enemy_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of enemy hero ids to exclude. See more:\
          \ <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: exclude_enemy_hero_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The combination size to return.
        explode: true
        in: query
        name: comb_size
        required: false
        schema:
          default: 6
          format: int32
          maximum: 6
          minimum: 2
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroCombStats"
                type: array
          description: Hero Comb Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero comb stats
      summary: Hero Comb Stats
      tags:
      - Analytics
  /v1/analytics/hero-counter-stats:
    get:
      description: "\nRetrieves hero-versus-hero matchup statistics based on historical\
        \ match data.\n\nThis endpoint analyzes completed matches to calculate how\
        \ often a specific hero (`hero_id`) wins against an enemy hero (`enemy_hero_id`)\
        \ and the total number of times they have faced each other under the specified\
        \ filter conditions.\n\nResults are cached for **1 hour** based on the combination\
        \ of query parameters provided. Subsequent identical requests within this\
        \ timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: hero_counters_stats
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter enemy players based on their net worth.
        explode: true
        in: query
        name: min_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter enemy players based on their net worth.
        explode: true
        in: query
        name: max_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only considers matchups where both `hero_id` and\
          \ `enemy_hero_id` were assigned to the same lane (e.g., both Mid Lane).\
          \ When `false`, considers all matchups regardless of assigned lane."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroCounterStats"
                type: array
          description: Hero Counter Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero counter stats
      summary: Hero Counter Stats
      tags:
      - Analytics
  /v1/analytics/hero-stats:
    get:
      description: "\nRetrieves performance statistics for each hero based on historical\
        \ match data.\n\n### Rate Limits:\n> The rate limits below are **shared across\
        \ all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP |\
        \ 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: hero_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - avg_badge
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          type: string
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero within the filtered time range.
        explode: true
        in: query
        name: min_hero_matches
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero within the filtered time range.
        explode: true
        in: query
        name: max_hero_matches
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero in their entire history.
        explode: true
        in: query
        name: min_hero_matches_total
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on the number of matches they have played
          with a specific hero in their entire history.
        explode: true
        in: query
        name: max_hero_matches_total
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of item ids to include (only players who\
          \ have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to exclude (only players who\
          \ have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AnalyticsHeroStats"
                type: array
          description: Hero Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero stats
      summary: Hero Stats
      tags:
      - Analytics
  /v1/analytics/hero-synergy-stats:
    get:
      description: "\nRetrieves hero pair synergy statistics based on historical match\
        \ data.\n\nThis endpoint analyzes completed matches to calculate how often\
        \ a specific pair of heroes (`hero_id1` and `hero_id2`) won when playing *together\
        \ on the same team*, and the total number of times they have played together\
        \ under the specified filter conditions.\n\nResults are cached for **1 hour**\
        \ based on the combination of query parameters provided. Subsequent identical\
        \ requests within this timeframe will receive the cached response.\n\n###\
        \ Rate Limits:\n> The rate limits below are **shared across all analytics\
        \ endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n\
        | Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: hero_synergies_stats
      parameters:
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only considers matchups where both `hero_id1` and\
          \ `hero_id2` were assigned to the same lane (e.g., both Mid Lane). When\
          \ `false`, considers all matchups regardless of assigned lane."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          default: true
          nullable: true
          type: boolean
        style: form
      - description: The minimum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int64
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HeroSynergyStats"
                type: array
          description: Hero Synergy Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch hero synergy stats
      summary: Hero Synergy Stats
      tags:
      - Analytics
  /v1/analytics/item-permutation-stats:
    get:
      description: "\nRetrieves item permutation statistics based on historical match\
        \ data.\n\nResults are cached for **1 hour** based on the unique combination\
        \ of query parameters provided. Subsequent identical requests within this\
        \ timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate\
        \ limits below are **shared across all analytics endpoints**.\n\n| Type |\
        \ Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n|\
        \ Global | 2000req/min |\n    "
      operationId: item_permutation_stats
      parameters:
      - description: "Comma separated list of item ids. See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: The combination size to return.
        explode: true
        in: query
        name: comb_size
        required: false
        schema:
          default: 2
          format: int32
          maximum: 12
          minimum: 2
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - deprecated: true
        description: "Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ItemPermutationStats"
                type: array
          description: Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch item stats
      summary: Item Permutation Stats
      tags:
      - Analytics
  /v1/analytics/item-stats:
    get:
      description: "\nRetrieves item statistics based on historical match data.\n\n\
        Results are cached for **1 hour** based on the unique combination of query\
        \ parameters provided. Subsequent identical requests within this timeframe\
        \ will receive the cached response.\n\n### Rate Limits:\n> The rate limits\
        \ below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n\
        | ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min\
        \ |\n    "
      operationId: item_stats
      parameters:
      - description: Bucket allows you to group the stats by a specific field.
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - no_bucket
          - hero
          - team
          - start_time_hour
          - start_time_day
          - start_time_week
          - start_time_month
          - game_time_min
          - game_time_normalized_percentage
          - net_worth_by_1000
          - net_worth_by_2000
          - net_worth_by_3000
          - net_worth_by_5000
          - net_worth_by_10000
          type: string
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - deprecated: true
        description: "Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter to matches where one or more of these heroes were on\
          \ the opposing team. Comma separated. When set, returns \"what items beat\
          \ hero(es) X?\" stats. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: enemy_hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "When `true`, requires *all* of the specified `enemy_hero_ids`\
          \ to be on the same enemy team. When `false` (default), matches if *any*\
          \ of the specified hero(es) are on the enemy team. Ignored when `enemy_hero_ids`\
          \ is unset."
        explode: true
        in: query
        name: enemy_hero_ids_all_match
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter the specified enemy hero(es) by their final net worth.
          Ignored when `enemy_hero_ids` is unset.
        explode: true
        in: query
        name: min_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter the specified enemy hero(es) by their final net worth.
          Ignored when `enemy_hero_ids` is unset.
        explode: true
        in: query
        name: max_enemy_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "When `true`, only counts buyers in the same `assigned_lane`\
          \ as one of the specified enemy heroes. Ignored when `enemy_hero_ids` is\
          \ unset. **Default:** `false`."
        explode: true
        in: query
        name: same_lane_filter
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Comma separated list of item ids to include. See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to exclude. See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: The minimum number of matches played for an item to be included
          in the response.
        explode: true
        in: query
        name: min_matches
        required: false
        schema:
          default: 20
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The maximum number of matches played for a hero combination to
          be included in the response.
        explode: true
        in: query
        name: max_matches
        required: false
        schema:
          format: int32
          minimum: 1
          nullable: true
          type: integer
        style: form
      - deprecated: true
        description: Filter for matches with a specific player account ID.
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      - description: Filter items bought after this game time (seconds).
        explode: true
        in: query
        name: min_bought_at_s
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter items bought before this game time (seconds).
        explode: true
        in: query
        name: max_bought_at_s
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ItemStats"
                type: array
          description: Item Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch item stats
      summary: Item Stats
      tags:
      - Analytics
  /v1/analytics/kill-death-stats:
    get:
      description: "\nThis endpoint returns the kill-death statistics across a 128x128\
        \ pixel raster.\n\n### Rate Limits:\n> The rate limits below are **shared\
        \ across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n\
        | IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: kill_death_stats
      parameters:
      - description: Filter by team number.
        explode: true
        in: query
        name: team
        required: false
        schema:
          format: int32
          maximum: 1
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches by account IDs of players that participated in
          the match.
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on whether they are in the high skill range.
        explode: true
        in: query
        name: is_high_skill_range_parties
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the low priority
          pool.
        explode: true
        in: query
        name: is_low_pri_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on whether they are in the new player pool.
        explode: true
        in: query
        name: is_new_player_pool
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter Raster cells based on minimum kills.
        explode: true
        in: query
        name: min_kills_per_raster
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter Raster cells based on maximum kills.
        explode: true
        in: query
        name: max_kills_per_raster
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter Raster cells based on minimum deaths.
        explode: true
        in: query
        name: min_deaths_per_raster
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter Raster cells based on maximum deaths.
        explode: true
        in: query
        name: max_deaths_per_raster
        required: false
        schema:
          format: int32
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter kills based on their game time.
        explode: true
        in: query
        name: min_game_time_s
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter kills based on their game time.
        explode: true
        in: query
        name: max_game_time_s
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/KillDeathStats"
                type: array
          description: Kill Death Stats
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch kill death stats
      summary: Kill Death Stats
      tags:
      - Analytics
  /v1/analytics/player-performance-curve:
    get:
      description: "\nRetrieves player performance statistics (net worth, kills, deaths,\
        \ assists) over time throughout matches.\n\nResults are cached for **1 hour**\
        \ based on the unique combination of query parameters provided.\n\n### Rate\
        \ Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\
        \n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min\
        \ |\n| Global | 2000req/min |\n    "
      operationId: player_performance_curve
      parameters:
      - description: |-
          Resolution for relative game times in percent (0-100).
          **Default:** 10 (buckets of 10%).
          Set to **0** to use absolute game time (seconds).
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: max_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: min_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the average badge level (tier = first\
          \ digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>"
        explode: true
        in: query
        name: max_average_badge
        required: false
        schema:
          format: int32
          maximum: 116
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: min_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their ID.
        explode: true
        in: query
        name: max_match_id
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Comma separated list of item ids to include (only players who\
          \ have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: include_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: "Comma separated list of item ids to exclude (only players who\
          \ have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>"
        explode: true
        in: query
        name: exclude_item_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          nullable: true
          type: array
        style: form
      - description: Comma separated list of account ids to include
        explode: true
        in: query
        name: account_ids
        required: false
        schema:
          items:
            format: int32
            minimum: 0
            type: integer
          maxItems: 1000
          minItems: 1
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerPerformanceCurvePoint"
                type: array
          description: Player Performance Curve
        "400":
          description: Provided parameters are invalid.
        "500":
          description: Failed to fetch player performance curve
      summary: Player Performance Curve
      tags:
      - Analytics
  /v1/analytics/player-stats/metrics:
    get:
      description: "\nReturns comprehensive statistical analysis of player performance.\n\
        \nResults are cached for **1 hour** based on the unique combination of query\
        \ parameters provided. Subsequent identical requests within this timeframe\
        \ will receive the cached response.\n\n> Note: Quantiles are calculated using\
        \ the [DDSketch](https://www.vldb.org/pvldb/vol12/p2195-masson.pdf) algorithm,\
        \ so they are not exact but have a maximum relative error of 0.01.\n\n###\
        \ Rate Limits:\n> The rate limits below are **shared across all analytics\
        \ endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n\
        | Key | 400req/min |\n| Global | 2000req/min |\n    "
      operationId: player_stats_metrics
      parameters:
      - description: "Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>"
        explode: true
        in: query
        name: hero_ids
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Filter matches based on their game mode. Valid values: `normal`,\
          \ `street_brawl`. **Default:** `normal`."
        explode: true
        in: query
        name: game_mode
        required: false
        schema:
          enum:
          - normal
          - street_brawl
          - explore_n_y_c
          - internal
          nullable: true
          type: string
        style: form
      - description: Filter matches based on their start time (Unix timestamp). **Default:**
          30 days ago.
        explode: true
        in: query
        name: min_unix_timestamp
        required: false
        schema:
          default: 1775001600
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their start time (Unix timestamp).
        explode: true
        in: query
        name: max_unix_timestamp
        required: false
        schema:
          format: int64
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: min_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter matches based on their duration in seconds (up to 7000s).
        explode: true
        in: query
        name: max_duration_s
        required: false
        schema:
          format: int64
          maximum: 7000
          minimum: 0
          nullable: true
          type: integer
        style: form
      - description: Filter players based on their final net worth.
        explode: true
        in: query
        name: min_networth
        required: false
        schema:
          format: int64
          minimum: 0
          nullable: true
          type: integer
        style: form
[...]
